<template>
  <div :class="[$style['block'], wrapperClass]">
    <input
      v-bind="$attrs"
      :id="id"
      :type="type"
      :class="$style['input']"
      class="input"
      :value="value"
      v-on="inputListeners"
    >
    <span
      :class="[$style['block_toggle']]"
    >
      <svgicon v-if="icon !== ''" :name="icon" />
    </span>
  </div>
</template>

<script>
import '@/components/svg-icons/form'

export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default: ''
    },
    wrapperClass: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'text'
    },
    icon: {
      type: String,
      default: ''
    }
  },
  computed: {
    inputListeners () {
      return Object.assign({}, this.$listeners, {
        input: (event) => {
          this.$emit('input', event.target.value)
        }
      })
    }
  }
}
</script>

<style lang="scss" module>
.block {
  position: relative;
}

.block_toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #200E32;
  :global(.svg-icon) {
    display: block;
    font-size: 16px;
    //width: (16 / 12) + em;
  }
}
.input{
  padding-right: 48px;
}
</style>
