<template>
  <div :class="[$style['block'], wrapperClass]">
    <input
      v-bind="$attrs"
      :type="isPasswordVisible ? 'text' : 'password'"
      :class="$style['input']"
      class="input"
      :value="value"
      autocomplete="on"
      v-on="inputListeners"
    >
    <a
      href="#"
      :class="[$style['block_toggle'], {[$style['block_toggle--active']]: isPasswordVisible}]"
      @click.prevent="changeVisibility"
    >
      <svgicon v-if="isPasswordVisible" name="form/icon-eye" class="svg-icon-eye" />
      <svgicon v-else name="form/icon-eye-slash" class="svg-icon-eye-slash" />
    </a>
  </div>
</template>

<script>
import '@/components/svg-icons/form'

export default {
  inheritAttrs: false,
  props: {
    wrapperClass: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      isPasswordVisible: false
    }
  },
  computed: {
    inputListeners () {
      return Object.assign({}, this.$listeners, {
        input: (event) => {
          this.$emit('input', event.target.value)
        }
      })
    }
  },
  methods: {
    changeVisibility () {
      this.isPasswordVisible = !this.isPasswordVisible
    }
  }
}
</script>

<style lang="scss" module>
.block {
  position: relative;
}

.block_toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #200E32;

  &--active{
    color: $clr-main-secondary;
  }

  :global(.svg-icon) {
    display: block;
    font-size: 16px;
    //width: (16 / 12) + em;
  }
}
.input{
  padding-right: 48px;
}
</style>
