<template>
  <div :class="[$style['block'], wrapperClass]">
    <span
      :class="[$style['block_toggle']]"
    >
      <svgicon v-if="icon !== ''" :name="icon" />
    </span>
    <input
      v-bind="$attrs"
      :id="id"
      :type="type"
      :class="[$style['input'], {'input--white-and-border' : inputWhite }]"
      class="input"
      :value="value"
      :readonly="readOnly"
      v-on="inputListeners"
    >
  </div>
</template>

<script>
import '@/components/svg-icons/form'

export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default: ''
    },
    wrapperClass: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'text'
    },
    icon: {
      type: String,
      default: ''
    },
    inputWhite: {
      type: Boolean,
      default: true
    },
    readOnly: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    inputListeners () {
      return Object.assign({}, this.$listeners, {
        input: (event) => {
          this.$emit('input', event.target.value)
        }
      })
    }
  }
}
</script>

<style lang="scss" module>
.block {
  position: relative;
}

.block_toggle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: $clr-text-secondary;
  :global(.svg-icon) {
    display: block;
    font-size: 16px;
    //width: (16 / 12) + em;
  }
}
.input{
  padding-left: 48px;
}
</style>
