<template>
  <div>
    <input ref="fileInput" type="file" accept="image/*" @change="onFileChange">
    <div class="upload__box" :class="{'upload__box--active' : image, 'upload__box--mini': mini}">
      <div v-if="!image" class="upload__empty" @click="triggerUpload">
        <svgicon name="sign/icon-camera" class="svg-icon-upload-image" />
        <p class="upload__formats">
          PDF, PNG, JPG
        </p>
      </div>
      <img v-if="image" :src="image" alt="imageW9">
      <div v-if="image" class="upload__replace" @click="triggerUpload">
        <svgicon name="sign/icon-replace" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UploadImage',
  props: {
    mini: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      image: ''
    }
  },
  methods: {
    triggerUpload () {
      this.$refs.fileInput.click()
    },
    onFileChange (event) {
      const file = event.target.files[0]
      this.$emit('onSelect', file)
      const reader = new FileReader()
      if (file) {
        reader.onload = (e) => {
          this.image = reader.result
        }
        reader.readAsDataURL(file)
      }
    }
  }
}
</script>
