<template>
  <div :class="$style['block']">
    <div :class="$style['block__route']">
      <div :class="$style['block__origin']">
        <h5 :class="$style['block__title']">
          Origin
        </h5>
        <div class="form_app_filter">
          <div :class="['form_field field form_field--2']">
            <label>City</label>
            <input v-model="formOrigin.city" class="input input--white" type="text" placeholder="Enter your city">
          </div>
          <div :class="['form_field field']">
            <label>State</label>
            <VueMultiselect
              v-model="formOrigin.state"
              :options="getStates"
              label="state_code"
              :allow-empty="false"
              placeholder="Select state"
            />
          </div>
          <div :class="['form_field field']">
            <label>Radius (mi.)</label>
            <VueMultiselect
              v-model="formOrigin.radius"
              :options="radius"
              :allow-empty="false"
              placeholder="Select radius"
            />
          </div>
        </div>
      </div>
      <div :class="$style['block__destination']">
        <h5 :class="$style['block__title']">
          Destination
        </h5>
        <div class="form_app_filter">
          <div :class="['form_field field form_field--2']">
            <label>City</label>
            <input v-model="formDestination.city" class="input input--white" type="text" placeholder="Enter your city">
          </div>
          <div :class="['form_field field']">
            <label>State</label>
            <VueMultiselect
              v-model="formDestination.state"
              :options="getStates"
              label="state_code"
              :allow-empty="false"
              placeholder="Select state"
            />
          </div>
          <div :class="['form_field field']">
            <label>Radius (mi.)</label>
            <VueMultiselect
              :model="formDestination.radius"
              :options="radius"
              :allow-empty="false"
              placeholder="Select radius"
            />
          </div>
        </div>
      </div>
    </div>
    <div :class="$style['block__details']">
      <h5 :class="$style['block__title']">
        Details
      </h5>
      <div class="form_app_filter">
        <div :class="['form_field field']">
          <label>Equipment Type</label>
          <VueMultiselect
            v-model="formDetails.equipment_type"
            :options="getEquipments"
            label="name"
            :allow-empty="false"
            placeholder="Equipment Type"
          />
        </div>
        <div :class="['form_field field']">
          <label>Full / Partial</label>
          <VueMultiselect
            v-model="formDetails.workload"
            :options="workload"
            label="title"
            :allow-empty="false"
            :searchable="false"
            placeholder="Select workload"
          />
        </div>
        <div :class="['form_field field']">
          <label>Equipment Size (ft)</label>
          <VueMultiselect
            v-model="formDetails.equipment_size"
            :options="equipment_size"
            label="title"
            :allow-empty="false"
            placeholder="Equipment Size"
          />
        </div>
        <div :class="['form_field field']">
          <label>Max Wt. (lbs)</label>
          <VueMultiselect
            v-model="formDetails.max_weight"
            :options="truck_weight"
            label="title"
            :allow-empty="false"
            placeholder="Max length"
          />
        </div>
        <div :class="['form_field field']">
          <label>Lookback (hrs)</label>
          <input v-model="formDetails.look_back" class="input input--white" type="text" placeholder="Lookback">
        </div>
        <div :class="['form_field field']">
          <label>Start Date</label>
          <UiDatapicker
            v-model="formDetails.start_date"
            :popover="{ visibility: 'focus' }"
            :input-class="['input--white']"
            placeholder="Start Date"
          />
        </div>
        <div :class="['form_field field']">
          <label>End Date</label>
          <UiDatapicker
            v-model="formDetails.end_date"
            :popover="{ visibility: 'focus' }"
            :input-class="['input--white']"
            placeholder="End date"
          />
        </div>
      </div>
    </div>
    <div :class="$style['block__btn']">
      <button class="btn btn--light btn--md" @click.prevent="clear">
        Clear
      </button>
      <button class="btn btn--md">
        Search
      </button>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/app/icon-calendar'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'LoadboardSearch',
  data () {
    return {
      formOrigin: {
        city: '',
        state: '',
        radius: ''
      },
      formDestination: {
        city: '',
        state: '',
        radius: ''
      },
      formDetails: {
        workload: '',
        equipment_size: '',
        max_weight: '',
        equipment_type: '',
        look_back: '',
        start_date: '',
        end_date: ''
      },
      radius: [30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360],
      workload: [
        { title: 'Any', id: 1 },
        { title: 'Partial', id: 2 },
        { title: 'Full', id: 3 }
      ],
      equipment_type: [
        { title: 'Box truck', id: 1 },
        { title: 'Van', id: 2 },
        { title: 'Cutaway van chassis', id: 3 },
        { title: 'Flatbed truck', id: 4 },
        { title: 'Platform truck', id: 5 }
      ],
      equipment_size: [
        { title: '13 ft', id: 1 },
        { title: '23 ft', id: 2 },
        { title: '30 ft', id: 3 },
        { title: '53 ft', id: 4 },
        { title: '88 ft', id: 5 }
      ],
      truck_weight: [
        { title: '13 lbs', id: 1 },
        { title: '23 lbs', id: 2 },
        { title: '30 lbs', id: 3 },
        { title: '53 lbs', id: 4 },
        { title: '88 lbs', id: 5 }
      ]
    }
  },
  computed: {
    ...mapGetters('load', ['getStates', 'getEquipments'])
  },
  async created () {
    try {
      this.container_size = await this.fetchContainerSize()
    } catch ({ message }) {
      this.$notify({
        group: 'notify',
        type: 'error',
        text: message
      })
    }
  },

  methods: {
    ...mapActions('load', ['fetchContainerSize', 'fetchState']),
    clear () {
      this.formOrigin = {
        city: '',
        state: '',
        radius: ''
      }
      this.formDestination = {
        city: '',
        state: '',
        radius: ''
      }
      this.formDetails = {
        data: '',
        workload: '',
        truck_type: '',
        max_length: '',
        max_weight: ''
      }
      this.$notify({
        type: 'success',
        title: 'Search cleared'
      })
    }
  }

}
</script>

<style module lang="scss">
.block{
  &__title{
    font-size: 20px;
    line-height: 1;
    margin-bottom: 16px;
  }
  &__route{
    @include row-flex();
    margin-bottom: 24px;
  }
  &__details{
    margin-bottom: 24px;
  }
  &__origin,
  &__destination{
    @include col();
    @include size(6);
    @include size-lg(6);
  }
  &__btn{
    display: flex;
    justify-content: flex-end;
    button:not(:last-child){
      margin-right: 16px;
    }
  }
}
.input_wrapper {
  position: relative;
  :global(.svg-icon) {
    display: block;
    color: $clr-text-secondary;
  }
}
</style>
