<template>
  <client-only>
    <notifications position="top center" width="340px">
      <template slot="body" slot-scope="{ item }">
        <div class="my-notify" :class="{ 'success': item.type === 'success', 'warning' : item.type === 'warning', 'error' : item.type === 'error'}">
          <div class="my-notify__flex">
            <div class="my-notify__icon">
              <svgicon v-if="item.type === 'success'" name="icon-checked" />
              <svgicon v-if="item.type === 'warning'" name="icon-warning" />
              <svgicon v-if="item.type === 'error'" name="icon-close" />
            </div>
            <p class="my-notify__title">
              {{ item.title }}
            </p>
          </div>
          <div v-if="item.text" class="my-notify__content" v-html="item.text" />
        </div>
      </template>
    </notifications>
  </client-only>
</template>

<script>
export default {
  name: 'CustomNotifications'
}
</script>
