<template>
  <div :class="$style['load']">
    <div :class="$style['load__inner']">
      <div :class="$style['load__header']">
        <div :class="$style['load__header__left']">
          <nuxt-link :to="$getRoutePath('carrier/dashboard')" :class="[$style['load__back'], 'icon_circle', 'icon_circle--xl']">
            <svgicon name="icon-line-arrow" />
          </nuxt-link>
          <h2 :class="$style['load__title']">
            Load #{{ $route.params.id }}
          </h2>
          <div :class="[$style['load__status'], 'load_status', 'load_status--progress']">
            In Progress
            <!--            Динамически давать класс, это уже когда будут данные, метод можно взять с dashboard/index-->
          </div>
        </div>
        <div :class="$style['load__header__right']">
          <div>
            <!--            Пока никакого связывания с статусами нет, будет уже после получения данных с бэка-->
            <!--            <client-only>-->
            <!--              <VueMultiselect-->
            <!--                v-model="status"-->
            <!--                :options="allStatus"-->
            <!--                :allow-empty="false"-->
            <!--                :searchable="false"-->
            <!--                m-size="md"-->
            <!--                :m-style="statusClass(status)"-->
            <!--              />-->
            <!--            </client-only>-->
          </div>
          <div :class="[$style['load__print'], 'icon_circle', 'icon_circle--xl']">
            <svgicon name="app/icon-printer" class="svg-icon-printer" />
          </div>
          <button class="btn btn--white btn--md btn--no-shadow">
            Close
          </button>
          <button class="btn btn--white btn--disabled btn--md  btn--no-shadow" disabled>
            Save Changes
          </button>
        </div>
      </div>
      <div :class="$style['load__main']">
        <div ref="left" :class="[$style['load__main__left'], {[$style['have_scroll']] : haveScroll}]">
          <div :class="$style['load__cards']">
            <div :class="$style['load__card']">
              <h3> Summary </h3>
              <div v-for="(item, i) of summary" :key="i" :class="$style['load__card__flex']">
                <p>
                  {{ item.title }}
                </p>
                <span>
                  {{ item.value }}
                </span>
              </div>
            </div>
            <div :class="$style['load__card']">
              <h3> Preview </h3>
              <div>
                <img src="/static/images/map.jpg" alt="map">
              </div>
            </div>
          </div>
        </div>
        <div :class="$style['load__main__right']">
          <div :class="$style['load__tabs']">
            <div :class="[$style['load__tab'], {[$style['load__tab--active']]: activeTab === 'info'}]" @click.prevent="changeTab('info')">
              <svgicon name="load/icon-info" />
              <p>Load info</p>
            </div>
            <div :class="[$style['load__tab'], {[$style['load__tab--active']]: activeTab === 'billing'}]" @click.prevent="changeTab('billing')">
              <svgicon name="load/icon-billing" />
              <p>Billing</p>
            </div>
            <div :class="[$style['load__tab'], {[$style['load__tab--active']]: activeTab === 'documents'}]" @click.prevent="changeTab('documents')">
              <svgicon name="load/icon-documents" />
              <p>Documents</p>
            </div>
            <div :class="[$style['load__tab'], {[$style['load__tab--active']]: activeTab === 'notes'}]" @click.prevent="changeTab('notes')">
              <svgicon name="load/icon-notes" />
              <p>Notes</p>
            </div>
          </div>
          <template v-if="activeTab === 'info'">
            <AppDashboardLoadInfo />
          </template>
          <template v-if="activeTab === 'billing'">
            <AppDashboardLoadBilling />
          </template>
          <template v-if="activeTab === 'documents'">
            <AppDashboardLoadDocuments />
          </template>
          <template v-if="activeTab === 'notes'">
            <AppDashboardLoadNotes />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/icon-line-arrow'
import '@/components/svg-icons/phone'
import '@/components/svg-icons/icon-profile'
import '@/components/svg-icons/app/icon-printer'
import '@/components/svg-icons/load'
export default {
  name: 'Load',
  layout: 'app',
  data () {
    return {
      activeTab: 'info',
      status: 'In Progress',
      haveScroll: false,
      summary: [
        { title: 'Load  #', value: this.$route.params.id },
        { title: 'BOL #', value: '' },
        { title: 'Chassis #', value: '' },
        { title: 'SSL', value: '' },
        { title: 'Size', value: '' },
        { title: 'Weight', value: '31200 lbs' },
        { title: 'Type', value: '' },
        { title: 'Commodity', value: '' },
        { title: 'Reference', value: '' },
        { title: 'Total Miles', value: '38.36' }
      ],
      allStatus: ['Delivered', 'In Progress', 'Failed']
    }
  },
  mounted () {
    this.blockHaveScroll()
  },
  methods: {
    blockHaveScroll () {
      this.haveScroll = this.$refs.left?.clientHeight < this.$refs.left?.scrollHeight
    },
    changeTab (val) {
      this.activeTab = val
    },
    statusClass (status) {
      return status.toLowerCase() === 'delivered'
        ? 'status--delivered'
        : status.toLowerCase() === 'failed' ? 'status--failed' : 'status--progress'
    }
  }
}
</script>

<style lang="scss" module>
.load{
  &__header{
    display: flex;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $clr-bgc-line;
    margin-bottom: 32px;
    &__left,
    &__right{
      display: flex;
      align-items: center;
    }
    &__right{
      & > *{
        &:not(:last-child){
          margin-right: 16px;
        }
      }
    }
  }
  &__back{
    margin-right: 16px;
    :global(.svg-icon){
      color: $clr-text-primary;
      transform: rotate(90deg);
      font-size: 18px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 24px;
    margin-right: 16px;
  }
  &__main{
    display: flex;
    max-height: calc(100vh - 281px);
    &__left{
      align-items: stretch;
      flex: 0 0 340px;
      max-width: 340px;
      overflow-y: auto;
      margin-right: 12px;
      &::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #F1F1F3;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #F1F1F3;
        border-radius: 16px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #D0CFDC;
        border-radius: 16px;
      }
    }
    &__right{
      flex-grow: 1;
    }
  }
  &__card{
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 16px;
    &:not(:last-child){
      margin-bottom: 8px;
    }
    h3{
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: $clr-text-primary;
      margin-bottom: 16px;
    }
    &__flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child){
        margin-bottom: 8px;
      }
      p, span{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $clr-text-secondary;
      }
      span{
        font-weight: 600;
      }
    }
  }
  &__tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  &__tab{
    flex: 1;
    background-color: #fff;
    padding: 32px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    :global(.svg-icon){
      font-size: 28px;
      color: #292D32;
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $clr-text-primary;
      margin-top: 10px;
    }
    &--active{
      border-color:$clr-main-secondary;
    }
  }
}
.have_scroll{
  padding-right: 12px;
}
</style>
