<!--Есть что дарабоать строки 16-->
<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <div :class="$style['block__header__left']">
        <vue-multiselect
          v-model="type_loads"
          :searchable="false"
          :options="all_types"
          placeholder="Select Doc type"
          m-style="loads"
        />
        <div :class="$style['block__calendar']">
          <v-date-picker v-model="date_range" is-range :popover="{ visibility: 'focus' }" :locale="{ id: $i18n.locale, firstDayOfWeek: 2, masks: { weekdays: 'WW' }}" trim-weeks>
            <template #default="{ inputValue, inputEvents }">
              <div :class="$style['input_wrapper']">
                <input
                  :class="$style['block__date_input']"
                  type="text"
                  class="input input--white"
                  :value="inputValue.start ? (inputValue.start + ' - ' + inputValue.end) : ''"
                  placeholder="Select date"
                  readonly
                  v-on="inputEvents.start"
                >
                <div class="datepicker_icon">
                  <svgicon name="app/icon-calendar" class="svg-icon-calendar" />
                </div>
                <div v-if="!!inputValue.start || !!inputValue.end" :class="$style['reset']" @click="resetDateRange">
                  <svgicon icon="icon-close" />
                </div>
              </div>
            </template>
          </v-date-picker>
        </div>
      </div>
      <div :class="[$style['block__pagination'], $style['pagination']]">
        <!--        Вынести пагинацию в отдельный компонент, доделать логику и анимацию при наведении и т.д-->
        <button :class="$style['pagination__btn']">
          First
        </button>
        <div :class="$style['pagination__pages']">
          <button :class="$style['pagination__prev']">
            <svgicon name="icon-line-arrow" />
          </button>
          <div :class="$style['pagination__page']">
            1
          </div>
          <button :class="$style['pagination__next']">
            <svgicon name="icon-line-arrow" />
          </button>
        </div>
        <button :class="$style['pagination__btn']">
          Last
        </button>
      </div>
    </div>
    <div :class="$style['block__cards']">
      <div v-for="card in cards" :key="card.id" :class="[$style['block__card'], $style['card']]">
        <div :class="$style['card__inner']">
          <div :class="[$style['card__icon'], $style[cardIconClass(card.type)]]">
            <svgicon :name="`delivery/${card.icon}`" />
          </div>
          <div :class="$style['card__info']">
            <h4 :class="$style['card__title']">
              {{ card.title }}
            </h4>
            <div :class="$style['card__total']">
              {{ card.total }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div :class="$style['block__table']">
      <div class="table-scrolling-wrapper">
        <table class="table-scrolling">
          <thead>
            <tr>
              <th class="table-scrolling--mini">
                #
              </th>
              <th class="table-scrolling--mini checkbox">
                <label>
                  <input v-model="selectAll" type="checkbox" @change="selectedAll">
                  <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
                </label>
              </th>
              <th v-for="(title, i) of table.thead" :key="i">
                {{ title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of table.tbody" :key="item.id" :class="statusClass(item.status)" @click="goLoad(item.id)">
              <td class="table-scrolling--mini">
                {{ item.id }}
              </td>
              <td class="table-scrolling--mini checkbox" @click.stop>
                <label>
                  <input v-model="item.check" type="checkbox">
                  <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
                </label>
              </td>
              <td>
                <span class="load_status" :class="statusClass(item.status)">{{ item.status }}</span>
              </td>
              <td v-for="(detail, index) of item.details" :key="index">
                {{ detail }}
              </td>
              <td @click.stop>
                <client-only>
                  <VueMultiselect
                    v-model="item.status"
                    :options="allStatus"
                    :allow-empty="false"
                    :searchable="false"
                    m-size="mini"
                  />
                </client-only>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/icon-line-arrow'
import '@/components/svg-icons/app/icon-calendar'
import '@/components/svg-icons/delivery'
import '@/components/svg-icons/icon-checked'
export default {
  name: 'Dashboard',
  layout: 'app',
  data: () => ({
    type_loads: 'All Loads',
    all_types: ['All Loads', 'Past Loads', 'Today', 'Saturday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    selectAll: false,
    date_range: {
      start: '',
      end: ''
    },
    allStatus: ['Delivered', 'In Progress', 'Failed'],
    cards: [
      { id: 1, title: 'Total shipments', total: 564, type: 'secondary', icon: 'box' },
      { id: 2, title: 'Being Delivered', total: 48, type: 'warning', icon: 'box-time' },
      { id: 3, title: 'Delivered', total: 438, type: 'success', icon: 'box-done' },
      { id: 4, title: 'Failed', total: 8, type: 'error', icon: 'box-error' }
    ],
    table: {
      thead: ['Load status', 'Load Id', 'Move', 'Next Address', 'ETA', 'LFD', 'CUT', 'PICKUP',
        'APT', 'Customer', 'Container', 'Chassis', 'Size', 'Type', 'SSL', 'BOL/BKG', 'Port', 'Consignee',
        'Location', 'RTN', 'Distance', 'BOBTAIL', 'Return', 'SEAL NO', 'Pick up', 'Return', 'Change Status'
      ],
      tbody: [
        {
          id: 1,
          check: false,
          status: 'In Progress',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 2,
          check: false,
          status: 'In Progress',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 3,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 4,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 5,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 6,
          check: false,
          status: 'Failed',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 7,
          check: false,
          status: 'In Progress',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 8,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 9,
          check: false,
          status: 'Failed',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 10,
          check: false,
          status: 'Failed',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 11,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 12,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 13,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 14,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 15,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 16,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 17,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 18,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 19,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        },
        {
          id: 20,
          check: false,
          status: 'Delivered',
          details: ['9675584', 'Import', '', '', '06.21', '', '', '', 'Leslie Alexander', 'MEDU7246513',
            '', '40’', 'HC', 'MSC', 'MEDUTO051576', 'Maher', 'Leslie Alexander', 'South Brunswick Township,NJ',
            'GCT NY', '30.86', '', '', '', 'Pick up', 'Return'
          ]
        }
      ]
    }
  }),
  computed: {
    inputRange () {
      return `${this.date_range.start} - ${this.date_range.end}`
    }
  },
  methods: {
    resetDateRange () {
      this.date_range = {
        start: '',
        end: ''
      }
    },
    cardIconClass (val) {
      return `card__icon--${val}`
    },
    statusClass (status) {
      return status.toLowerCase() === 'delivered'
        ? 'load_status--delivered'
        : status.toLowerCase() === 'failed' ? 'load_status--failed' : 'load_status--progress'
    },
    selectedAll () {
      this.table && this.table.tbody.forEach((el) => {
        el.check = this.selectAll
      })
    },
    goLoad (id) {
      this.$router.push(this.$getRoutePath('carrier/load', id))
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    &__left{
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2{
        font-size: 32px;
        line-height: 1;
        font-weight: 500;
        cursor: pointer;
        :global(.svg-icon){
          font-size: 16px;
          margin-left: 20px;
        }
      }
    }
  }
  &__calendar{
    margin-left: 20px;

  }
  &__cards{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &__table{
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 24px;
    height: calc(100vh - 335px);
  }
  &__date_input{
    padding: 16px 30px 16px 16px;
  }
}
.card{
  flex: 1;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  &__inner{
    display: flex;
    //align-items: center;
  }
  &__icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
    :global(.svg-icon){
      font-size: 21px;
    }
    &--secondary{
      background-color: #2C6EEF16;
      :global(.svg-icon){
        color: $clr-main-secondary;
      }
    }
    &--warning{
      background-color: #FDD01A16;
      :global(.svg-icon){
        color: $clr-system-warning;
      }
    }
    &--success{
      background-color: #30CB7116;
      :global(.svg-icon){
        color: $clr-system-success;
      }
    }
    &--error{
      background-color: #EF2C2D16;
      :global(.svg-icon){
        color: $clr-system-error;
      }
    }
  }
  &__title{
    color: $clr-text-caption;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  &__total{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $clr-text-primary;
  }
  &:not(:last-child){
    margin-right: 12px;
  }
}
.pagination{
  display: flex;
  align-items: stretch;
  max-height: 32px;
  &__btn{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    color: $clr-text-secondary;
    cursor: pointer;
  }
  &__pages{
    display: flex;
    align-items: stretch;
    margin: 0 8px;
    border-radius: 8px;
    overflow: hidden;
  }
  &__page{
    background: rgba(185, 207, 250, 0.5);
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    color: $clr-text-primary;
    line-height: 1;
  }
  &__prev,
  &__next{
    background-color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    :global(.svg-icon){
      font-size: 16px;
      color: $clr-text-primary;
      transform: rotate(90deg);
    }
  }
  &__next{
    :global(.svg-icon){
      transform: rotate(-90deg);
    }
  }
}

.input_wrapper {
  position: relative;
  :global(.svg-icon) {
    display: block;
    color: $clr-text-secondary;
  }

  input {
    width: 100%;
  }
}

.reset{
  position: absolute;
  width: 18px;
  height: 18px;
  background: $clr-text-primary;
  //box-shadow: 0 0 3px $clr-text-secondary;
  right: -5px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  :global(.svg-icon){
    display: block;
    font-size: 8px;
    color: #fff;
  }
}
</style>
