<template>
  <div :class="$style['current']">
    <div :class="$style['current__img']">
      <img :src="currentNews && currentNews.src" alt="news1" :srcset="`${currentNews && currentNews.srcset} 1.5x`">
    </div>
    <div :class="$style['current__info']">
      <div :class="$style['current__date']">
        {{ currentNews && currentNews.date }}
      </div>
      <h3 :class="$style['current__title']">
        {{ currentNews && currentNews.title }}
      </h3>
      <p :class="$style['current__text']">
        {{ currentNews && currentNews.desc }}
      </p>
      <div :class="$style['current__more']">
        <nuxt-link :to="$getRoutePath('static/news')">
          <span> Learn more </span>
          <svgicon name="icon-news-more-arrow" class="svg-icon-news-more-arrow" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-news-more-arrow'
export default {
  name: 'Current',
  props: {
    currentNews: {
      type: Object,
      required: true
    }
  }
}
</script>

<style module lang="scss">
.current{
  @include row-flex();
  justify-content: space-between;
  @include sm-block{
    justify-content: center;
  }
  &__img{
    @include col();
    @include size(6);
    @include size-lg(6);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);
    @include size-xxs(12);
    max-width: 100%;
    max-height: 400px;
    @include sm-block{
      max-height: 350px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
    @include sm-block{
      margin-bottom: 20px;
    }
  }
  &__info{
    @include col();
    @include size(5.7);
    @include size-lg(6);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);
    @include size-xxs(12);
    display: flex;
    flex-direction: column;
  }
  &__date{
    font-size: 18px;
    line-height: 110%;
    color: $clr-gray;
    margin-bottom: 8px;
    @include lg-block{
      font-size: 16px;
    }
    @include md-block{
      font-size: 14px;
    }
    @include xxs-block{
      font-size: 12px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    color: $clr-text-primary;
    margin-bottom: 24px;
    @include lg-block{
      font-size: 30px;
      margin-bottom: 20px;
    }
    @include md-block{
      font-size: 26px;
      margin-bottom: 15px;
    }
    @include xxs-block{
      font-size: 22px;
    }
  }
  &__text{
    font-size: 24px;
    line-height: 144%;
    margin-bottom: 16px;
    @include lg-block{
      font-size: 20px;
    }
    @include md-block{
      font-size: 16px;
    }
    @include xxs-block{
      font-size: 14px;
    }
  }
  &__more{
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    a{
      color: $clr-main-secondary;
    }
    @include lg-block{
      font-size: 20px;
    }
    @include md-block{
      font-size: 18px;
    }
    @include xxs-block{
      font-size: 16px;
    }
    :global(.svg-icon-news-more-arrow){
      margin-left: 18px;
      @include lg-block{
        margin-left: 12px;
      }
      @include md-block{
        font-size: 12px;
      }
      @include xxs-block{
        font-size: 11px;
      }
    }
  }
}
</style>
