<template>
  <section :class="$style['news']">
    <div class="container">
      <div :class="$style['news__inner']">
        <h2 :class="$style['news__title']" class="heading heading--primary">
          Latest news today
        </h2>
        <div :class="$style['news__current']">
          <LandingNewsCurrent :current-news="currentNews" />
        </div>
        <div :class="$style['news__other']">
          <LandingNewsOther :other-news="otherNews" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'News',
  data () {
    return {
      news: [
        {
          title: 'Logistic services - 2022',
          desc: 'A business that deals with selling products and services have to figure out a way to deliver them to customers. If the products and services are provided and sold online, then also they have to determine a way where the products move from one point to another through particular shipping services and logistics services.',
          date: '7-Feb-2022',
          src: require('~/static/images/landing/news/logistic.jpg'),
          srcset: require('~/static/images/landing/news/logistic@2x.jpg'),
          type: 'current'
        },
        {
          title: 'Touching technology',
          desc: 'A new demonstration zone of digital solutions was opened in the Miami branch of TMS. A new demonstration zone of digital solutions was opened in the Miami branch of TMS.',
          date: '7-Feb-2022'
        },
        {
          title: 'Cooperation with USA Posy',
          desc: 'A new demonstration zone of digital solutions was opened in the Miami branch of TMS. A new demonstration zone of digital solutions was opened in the Miami branch of TMS.',
          date: '7-Feb-2022'
        },
        {
          title: 'The Story of a Village Reached Perm',
          desc: 'A new demonstration zone of digital solutions was opened in the Miami branch of TMS. A new demonstration zone of digital solutions was opened in the Miami branch of TMS.',
          date: '7-Feb-2022'
        }
      ]
    }
  },
  computed: {
    currentNews () {
      return this.news.find(el => el.type === 'current')
      // return arrNews
    },
    otherNews () {
      return this.news.filter(el => !el.type || el.type !== 'current')
    }
  }
}
</script>

<style module lang="scss">
.news{
  &__inner{
  }
  &__title{
    //font-weight: 500;
    //font-size: 72px;
    //line-height: 110%;
    //color: $clr-text-primary;
    margin-bottom: 64px;
    @include lg-block{
      //font-size: 65px;
      margin-bottom: 50px;
    }
    @include md-block{
      //font-size: 55px;
      margin-bottom: 40px;
    }
    //@include sm-block{
    //  font-size: 45px;
    //}
    @include xs-block{
      //font-size: 40px;
      margin-bottom: 30px;
    }
    //@include xxs-block{
    //  font-size: 30px;
    //}
  }
  &__current{
    margin-bottom: 80px;
    @include md-block{
      margin-bottom: 60px;
    }
    @include sm-block{
      margin-bottom: 40px;
    }
  }
  &__other{
  }
}
</style>
