<template>
  <div :class="$style['other']">
    <div v-for="(item,index) of otherNews" :key="index" :class="$style['other__item']">
      <h3 :class="$style['other__title']">
        {{ item.title }}
      </h3>
      <p :class="$style['other__desc']">
        {{ item.desc }}
      </p>
      <div :class="$style['other__date']">
        {{ item.date }}
      </div>
      <div :class="$style['other__more']">
        <nuxt-link :to="$getRoutePath('static/news')">
          Read More
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Other',
  props: {
    otherNews: {
      type: Array,
      required: true
    }
  }
}
</script>

<style module lang="scss">
.other{
  @include row-flex();
  margin-top: -20px;
  margin-bottom: -20px;
  @include lg-block{
    margin-top: -15px;
    margin-bottom: -15px;
  }
  @include xs-block{
    margin-top: -10px;
    margin-bottom: -10px;
  }
  @include md-block{
    justify-content: center;
  }
  &__item{
    @include col();
    @include size(4);
    @include size-lg(4);
    @include size-md(6);
    @include size-sm(6);
    @include size-xs(12);
    @include size-xxs(12);
    border: 1px solid $clr-light-gray;
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    &, a{
      color: $clr-text-primary;
    }
    @include lg-block{
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 20px 20px 30px 20px;
    }
    @include xs-block{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @include xxs-block{
      padding: 15px 15px 20px 15px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 40px;
    @media screen and (max-width: 1400px){
      font-size: 30px;
    }
    @include lg-block{
      font-size: 22px;
      line-height: 1.3;
      margin-bottom: 30px;
    }
    @include md-block{
      font-size: 21px;
      margin-bottom: 20px;
    }
    @include xxs-block{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
    @include lg-block{
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include xxs-block{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  &__date{
    font-size: 18px;
    line-height: 1.1;
    color: $clr-gray;
    margin-bottom: 45px;
    @include lg-block{
      font-size: 14px;
      margin-bottom: 30px;
    }
    @include xxs-block{
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  &__more{
    margin-top: auto;
    a{
      text-transform: uppercase;
      //text-decoration: underline;
      border-bottom: 1px solid currentColor;
      font-size: 20px;
      @include lg-block{
        font-size: 16px;
        line-height: 1;
      }
      @include xxs-block{
        font-size: 14px;
      }
    }
  }
}
</style>
