<template>
  <header :class="headerClasses">
    <div class="container">
      <div :class="$style['header__inner']">
        <div :class="$style['header__left']">
          <nuxt-link to="/" :class="$style['header__logo']">
            <svgicon name="logo-long" class="svg-icon-logo-long" :original="true" />
          </nuxt-link>
          <nav :class="$style['header__menu']">
            <ul>
              <li v-for="(item, index) in menu" :key="index">
                <nuxt-link :to="$getRoutePath(item.link)" no-prefetch>
                  {{ item.name }}
                </nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
        <div :class="$style['header__right']">
          <!--          <nuxt-link v-if="isLoggedIn" :to="$getRoutePath('static/profile')" :class="$style['header__login']">-->
          <!--            <svgicon name="icon-profile" class="svg-icon-sign-in" />-->
          <!--            {{ $t('profile') }}-->
          <!--          </nuxt-link>-->
          <!--          <nuxt-link v-else :to="$getRoutePath('static/signup1')" :class="$style['header__login']">-->
          <!--            <svgicon name="icon-profile" class="svg-icon-sign-in" />-->
          <!--            {{ $t('sign_in') }}-->
          <!--          </nuxt-link>-->
          <div :class="burgerClasses" @click.prevent="handleMobileMenu">
            <span />
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
// import '~/components/svg-icons/icon-profile'
import '~/components/svg-icons/logo-long'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Header',
  data () {
    return {
      sticky: false,
      menu: [
        { name: 'About', link: 'static/about' },
        { name: 'Features', link: 'static/features' },
        { name: 'Services', link: 'static/services' },
        { name: 'Career', link: 'static/career' },
        { name: 'Contacts', link: 'static/contacts' }
      ]
    }
  },
  computed: {
    ...mapState(['mobileMenu', 'theHeader']),
    ...mapState('login', ['isLoggedIn']),
    burgerClasses () {
      return [
        this.$style.header__burger,
        {
          [this.$style['header__burger--open']]: this.mobileMenu.open
        }
      ]
    },
    headerClasses () {
      return [
        this.$style.header,
        {
          [this.$style['header--sticky']]: this.sticky,
          [this.$style['header--dark']]: this.theHeader.dark,
          [this.$style['header--white']]: this.theHeader.white
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      toggleMenu: 'mobileMenu/toggleMenu'
    }),
    handleMobileMenu () {
      this.toggleMenu()
    }
  },
  mounted () {
    const self = this
    window.addEventListener('scroll', function () {
      if (pageYOffset >= 50 && !self.sticky) {
        self.sticky = true
      } else if (pageYOffset < 50 && self.sticky) {
        self.sticky = false
      }
    })
  }
}
</script>

<style module lang="scss">
.header{
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  //border-bottom: 1px solid $clr-gray;
  transition: background .2s;
  a, i{
    color: $clr-gray;
    transition: .3s;
    @include from(992px){
      &:hover{
        color: #fff;
      }
    }
  }
  @include lg-block{
    padding: 20px 0;
  }
  @include xs-block{
    padding: 15px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 0px;
    @include md-block{
      margin-right: 0;
      :global(.svg-icon-logo-long){
        font-size: 45px;
      }
    }
    @include xs-block{
      :global(.svg-icon-logo-long){
        font-size: 40px;
      }
    }
  }
  &__menu{
    ul{
      display: flex;
      align-items: center;
    }
    li:not(:last-child){
      margin-right: 64px;
      @include lg-block{
        margin-right: 36px;
      }
      @include md-block{
        margin-right: 24px;
      }
    }
    @include sm-block{
      display: none;
    }
    a{
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      @include lg-block{
        font-size: 15px;
      }
      @include md-block{
        font-size: 13px;
      }
    }
  }
  &__right{
    display: flex;
    align-items: center;
  }
  &__login{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    :global(.svg-icon-sign-in){
      margin-right: 17px;
    }
    @include lg-block() {
      font-size: 18px;
      :global(.svg-icon-sign-in){
        margin-left: 12px;
        font-size: 20px;
      }
    }
    @include md-block() {
      font-size: 15px;
      :global(.svg-icon-sign-in){
        font-size: 18px;
      }
    }
  }
  &__burger {
    position: relative;
    flex: 0 0 auto;
    width: 26px;
    height: 20px;
    margin-left: 30px;
    transition: all 0.2s;
    display: none;
    cursor: pointer;
    @include sm-block{
      display: block;
    }
    span{
      position: absolute;
      background-color: $clr-gray;
      left: 0;
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
    }
    &:before,
    &:after{
      content: '';
      background-color: $clr-gray;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
    &--open {
      span{
        transform: scale(0);
      }
      &:before{
        transform:rotate(45deg);
        top: 9px;
      }
      &:after{
        transform:rotate(-45deg);
        bottom: 9px;
      }
    }
  }
  &--dark{
    background: #060F26;
    :global(.svg-icon-logo-long){
      color: #fff;
    }
  }
  &--white{
    background-color: #fff;
    :global(.svg-icon-logo-long){
      color: #292959;
    }
    &,a, i{
      color: $clr-text-primary;
      @include from(992px){
        &:hover{
          color: $clr-text-primary;
        }
      }
    }
    .header__burger{
      span,
      &:after,
      &:before{
        background-color: $clr-text-primary;
      }
    }
  }
  &--sticky{
    background: #060F26;
    transition: background .2s;
  }
}
.header.header--white.header--sticky{
  background-color: #fff;
}
</style>
