<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/forgot')" />
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Password recovery
          </template>
          <template #desc>
            Please enter the 6 digit code we sent you via e-mail to continue
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div>
          <div :class="['form_field field required',{'has_error': $v.code.$error && validate}]">
            <label for="code">Code</label>
            <input id="code" v-model.trim="code" class="input" type="number" placeholder="6 digit code">
            <div v-if="$v.code.$error && validate" class="help_block">
              <p v-if="!$v.code.required && $v.code.$dirty">
                {{ $t('Field is required.') }}
              </p>
              <p v-if="!$v.code.minLength && $v.code.$dirty">
                The code should consist of 4 digits, now {{ code.length }}
              </p>
            </div>
          </div>
        </div>
        <div :class="$style['block__expires']">
          code expires in <span>00:<span v-if="expiresTime < 10">0</span>{{ expiresTime }}</span>
        </div>
        <button :class="[$style['block__btn'],'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit">
          Continue
        </button>
        <div :class="$style['block__resend']">
          Didn’t get the code? <span :class="{[$style['disabled']]: resendCode}" @click="resend">Resend code</span>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
  name: 'GuardForgotPassword',
  layout: 'empty',
  data () {
    return {
      code: '',
      sending: false,
      expiresTime: 59,
      resendCode: true,
      validate: false
    }
  },
  validations: {
    code: {
      required,
      minLength: minLength(4)
    }
  },
  watch: {
    expiresTime (val) {
      if (val === 0) {
        this.resendCode = false
      }
    }
  },
  mounted () {
    this.expires()
  },
  methods: {
    clearForm () {
      this.code = ''
      this.$v.$reset()
    },
    async submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        try {
          this.sending = true
          await this.$api.register.confirmEmail({ code: this.code, email: this.getUserEmail })
          this.$router.push('/sign-up/step3')
        } catch (error) {
          this.handleError(error)
        } finally {
          this.sending = false
        }
      }
    },
    expires () {
      setInterval(() => {
        if (this.expiresTime > 0) {
          this.expiresTime--
        } else {
          // this.resendCode = true
        }
      }, 1000)
    },
    resend () {
      if (this.expiresTime === 0) {
        this.expiresTime = 59
        this.resendCode = true
      } else {
        return false
      }
    }
  },
  computed: {
    ...mapGetters('signin', ['getUserEmail'])
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block{
      max-width: 375px;
    }
    @include xxs-block{
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block{
      margin-bottom: 35px;
    }
  }
  &__form{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      letter-spacing: 4px;
    }
    input[type=number]::placeholder {
      letter-spacing: 0;
    }
  }

  &__btn {
    margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
  &__expires{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    color: $clr-text-secondary;
    span{
      color: $clr-main-secondary;
    }
    @include sm-block{
      font-size: 14px;
    }
  }
  &__resend{
    font-size: 16px;
    color: $clr-text-secondary;
    margin-top: 16px;
    span{
      color: $clr-main-secondary;
      font-weight: 600;
      cursor: pointer;
      &.disabled{
        color: $clr-text-caption;
        cursor: not-allowed;
      }
    }
    @include sm-block{
      font-size: 14px;
    }
  }
}
</style>
