<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/signup3')" :step="'4'">
      <template #desc>
        Subscribition plan
      </template>
    </SignUpToolbar>
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Select your subscribition plan
          </template>
          <template #desc>
            For the purpose of industry regulation, your details are required.
          </template>
        </SignUpHeading>
      </div>
      <div :class="$style['block__plans']">
        <div
          v-for="(plan, index) of plans"
          :key="index"
          :class="[$style['block__plan'], $style['plan'], {[$style['plan--active']] : activeTariff === plan.title}]"
          @click="changeTariff(plan.title)"
        >
          <div :class="$style['plan__inner']">
            <div :class="$style['plan__top']">
              <h4 :class="$style['plan__title']">
                {{ plan && plan.title }}
              </h4>
              <div :class="$style['plan__price']">
                ${{ plan && plan.price }} per month
              </div>
            </div>
            <ul :class="$style['plan__items']">
              <li v-for="(item, i) of plan && plan.opportunities" :key="i">
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button :class="[$style['block__btn'], 'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit" @click.prevent="submitForm">
        Continue
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Step2',
  layout: 'empty',
  data () {
    return {
      dot: '',
      sending: false,
      activeTariff: '',
      plans: [
        {
          title: 'Professional',
          price: 120,
          opportunities: [
            'Lane-by-lane market rates based on past 15 days',
            'Find higher-paying routes with the TriHaul™ tool',
            'Canadian loads',
            'Plus all Enhanced features'
          ]
        },
        {
          title: 'Enhanced',
          price: 72,
          opportunities: [
            'Lane-by-lane market rates based on past 15 days',
            'Find higher-paying routes with the TriHaul™ tool',
            'Canadian loads',
            'Plus all Enhanced features'
          ]
        },
        {
          title: 'Standart',
          price: 32,
          opportunities: [
            'Lane-by-lane market rates based on past 15 days',
            'Find higher-paying routes with the TriHaul™ tool',
            'Canadian loads',
            'Plus all Enhanced features'
          ]
        }
      ]
    }
  },
  methods: {
    changeTariff (val) {
      this.activeTariff = val
    },
    submitForm () {
      this.sending = true
      setTimeout(() => {
        console.log('Отправить', this.activeTariff)
        this.sending = false
        this.$router.push(this.$getRoutePath('static/signup5'))
      }, 2000)
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__tabs{
    margin-bottom: 34px;
  }
  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block{
      max-width: 375px;
    }
    @include xxs-block{
      max-width: 100%;
    }
  }
  &__plan{
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
  &__heading {
    margin-bottom: 48px;
    @include lg-block{
      margin-bottom: 35px;
    }
  }

  &__btn {
      margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
}
.plan{
  background-color: $clr-bgc-grey;
  border-radius: 8px;
  padding: 12px 12px 24px 12px;
  border: 1px solid transparent;
  cursor: pointer;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    color: $clr-text-primary;
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
  &__price{
    background: $clr-main-secondary;
    color: #fff;
    border-radius: 32px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
    @include xxs-block{
      font-size: 13px;
    }
  }
  &__items{
    li{
      color: $clr-text-primary;
      font-size: 14px;
      position: relative;
      padding-left: 14px;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      @include xxs-block{
        font-size: 13px;
      }
      &:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $clr-text-secondary;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
  &--active{
    background-color: #EBF2FF;
    border: 1px solid $clr-main-secondary;
    cursor: unset;
  }
}
</style>
