<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/signup2')" :step="'3'">
      <template #desc>
        Authory type
      </template>
    </SignUpToolbar>
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Your company information
          </template>
          <template #desc>
            Enter your authority information
          </template>
        </SignUpHeading>
      </div>
      <div :class="$style['block__tabs']">
        <button
          :class="{ [$style['block__tabs--active']]: activeTab === 'dot' }"
          @click.prevent="changeTab('dot')"
        >
          My DOT
        </button>
        <button
          :class="{ [$style['block__tabs--active']]: activeTab === 'mc' }"
          @click.prevent="changeTab('mc')"
        >
          My MC
        </button>
        <button
          :class="{ [$style['block__tabs--active']]: activeTab === 'dot/mc' }"
          @click.prevent="changeTab('dot/mc')"
        >
          My DOT/MC
        </button>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div
          v-if="activeTab === 'dot'"
          class="form_field field required"
          :class="{
            has_error: validate && !$v.form.mc.required,
          }"
        >
          <label for="dot">Company DOT #</label>
          <input
            id="dot"
            v-model="form.mc"
            class="input"
            type="text"
            placeholder="Company DOT #"
          >
          <div v-if="validate && !$v.form.mc.required" class="help_block">
            <p>{{ $t("This field is required") }}</p>
          </div>
        </div>
        <div
          v-if="activeTab === 'mc'"
          class="form_field field required"
          :class="{
            has_error: validate && !$v.form.mc.required,
          }"
        >
          <label for="mc">Company MC #</label>
          <input
            id="mc"
            v-model="form.mc"
            class="input"
            type="text"
            placeholder="Company MC #"
          >
          <div v-if="validate && !$v.form.mc.required" class="help_block">
            <p>{{ $t("This field is required") }}</p>
          </div>
        </div>
        <div
          v-if="activeTab === 'dot/mc'"
          class="form_field field required"
          :class="{
            has_error: validate && !$v.form.mc.required,
          }"
        >
          <label for="dot/mc">Company DOT/MC #</label>
          <input
            id="dot/mc"
            v-model="form.mc"
            class="input"
            type="text"
            placeholder="Company DOT/MC #"
          >
          <div v-if="validate && !$v.form.mc.required" class="help_block">
            <p>{{ $t("This field is required") }}</p>
          </div>
        </div>
        <div class="form_field field checkbox">
          <label>
            <input type="checkbox" :checked="check" @input="check = !check">
            <span>
              <svgicon
                name="icon-checked"
                class="svg-icon-check svg-icon svg-fill"
              />
            </span>
            <span>I am leased on to this company</span></label>
        </div>
        <transition name="fade">
          <div v-if="check" :class="$style['block__company']">
            <div
              class="form_field field required"
              :class="{
                has_error: validate && !$v.form.company_name.required,
              }"
            >
              <label for="company_name">My company name</label>
              <input
                id="company_name"
                v-model="form.company_name"
                class="input"
                type="text"
                placeholder="My company name"
              >
              <div
                v-if="validate && !$v.form.company_name.required"
                class="help_block"
              >
                <p>{{ $t("Company name is required") }}</p>
              </div>
            </div>
            <div
              class="form_field field required"
              :class="{
                has_error: validate && !$v.form.street_address.required,
              }"
            >
              <label for="company_address">Street address</label>
              <UiFormInputIcon
                id="company_address"
                v-model="form.street_address"
                placeholder="Street address"
                type="text"
                icon="sign/icon-location"
              />
              <div
                v-if="validate && !$v.form.street_address.required"
                class="help_block"
              >
                <p>{{ $t("Street address is required") }}</p>
              </div>
            </div>
            <div class="form_row_no-margin">
              <div
                class="form_field field required"
                :class="{
                  has_error: validate && !$v.form.city.required,
                }"
              >
                <label for="company_city">City</label>
                <input
                  id="company_city"
                  v-model="form.city"
                  class="input"
                  type="text"
                  placeholder="Enter your city"
                >
                <div
                  v-if="validate && !$v.form.city.required"
                  class="help_block"
                >
                  <p>{{ $t("City is required") }}</p>
                </div>
              </div>
              <div
                class="form_field field required"
                :class="{
                  has_error: validate && !$v.form.state.required,
                }"
              >
                <label>State</label>
                <VueMultiselect
                  v-model="form.state"
                  :options="states"
                  :allow-empty="false"
                  m-size="base"
                  placeholder="Select state"
                />
                <div
                  v-if="validate && !$v.form.state.required"
                  class="help_block"
                >
                  <p>{{ $t("State is required") }}</p>
                </div>
              </div>
            </div>
            <div class="form_row_no-margin">
              <div
                class="form_field field required"
                :class="{
                  has_error: validate && !$v.form.zip_code.required,
                }"
              >
                <label for="company_zip_code">Zip code</label>
                <input id="company_zip_code" v-model="form.company_zip_code" class="input" type="text" placeholder="Zip code">
                <div v-if="validate && !$v.form.company_zip_code.required" class="help_block">
                  <p>{{ $t("Zip code is required") }}</p>
                </div>
              </div>
              <div
                class="form_field field required"
                :class="{
                  has_error: validate && !$v.form.country.required,
                }"
              >
                <label>Country</label>
                <VueMultiselect
                  v-model="form.country"
                  :options="countries"
                  :allow-empty="false"
                  m-size="base"
                  placeholder="Select country"
                />
                <div
                  v-if="validate && !$v.form.country.required"
                  class="help_block"
                >
                  <p>{{ $t("Country is required") }}</p>
                </div>
              </div>
            </div>
            <div
              class="form_field field required"
              :class="{
                has_error: validate && !$v.form.business_phone.required,
              }"
            >
              <label for="company_phone">Business phone</label>
              <input
                id="company_phone"
                v-model="form.business_phone"
                class="input"
                type="tel"
                placeholder="Business phone"
              >
              <div
                v-if="validate && !$v.form.business_phone.required"
                class="help_block"
              >
                <p>{{ $t("Business phone is required") }}</p>
              </div>
            </div>
            <div class="form_field field required upload">
              <label>W9</label>
              <UiFormUploadImage :mini="true" @onSelect="onSelectW9" />
            </div>
            <div class="form_field field required upload">
              <label>Insurance card</label>
              <UiFormUploadImage @onSelect="onSelectCard" />
            </div>
          </div>
        </transition>
        <button
          :class="[
            $style['block__btn'],
            'btn btn--full',
            { 'btn--loading': sending },
          ]"
          :disabled="sending"
          type="text"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-location'
import '~/components/svg-icons/sign/icon-camera'
import '~/components/svg-icons/icon-line-arrow'
import '~/components/svg-icons/sign/icon-replace'

import { required } from 'vuelidate/lib/validators'
import { mapGetters, mapActions } from 'vuex'
import '~/components/svg-icons/icon-checked'
export default {
  name: 'Step2',
  layout: 'empty',
  data () {
    return {
      sending: false,
      activeTab: 'dot',
      validate: false,
      form: {
        mc: '',
        company_name: '',
        street_address: '',
        city: '',
        zip_code: '',
        state: '',
        country: 'United states',
        business_phone: '',
        w9_file: '',
        ic_file: ''
      },
      check: false,
      countries: ['United states', 'Canada'],
      states: ['AL', 'AK', 'AZ', 'AR', 'CA']
    }
  },
  validations () {
    if (this.check) {
      return {
        form: {
          company_name: {
            required
          },
          street_address: {
            required
          },
          city: {
            required
          },
          zip_code: {
            required
          },
          state: {
            required
          },
          country: {
            required
          },
          business_phone: {
            required
          }
        }
      }
    } else {
      return {
        form: {
          mc: {
            required
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters('signin', ['getUserId'])
  },

  methods: {
    ...mapActions({
      createCarrier: 'signin/createCarrier',
      createCompany: 'signin/createCompany'
    }),
    changeTab (val) {
      this.activeTab = val
      this.form = {
        mc: '',
        company_name: '',
        street_address: '',
        city: '',
        zip_code: '',
        state: '',
        country: 'United states',
        business_phone: ''
      }
    },
    async submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        this.sending = true
        try {
          let form = null
          if (this.check) {
            delete this.form.mc
            await this.createCompany(this.form)
          } else {
            form = {
              user_id: this.getUserId,
              [this.activeTab]: this.form.mc
            }
            await this.createCarrier(form)
          }

          this.$router.push('/sign-up/step4')
        } catch (error) {
          this.handleError(error)
        } finally {
          this.sending = false
        }
      }
    },
    onSelectW9 (e) {
      this.form.w9_file = e
    },
    triggerUpload2 () {
      this.$refs.cardInput.click()
    },
    onSelectCard (e) {
      this.form.ic_file = e
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block {
      max-width: 375px;
    }
    @include xxs-block {
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block {
      margin-bottom: 35px;
    }
  }
  &__tabs {
    margin-bottom: 34px;
    border-radius: 10px;
    background-color: $clr-bgc-grey;
    border: 2px solid $clr-bgc-grey;
    display: flex;
    align-items: center;
    button {
      flex: 1;
      font-weight: 500;
      font-size: 14px;
      outline: none;
      background-color: transparent;
      border: none;
      color: $clr-text-primary;
      padding: 12px 0 11px 0;
      position: relative;
      transition: 0.2s;
      border-radius: 8px;
      @media (max-width: 375px) {
        font-size: 13px;
      }
      &:not(:last-child):after {
        content: "";
        width: 1px;
        height: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: $clr-bgc-line;
      }
      &:hover {
        cursor: pointer;
        //background-color: darken($clr-bgc-grey, 5%);
      }
      &.block__tabs--active {
        background: $clr-main-secondary;
        color: #fff;
        &:after {
          content: none;
        }
      }
    }
  }

  &__btn {
    margin-top: 95px;
    @media (max-width: 1400px) {
      margin-top: 70px;
    }
  }
  &__company {
    margin-top: 48px;
  }
}
:global(.fade-leave-to) {
  opacity: 0;
}

:global(.fade-enter) {
  opacity: 0;
}

:global(.fade-enter-active),
:global(.fade-leave-active) {
  transition: opacity 0.5s;
}

:global(.fade-enter-to) {
  opacity: 1;
}
@media (max-width: 375px) {
  :global(.checkbox) {
    label {
      font-size: 14px;
    }
  }
}
</style>
