<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/signup4')" :step="'5'">
      <template #desc>
        Payment
      </template>
    </SignUpToolbar>
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Payment information
          </template>
          <template #desc>
            Enter your Payment information
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div :class="$style['block__stripe']">
          <h5>Card information</h5>
          <div :class="['form_field field required']">
            <label for="card-element">Card number</label>
            <div id="card-element" class="input" />
          </div>
        </div>
        <div :class="$style['block__billing']">
          <h5>Billing information</h5>
          <div class="form_field field checkbox">
            <label>
              <input type="checkbox" :checked="check" @input="check = !check">
              <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
              <span>Billing information is the same as contact information</span></label>
          </div>
        </div>
        <transition name="fade">
          <div v-if="!check">
            <div :class="['form_field field required']">
              <label for="name">Your fullname</label>
              <input id="name" v-model.trim="form.fullname" class="input" type="text" placeholder="Your fullname">
            </div>
            <div :class="['form_field field required']">
              <label for="email">Email address</label>
              <input id="email" v-model="form.email" class="input" type="email" placeholder="Enter email">
            </div>
            <div :class="['form_field field required']">
              <label for="phone">Phone number</label>
              <input id="phone" v-model="form.phone" class="input" type="tel" placeholder="Phone number">
            </div>
            <div :class="['form_field field required']">
              <label for="address">Street address</label>
              <UiFormInputIcon id="address" v-model="form.address" placeholder="Street address" type="text" icon="sign/icon-location" />
            </div>
            <div class="form_row_no-margin">
              <div :class="['form_field field required']">
                <label for="city">City</label>
                <input id="city" v-model="form.city" class="input" type="text" placeholder="Enter your city">
              </div>
              <div :class="['form_field field required']">
                <label>State</label>
                <multiselect
                  v-model="form.state"
                  class="multiselect--base"
                  :options="states"
                  :show-labels="false"
                  :allow-empty="false"
                >
                  <template #caret="{toggle}">
                    <div class="multiselect__select" @mousedown.prevent.stop="toggle">
                      <svgicon icon="icon-line-arrow" class="svg-icon-line-arrow" />
                    </div>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="form_row_no-margin">
              <div :class="['form_field field required']">
                <label for="company_zip_code">City</label>
                <input id="company_zip_code" v-model="form.zip_code" class="input" type="text" placeholder="Zip code">
              </div>
            </div>
          </div>
        </transition>
        <button :class="[$style['block__btn'],'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-line-arrow'
import '~/components/svg-icons/icon-checked'
export default {
  name: 'Step2',
  layout: 'empty',
  data () {
    return {
      form: {
        fullname: '',
        email: '',
        phone: '',
        address: '',
        city: '',
        state: '',
        zip_code: ''
      },
      check: false,
      sending: false,
      states: ['AL', 'AK', 'AZ', 'AR', 'CA']
    }
  },
  mounted () {
    if (this.$stripe) {
      const elements = this.$stripe.elements()
      const card = elements.create('card', {})
      // Add an instance of the card Element into the `card-element` <div>
      card.mount('#card-element')
    }
  },
  methods: {
    submitForm () {
      this.sending = true
      setTimeout(() => {
        console.log('Отправить', this.form)
        this.sending = false
        this.$router.push(this.$getRoutePath('static/signup-success'))
      }, 2000)
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block{
      max-width: 375px;
    }
    @include xxs-block{
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block{
      margin-bottom: 35px;
    }
  }

  &__btn {
    margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
  &__stripe{
    margin-bottom: 56px;
    @include xs-block{
      margin-bottom: 40px;
    }
    h5{
      margin-bottom: 32px;
      color: $clr-text-primary;
    }
  }
  &__billing{
    margin-bottom: 32px;
    h5{
      margin-bottom: 16px;
      color: $clr-text-primary;
    }
  }
}
:global(.fade-leave-to) {
  opacity: 0;
}

:global(.fade-enter) {
  opacity: 0;
}

:global(.fade-enter-active),
:global(.fade-leave-active){
  transition: opacity 0.5s;

}

:global(.fade-enter-to) {
  opacity: 1;
}
</style>
