<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/signup1')" :step="'2'">
      <template #desc>
        Personal Info
      </template>
    </SignUpToolbar>
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Profile information
          </template>
          <template #desc>
            For the purpose of industry regulation, your details are required.
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div :class="['form_field field required']">
          <label for="name">Your fullname</label>
          <input id="name" v-model.trim="form.fullname" class="input" type="text" placeholder="Your fullname">
        </div>
        <div :class="['form_field field required']">
          <label for="phone">Phone number</label>
          <input id="phone" v-model="form.phone" class="input" type="tel" placeholder="Phone number">
        </div>
        <button :class="[$style['block__btn'],'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Step2',
  layout: 'empty',
  data () {
    return {
      form: {
        fullname: '',
        phone: ''
      },
      sending: false
    }
  },
  methods: {
    submitForm () {
      this.sending = true
      setTimeout(() => {
        console.log('Отправить', this.form)
        this.sending = false
        this.$router.push(this.$getRoutePath('static/signup3'))
      }, 2000)
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block{
      max-width: 375px;
    }
    @include xxs-block{
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block{
      margin-bottom: 35px;
    }
  }

  &__btn {
    margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
}
</style>
