<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="'/'" :step="'1'">
      <template #desc>
        Create account
      </template>
    </SignUpToolbar>
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Register Crriers Account!
          </template>
          <template #desc>
            For the purpose of industry regulation, your details are required.
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div
          class="form_field field required"
          :class="{
            has_error: validate && !$v.form.email.required,
          }"
        >
          <label for="email">Email address</label>
          <input
            id="email"
            v-model="form.email"
            class="input"
            type="email"
            placeholder="Enter email"
          >
          <div v-if="validate && !$v.form.email.required" class="help_block">
            <p>{{ $t("Email is required") }}</p>
          </div>
        </div>
        <div
          class="form_field field required"
          :class="{
            has_error:
              (validate && !$v.form.password.required) ||
              (validate && !$v.form.password.minLength),
          }"
        >
          <label for="password">Create password</label>
          <UiFormInputPassword
            id="password"
            v-model="form.password"
            placeholder="Create password"
            name="new_password"
            :value="form.password"
          />
          <div v-if="validate && !$v.form.password.required" class="help_block">
            <p>{{ $t("Password is required") }}</p>
          </div>
          <div
            v-else-if="validate && !$v.form.password.minLength"
            class="help_block"
          >
            <p>{{ $t("Minimum password length 6 characters") }}</p>
          </div>
        </div>
        <div class="form_field field checkbox">
          <label>
            <input type="checkbox">
            <span>
              <svgicon
                name="icon-checked"
                class="svg-icon-check svg-icon svg-fill"
              />
            </span>
            <span>I agree to terms & conditions</span></label>
        </div>
        <button
          :class="[
            $style['block__btn'],
            'btn btn--full',
            { 'btn--loading': sending },
          ]"
          :disabled="sending"
          type="submit"
        >
          Register Account
        </button>
      </form>
      <div :class="$style['block__bottom']">
        <div :class="$style['block__or']">
          <span>Or</span>
        </div>
        <button
          :class="[
            $style['block__google'],
            'btn btn--white btn--full btn--with-icon btn--xl btn--with-icon-center',
          ]"
        >
          <svgicon name="sign/icon-google" :original="true" />
          <span> Register with Google</span>
        </button>
        <div :class="$style['block__login']">
          Already have an account?
          <nuxt-link :to="$getRoutePath('static/login')">
            Log in
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import '~/components/svg-icons/sign'
import '~/components/svg-icons/icon-checked'
export default {
  name: 'Step2',
  layout: 'empty',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      sending: false,
      validate: false
    }
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  mounted () {

  },
  methods: {
    async submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        this.sending = true
        try {
          const { data: { data: { id } } } = await this.$api.register.register(this.form)
          this.$store.commit('signin/SET_USER_Id', id)
          this.$store.commit('signin/SET_USER_EMAIL', this.form.email)
          this.$router.push('/sign-up/guard')
        } catch (error) {
          this.handleError(error)
        } finally {
          this.sending = false
        }
      }
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block {
      max-width: 375px;
    }
    @include xxs-block {
      max-width: 100%;
    }
  }
  &__heading {
    margin-bottom: 48px;
    @include lg-block {
      margin-bottom: 35px;
    }
  }
  &__btn {
    margin-top: 95px;
    @media (max-width: 1400px) {
      margin-top: 70px;
    }
  }
  &__bottom {
    margin-top: auto;
    button {
      margin-bottom: 48px;
      @include lg-block {
        margin-bottom: 40px;
      }
    }
  }
  &__or {
    margin-top: 50px;
    margin-bottom: 23px;
    text-align: center;
    color: $clr-bgc-icon;
    font-size: 12px;
    position: relative;
    span {
      width: 88px;
      background-color: #fff;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
    &:after {
      content: "";
      width: 100%;
      position: absolute;
      height: 1px;
      background: $clr-bgc-line;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  &__google {
    position: relative;
    :global(.svg-icon) {
      position: absolute;
      top: 50%;
      left: 58px;
      transform: translateY(-50%);
      @include xxs-block {
        left: 20px;
        font-size: 18px;
      }
    }
  }
  &__login {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
    @include lg-block {
      font-size: 16px;
    }
    @include xxs-block {
      font-size: 14px;
    }
    a {
      color: $clr-main-secondary;
      font-weight: 600;
      margin-left: 8px;
      @include xxs-block {
        margin-left: 4px;
      }
    }
  }
}
.invalid {
  color: #f44336;
  border-color: #f44336;
}
</style>
