<template>
  <div :class="$style['block']">
    <div :class="$style['block__inner']">
      <div :class="$style['block__card']">
        <div :class="$style['block__success']">
          <svgicon name="sign/icon-succes" class="svg-icon-sign-success" />
        </div>
        <div :class="$style['block__great']">
          Great!
        </div>
        <h5 :class="$style['block__title']">
          Payement succes
        </h5>
        <ul :class="$style['block__info']">
          <li>
            <span>Form Bank</span> <strong>Visa</strong>
          </li>
          <li>
            <span>Pay</span> <strong>$32.00</strong>
          </li>
          <li>
            <span>Administration</span> <strong>$1.5</strong>
          </li>
          <li>
            <span>Pay Date</span> <strong>May 03 2022</strong>
          </li>
        </ul>
        <div :class="$style['block__total']">
          Total Pay
          <span>$32.00</span>
        </div>
      </div>
      <button :class="[$style['block__btn'],'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit" @click="submitForm">
        Go to the dashboard
      </button>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/sign/icon-succes'
export default {
  name: 'Success',
  layout: 'empty',
  data () {
    return {
      sending: false
    }
  },
  methods: {
    submitForm () {
      this.sending = true
      setTimeout(() => {
        this.sending = false
        this.$router.push(this.$getRoutePath('carrier/dashboard'))
      }, 2000)
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    @media (max-width: 1400px){
      padding: 70px 0 0 0;
    }
  }
  &__card{
    background: $clr-bgc-grey;
    border-radius: 24px;
    padding: 70px 30px 20px 30px;
    position: relative;
    @media (max-width: 375px) {
      padding: 70px 15px 20px 15px;
    }
  }
  &__success{
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-main;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 9px solid #FBE7CA;
    //box-sizing: content-box;
  }
  &__great{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    color: $clr-main-secondary;
    text-align: center;
  }
  &__title{
    font-size: 18px;
    color: $clr-text-primary;
    margin-bottom: 32px;
    text-align: center;
  }
  &__info{
    padding-bottom: 40px;
    border-bottom: 1px solid $clr-bgc-line;
    margin-bottom: 24px;
    @media (max-width: 375px) {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
    li{
      @include row-flex();
      &:not(:last-child){
        margin-bottom: 20px;
      }
      span{
        @include col();
        @include size(7);
        @include size-lg(7);
        font-size: 16px;
        color: $clr-text-secondary;
        @media (max-width: 375px) {
          @include size-xxs(7);
          font-size: 14px;
        }
      }
      strong{
        @include col();
        @include size(5);
        @include size-lg(5);
        font-weight: 600;
        font-size: 16px;
        color: $clr-text-primary;
        @media (max-width: 375px) {
          @include size-xxs(5);
          font-size: 14px;
        }
      }
    }
  }
  &__total{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: $clr-text-secondary;
    @media (max-width: 375px) {
      font-size: 14px;
    }
    span{
      display: block;
      font-weight: 600;
      font-size: 24px;
      margin-top: 8px;
      color: $clr-main-secondary;
      @media (max-width: 375px) {
        font-size: 20px;
      }
    }
  }
  &__btn {
    margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
}
</style>
