<template>
  <div v-click-outside="handleOuterClick" :class="$style['dropdown']">
    <div :class="dropLinkClasses" @click.prevent="toggleDropdown">
      <slot
        name="toggleLink"
        :textChange="textChange"
        :dropTextMobile="dropTextMobile"
        :dropText="dropText"
      >
        {{ textChange ? dropTextMobile : dropText }}
      </slot>
      <div v-if="caret" :class="$style['dropdown__caret']">
        <svgicon name="icon-line-arrow" class="svg-icon-line-arrow" />
      </div>
    </div>

    <div :class="dropListClasses">
      <slot :toggleDropdown="toggleDropdown" />
    </div>
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside'
import '~/components/svg-icons/icon-line-arrow'
export default {
  name: 'Dropdown',
  directives: {
    clickOutside: vClickOutside.directive
  },
  props: {
    dropText: {
      type: String,
      default: ''
    },
    dropTextMobile: {
      type: String,
      default: ''
    },
    dropPosition: {
      type: String,
      default: 'right'
    },
    dropTextRes: {
      type: Number,
      default: 0
    },
    dropLinkClass: {
      type: String,
      default: ''
    },
    dropListClass: {
      type: String,
      default: ''
    },
    caret: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      open: false,
      textChange: false
    }
  },
  computed: {
    dropLinkClasses () {
      return [
        this.$style.dropdown__link,
        {
          [this.$style['dropdown__link--open']]: this.open
        },
        {
          [this.dropLinkClass]: !!this.dropLinkClass
        }
        // {
        //     [this.$style['dropdown__link--caret']] : this.caret
        // }
      ]
    },
    dropListClasses () {
      return [
        this.$style.dropdown__list,
        this.$style['dropdown__list--' + this.dropPosition],
        {
          [this.$style['dropdown__list--open']]: this.open
        },
        {
          [this.dropListClass]: !!this.dropListClass
        }
      ]
    }
  },
  mounted () {
    this.handleResize()
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize (e) {
      this.textChange = window.innerWidth <= this.dropTextRes
    },
    handleOuterClick (e) {
      this.open = false
    },
    toggleDropdown () {
      this.open = !this.open
    }
  }
}
</script>

<style lang="scss" module>
.dropdown{
  position: relative;
  &__caret{
    transform: rotate(-90deg);
    transition: all 0.2s;
    color: $clr-text-primary;
    margin: 0 0 0 5px;
    &:hover{
      color: $clr-text-primary;
    }
    :global(.svg-icon){
      display: block;
    }
  }
  &__link{
    &:hover{
      cursor: pointer;
      color: $clr-main-secondary;
    }
    &--open{
      .dropdown__caret{
        transform: rotate(90deg);
      }
    }
  }
  &__list{
    position: absolute;
    top: calc(100% + 10px);
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.07);
    transition: opacity 0.2s, visibility 0.2s;
    padding: 20px 30px;
    min-width: 100%;
    font-size: 14px;
    z-index: 2;
    white-space: nowrap;
    a{
      color: $clr-text-primary;
      &:hover{
        color: $clr-main-secondary;
        text-decoration: none;
      }
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        margin: 0 0 15px 0;
        &:last-child{
          margin: 0;
        }
      }
    }

    &--right{
      right: 0;
      text-align: right;
    }
    &--left{
      left: 0;
    }
    &--center{
      left: 50%;
      transform: translateX(-50%);
    }
    &--open{
      visibility: visible;
      opacity: 1;
    }
  }
  :global(.dropdown_actions){
    text-align: left;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(132, 132, 132, 0.25);
    color: $clr-text-primary;
    ul{
      li{
        display: flex;
        align-items: center;
        padding: 10px 18px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        margin: 0;
        &:hover{
          background-color: #ECF0FF;
        }
        :global(.svg-icon){
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
    &--delete{
      color: $clr-system-error;
      :global(.svg-icon){
        color: $clr-system-error;
      }
    }
  }
}
</style>
