*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  background-color: #ffffff;
  min-width: 320px;
  scroll-behavior: smooth;
}
html {
  overflow: auto;
  &.mobile_menu_open {
    @include md-block() {
      overflow: hidden;
    }
  }
  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 16px;
  }
}
body {
  overflow: hidden;

}
//html::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//  border-radius: 10px;
//  background-color: #f5f5f5;
//}
//
//html::-webkit-scrollbar {
//  width: 7px;
//  background-color: #f5f5f5;
//}
//
//html::-webkit-scrollbar-thumb {
//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//  background-color: #555;
//}

.container {
  @include wrapper();
  @include lg-block() {
    max-width: 992px;
  }
  @include md-block() {
    max-width: 768px;
  }
  @include sm-block() {
    max-width: 100%;
  }
}
.menu-active-class {
}
