html,
body {
  color: $clr-text-primary;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.2;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: $clr-gray;
  text-decoration: none;
  transition: color 0.2s;

  //&:hover {
  //  text-decoration: underline;
  //}
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
  color: $clr-text-primary;
  line-height: 1.2;
}

h1 {
  font-size: 56px;
  line-height: 1.1;
  @include lg-block{
    font-size: 48px;
    line-height: 1.2;
  }
  @include sm-block{
    font-size: 40px;
  }
}

h2 {
  font-size: 48px;
  @include lg-block{
    font-size: 40px;
  }
  @include sm-block{
    font-size: 34px;
  }
}

h3 {
  font-size: 40px;
  @include lg-block{
    font-size: 32px;
    line-height: 1.2;
  }
  @include sm-block{
    font-size: 26px;
    line-height: 1.3;
  }
}

h4 {
  font-size: 32px;
  line-height: 1.2;
  @include lg-block{
    font-size: 24px;
    line-height: 1.3;
  }
  @include sm-block{
    font-size: 22px;
    line-height: 1.4;
  }
}
h5{
  font-size: 24px;
  line-height: 1.2;
  @include lg-block{
    font-size: 20px;
    line-height: 1.4;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.text{
  font-size: 18px;
  line-height: 1.3;
  &--bold{
    font-weight: 600;
  }
  &--md{
    font-size: 16px;
    line-height: 1.2;
  }
  &--sm{
    font-size: 14px;
    line-height: 1.2;
  }
  &--xs{
    font-size: 12px;
    line-height: 1.3;
  }
}

.heading {
  font-weight: 500;
  font-size: 72px;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 47px;
  @include md-block{
    font-size: 55px;
    margin-bottom: 25px;
  }
  @include sm-block{
    font-size: 45px;
    margin-bottom: 20px;
  }
  @include xs-block{
    font-size: 40px;
  }
  @include xxs-block{
    font-size: 28px;
    margin-bottom: 15px;
  }
  &--xxl{
    font-size: 100px;
    @media screen and (max-width: 1500px){
      font-size: 70px;
      line-height: 1.2;
    }
    @include lg-block{
      font-size: 65px;
    }
    @include md-block{
      font-size: 60px;
    }
    @include sm-block {
      font-size: 45px;
    }
    @include xs-block() {
      font-size: 40px;
    }
    @include xxs-block() {
      font-size: 32px;
    }
  }
  &--desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 560px;
    @include sm-block{
      font-size: 16px;
      max-width: 100%;
    }
    @include xs-block{
      font-size: 14px;
    }
    @include xxs-block{
      font-size: 13px;
    }
  }
  &--xs_center{
    @include xs-block{
      text-align: center;
    }
  }
  &--no_margin{
    margin: 0;
  }
  &--primary{
    color: $clr-text-primary;
  }
  &--s18 {
    font-size: 18px;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--medium {
    font-weight: 500;
  }
  &--regular {
    font-weight: 400;
  }
  &--bold{
    font-weight: 700;
  }
}
