//landing
$clr-gray: #9F9FA7;
$clr-light-gray: #D6D9DB;

//font
$font-family: 'Montserrat' , -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
$font-size: 18px;
$line-height: 1.3;

// app
$clr-main: #EFA12C;
$clr-main-secondary: #2C6EEF;

$clr-bgc-white: #FFFFFF;
$clr-bgc-icon: #D0CFDC;
$clr-bgc-disabled: #F1F1F3;
$clr-bgc-line: #EAEAED;
$clr-bgc-grey: #F8F8F8;

$clr-text-primary: #030C24;
$clr-text-secondary: #6D768A;
$clr-text-caption: #A2A2B8;

$clr-system-error: #EF2C2D;
$clr-system-success: #30CB71;
$clr-system-warning: #FDD01A;
