$btn-clr-success: $clr-system-success;
$btn-clr-base: $clr-main-secondary;
$btn-clr-danger: rgba(239, 44, 45, 0.14);
$btm-clr-dark: $clr-text-primary;
$btn-font-size: 18px;
$btn-font-size-lg: 16px;

$btn-border-radius: 8px;
//$btn-border-radius-lg: 9px;
button{
  border: none;
  outline: none;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 13px 40px;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: $btn-font-size;
  border-radius: $btn-border-radius;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s, background 0.2s;
  position: relative;
  min-height: 40px;
  @include button-state-color($btn-clr-base, #ffffff);
  @include lg-block{
    font-size: $btn-font-size-lg;
  }

  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1s linear infinite;
    display: none;
  }

  &--bordered {
    &:after {
      border-color: $btn-clr-base transparent $btn-clr-base transparent;
    }
  }
  &--no-shadow{
    box-shadow: none !important;
  }
  &--md {
    font-size: 16px;
    padding: 10px 32px;
  }

  &--sm {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 24px;
    font-weight: 500;
    min-height: 32px;
  }

  &--with-icon {
    display: flex !important;
    align-items: center;
    .svg-icon {
      display: block;
      margin: 0 12px 0 0;
      font-size: $btn-font-size;
    }

    &.btn--xl {
      .svg-icon {
        font-size: 21px;
      }
    }
  }

  &--with-icon-center {
    justify-content: center;
  }

  &--circle {
    border-radius: 50%;
  }

  &--success {
    @include button-state-color($btn-clr-success, #ffffff);

    &.btn--bordered {
    &:after {
      border-color: $btn-clr-success transparent $btn-clr-success transparent;
    }
    }
  }

  &--danger {
    @include button-state-color(rgba(239, 44, 45, 0.1), $clr-system-error);

    &.btn--bordered {
      &:after {
        border-color: $clr-system-error transparent $clr-system-error transparent;
      }
    }

    &.btn--loading {
      background: rgba(239, 44, 45, 0.2);
      cursor: not-allowed;
    }
    //.svg-icon{
    //  color: $clr-system-error;
    //}
  }

  &--warning {
   @include button-state-color($clr-system-warning, #ffffff);

   &.btn--bordered {
     &:after {
       border-color: $clr-system-warning transparent $clr-system-warning transparent;
     }
   }
  }

  &--white {
    @include button-state-color(#ffffff, $clr-text-primary, 2%);
    //box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.15);
    &:hover{
      background-color: #fff;
    }

    &.btn--bordered {
      &:after {
        border-color: #ffffff transparent #ffffff transparent;
      }
    }
  }
  &--light {
    @include button-state-color(#EFF3FA, $clr-main-secondary, 1%);
    box-shadow: 0px 0px 10px rgba(239, 243, 250, 0.15);

    &.btn--bordered {
      &:after {
        border-color: #ffffff transparent #ffffff transparent;
      }
    }
  }

  //&--gray {
  //  @include button-state-color(#F4F6F8, $clr-text-primary);
  //
  //  &.btn--bordered {
  //    &:after {
  //      border-color: #F4F6F8 transparent #F4F6F8 transparent;
  //    }
  //  }
  //}

  //&--gray-bordered {
  //  border-color: $clr-border;
  //  color: $clr-text-primary;
  //  background: transparent;
  //}

  //&--social-fb {
  //  @include button-state-color(#527BCC, #ffffff);
  //
  //  &.btn--bordered {
  //    &:after {
  //      border-color: #527BCC transparent #527BCC transparent;
  //    }
  //  }
  //
  //  &.btn--loading {
  //    background: #527BCC;
  //  }
  //}

  &--full {
    width: 100%;
    display: block;
  }

  &--disabled,
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    background: $clr-bgc-disabled;
    color: $clr-text-secondary;
    border-color: transparent;
    &:hover{
      background: $clr-bgc-disabled !important;
      color: $clr-text-secondary !important;
    }
    //Проверить по дизайку как отображаются disable кнопки и дорабоать глобальные стили, возможно так как сейчас закоментировано
  }


  &--loading {
    color: transparent !important;

    &:hover,
    &:focus,
    &:active {
      color: transparent !important;
    }

    &:after {
      display: block;
    }

    &:hover {
      color: transparent !important;

      &:after {
        border-color: #ffffff transparent #ffffff transparent;
      }
    }
  }

  &--icon {
    //border-color: $clr-border;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: rgba(44, 110, 239, 0.14);

    .svg-icon {
      font-size: 20px;
      display: block;
      color: $clr-main-secondary;
    }
    &.btn--danger{
      background: rgba(239, 44, 45, 0.14);
      border: none;
      .svg-icon {
        font-size: 20px;
        display: block;
        color: $clr-system-error;
      }
    }

    //&.btn--loading {
    //  &:hover,
    //  &:focus,
    //  &:active {
    //    border-color: rgba(#D5DEE3, 0.5);
    //    background: #ffffff;
    //    color: $clr-text-primary;
    //  }
    //
    //  &:after {
    //    border-color: $clr-text-primary transparent $clr-text-primary transparent;
    //  }
    //}

    &.btn--sm {
      height: 32px;
      width: 32px;

      .svg-icon {
        font-size: 12px;
      }
    }
    //
    //&-white {
    //  background: #ffffff;
    //}
  }


  &--text-success {
    color: $clr-system-success;
  }
  &--delete{
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 24px;
    &.btn--disabled{
      @include button-state-color($clr-bgc-disabled, $clr-text-caption, 1%);
      box-shadow: 0px 0px 10px rgba(239, 243, 250, 0.15);
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon_circle{
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
  &--xl{
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
  }
  &--sm{
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
  }
}
