.datepicker{
  position: relative;
  &_icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    @include xxs-block {
      display: none;
    }
    :global(.svg-icon){
      display: block;
    }
  }
  input {
    @include from(480px) {
      padding-right: 45px;
    }
    &:read-only{
      cursor: text;
      opacity: 1;
      background: #ffffff;
    }
  }
  .vc-popover-content{
    border-radius: 12px;
    border: 0;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.07) !important;
    &.direction-bottom{
      margin-top: 2px !important;
      border-radius: 0 0 12px 12px;
    }

    &.direction-top{
      margin-bottom: 2px !important;
      border-radius: 12px 12px 0 0;
    }
  }
  .vc-popover-caret{
    display: none !important;
  }
}

.vc-grid-container {
  overflow: hidden !important;
}

.vc-container{
  max-width: 100%;
  border: none !important;
  font-family: $font-family !important;

  .vc-dots {
    position: relative;
    top: -4px;

    .vc-dot {
      width: 3px;
      height: 3px;

      &.vc-bg-custom {
        background-color: $clr-main-secondary;
      }
    }
  }

  .vc-arrows-container {
    top: 3px;
    & > div {
      color: $clr-text-primary;
      &:hover {
        opacity: 1;
        color: $clr-main-secondary;
        background-color: transparent;
      }
    }
    .vc-svg-icon {
      width: 20px !important;
      height: 20px !important;
    }
  }
  .vc-header {
    .vc-title{
      font-size: 16px;
      color: $clr-text-primary;
      //border-radius: 8px;
      //border: 1px solid $clr-text-primary;
      //padding: 2px 7px;
      transition: .2s;
      &:hover,
      &:focus {
        color: $clr-main-secondary;
        //border-color: $clr-main-secondary;
      }
    }
  }
  .vc-weekday{
    font-size: 14px;
    color: $clr-text-secondary;
  }
  .vc-day {
    &.on-right {
      [class*="vc-bg-"] {
        &[class$="200"] {
          border-radius: 0 15px 15px 0 !important;
        }
      }
    }
    &.on-left {
      [class*="vc-bg-"] {
        &[class$="200"] {
          border-radius: 15px 0 0 15px !important;
        }
      }
    }
    &.is-today {
      .vc-day-content {
        background: #f3f3f3;
        &[class*="vc-text-gray"] {
          &:hover,
          &:focus {
            background: $clr-bgc-white;
          }
        }
      }
      .vc-highlights + .vc-day-content {
        background: transparent;
      }
    }
    .vc-day-content{
      font-size: 12px;
      font-weight: 400;
      color: $clr-text-primary;
      &:hover,
      &:focus {
        color: #ffffff !important;
        background: $clr-main-secondary !important;
      }
      &[class*="vc-text-gray"] {
        color: $clr-text-primary;
        &:hover,
        &:focus {
          cursor: not-allowed;
          background: transparent;
        }
      }
      &[class*="vc-text-white"] {
        color: #ffffff;
      }
    }
  }
  .vc-highlight{
    border: 0;
    &[class*="vc-bg-"] {
      &[class$="200"] {
        background: rgba($clr-main-secondary, 0.1) !important;
      }
      &[class$="600"] {
        background: $clr-main-secondary !important;
      }
    }
  }
}
.vc-pane-container{
  box-shadow: 0px 15px 20px rgba(132, 132, 132, 0.2);
  border-radius: 16px;
}
