.load_status{
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 40px;
  &--delivered{
    color: $clr-system-success
  }
  &--progress{
    color: $clr-system-warning;
  }
  &--failed{
    color: $clr-system-error;
  }
}
