.input,
.textarea{
  font-size: 14px;
  line-height: 1.3;
  color: $clr-text-primary;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  background: $clr-bgc-grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: $font-family;
  box-shadow: none;
  outline: none;
  transition: all 0.2s;
  height: 46px;
  font-weight: 500;
  @include placeholder{
    line-height: 1.3;
    font-size: 14px;
    color: $clr-text-secondary;
    transition: all 0.2s;
    font-family: $font-family;
    opacity: 1;
    font-weight: 400;
  }
  &--white{
    background-color: #fff;
  }
  &--white-and-border{
    background-color: #fff;
    border: 1px solid $clr-bgc-line;
  }
  &:focus{
    border-color: $clr-main-secondary;
    //box-shadow: 0 0 6px 0 rgba($clr-main-secondary, 0.51);
    @include placeholder{
      color: $clr-text-primary;
    }
  }
  &:disabled,
  &.disabled{
    cursor: not-allowed;
    opacity: 0.6;
    background: #fafafa;
  }

  //&:read-only{}
  &--s40{
    padding: 7px 10px;
    height: 40px;
  }

  &--s38{
    padding: 6px 10px;
    height: 38px;
  }

  &--bold{
    font-weight: 700;
  }
}

.textarea{
  width: 100%;
  height: auto;
  line-height: 1.5;
  resize: none;
  display: block;
  padding: 10px 20px;
  min-height: 46px;
  @include placeholder{
    line-height: 1.5;
  }
  &::-webkit-scrollbar-track {
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #D0CFDC;
  }
}

.field{
  .input,
  .textarea{
    display: block;
    width: 100%;
  }
  .field_desc{
    font-size: 12px;
    margin: 5px 0;
    @include first-last-margin();
  }
  .help_block{
    font-size: 14px;
    margin: 5px 0 0 0;
    @include sm-block{
      font-size: 12px;
    }
    p{
      margin: 0;
      font-size: 14px;
      @include sm-block{
        font-size: 12px;
      }
    }
  }
  .help_desk{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $clr-text-secondary;
    margin-top: 8px;
    margin-left: 2px;
    &--right{
      text-align: right;
    }
  }
  &.has_error{
    .input,
    .participant-field,
    .textarea{
      border-color: rgba($clr-system-error, 0.4);
      &:focus{
        box-shadow: 0 0 6px 0 rgba($clr-system-error, 0.30);
      }
    }
    .participant-field:focus-within{
      box-shadow: 0 0 6px 0 rgba($clr-system-error, 0.30);
    }
    .multiselect {
      .multiselect__tags {
        border-color: rgba($clr-system-error, 0.4);
      }
    }

    .help_block{
      color: $clr-system-error;
    }
  }
  &.blurred {
    position: relative;
    & > * {
      opacity: 0.8;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: #ffffff;
      content: '';
    }
  }
}

.form_field,
.field{
  > label{
    display: block;
    color: $clr-text-secondary;
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    @include lg-block{
      font-size: 16px;
    }
  }
  &.required{
    > label{
      &:after{
        content: '*';
        display: inline-block;
        color: $clr-system-error;
        margin: 0 0 0 2px;
      }
    }
  }
  &.has_error{
      > label{
          color: $clr-system-error;
      }
  }
  //&.limited_input {
  //  position: relative;
  //  .field_desc {
  //    position: absolute;
  //    left: 1px;
  //    right: 1px;
  //    bottom: 1px;
  //    border-radius: 0 0 7px 7px;
  //    background: #ffffff;
  //    padding: 0 6px;
  //    margin: 0;
  //  }
  //  .textarea {
  //    padding-bottom: 18px;
  //  }
  //}
}

.form_field{
  margin-bottom: 24px;
  @include first-last-margin();
  @include xxs-block{
    margin-bottom: 18px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.form_row {
  @include u-row-flex(16px);
  @include first-last-margin();
  margin-top: -24px;
  .form_field{
    @include u-col(16px);
    @include u-size(6, 12, 16px);
    margin-top: 24px;
    margin-bottom: 0;
    &>label{
      font-size: 16px;
      font-weight: 600;
    }
  }
  &--triple {
    .form_field {
      @include u-size(4, 12, 16px);
    }
  }
}
.form_row_no-margin{
  display: flex;
  justify-content: space-between;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: 24px;
  @include xxs-block{
    margin-bottom: 18px;
  }
  @media (max-width: 375px) {
    display: block;
    margin: 0;
  }
  .form_field{
    width: calc(50% - 8px);
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;
    @media (max-width: 375px) {
      width: 100%;
      margin: 0 0 18px 0;
    }
  }
}

.form_app_filter {
  display: flex;
  justify-content: space-between;
  .input,
  .textarea{
    font-weight: 400;
  }
  .form_field{
    margin: 0;
    flex: 1;
    &>label{
      font-size: 14px;
    }
    &:not(:last-child){
      margin-right: 16px;
    }
    &--2{
      flex: 2;
    }
    &--flex{
      display: flex;
      .checkbox{
        margin-right: 8px;
        position: relative;
        top: 38px;
      }
      & > div > label{
        font-size: 14px;
        display: block;
        color: #6D768A;
        margin: 0 0 8px 0;
        font-weight: 600;
        letter-spacing: 0.02em;
      }
      .form_field--input{
        flex-grow: 1;
      }
    }
  }
  .textarea{
    min-height: 92px;
    resize: none;
  }
}
.form_load_read-only {
  @include u-row-flex(12px);
  .input,
  .textarea{
    font-weight: 500;
    &:focus{
      border-color: $clr-bgc-line;
      //box-shadow: 0 0 6px 0 rgba($clr-main-secondary, 0.51);
      @include placeholder{
        color: $clr-text-primary;
      }
    }
  }
  .form_field{
    @include u-col(12px);
    @include u-size(6, 12, 12px);
    margin-top: 16px;
    margin-bottom: 0;
    &>label{
      font-size: 14px;
      font-weight: 400;
    }
  }
  &.triple{
    .form_field{
      @include u-size(4, 12, 12px);
    }
  }
}



//.form_field_append{
//  display: flex;
//  align-items: stretch;
//  &__input{
//    flex: 1 1 100%;
//    max-width: 100%;
//    .input{
//      border-top-right-radius: 0;
//      border-bottom-right-radius: 0;
//      border-right: 0;
//    }
//  }
//  &__text{
//    white-space: nowrap;
//    flex: 0 0 auto;
//    color: $clr-font;
//    font-size: 16px;
//    background: rgba($clr-border, 0.2);
//    border: 1px solid $clr-border;
//    border-left: 0;
//    border-radius: 0 7px 7px 0;
//    display: flex;
//    align-items: center;
//    font-weight: 500;
//    padding: 0 17px;
//  }
//}
//
//.form_checkbox_list,
//.form_radio_list{
//    display: flex;
//    flex-direction: column;
//    align-items: flex-start;
//    .checkbox,
//    .radio{
//        margin: 0 0 5px 0;
//        &:last-child{
//            margin: 0;
//        }
//    }
//}
//
//.form_checkbox_inline,
//.form_radio_inline{
//    display: flex;
//    flex-wrap: wrap;
//    margin: -5px -10px;
//    .checkbox,
//    .radio{
//        margin: 5px 10px;
//        max-width: 100%;
//    }
//}
//
//.radio,
//.checkbox{
//    position: relative;
//    font-size: 14px;
//    label{
//        display: inline-block;
//        padding: 0 0 0 20px;
//        input{
//            position: absolute;
//            left: 0;
//            top: calc(1.5em/2);
//            transform: translateY(-53%);
//        }
//    }
//}


//.form_actions{
//  margin-top: 22px;
//}

.checkbox{
  @include checkbox-state-color($clr-main-secondary);
  font-size: 14px;
  color: $clr-text-primary;
  line-height: 1.2;
  label {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    color: $clr-text-secondary;
    font-weight: 500;
    //align-items: flex-start;
    //width: max-content;
  }

  input{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
  }

  span + span{
    margin: 0 0 0 12px;
  }

  input + span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: $clr-gray !important;
    cursor: pointer;
    transition: .3s;
    @include lg-block{
      width: 18px;
      height: 18px;
    }
    .svg-icon{
      display: block;
      font-size: 10px;
      color: #ffffff;
      opacity: 0;
    }
  }

  input:checked + span{
    .svg-icon{
      opacity: 1;
    }
  }

  input:disabled + span,
  input:disabled:focus + span,
  input:disabled:hover + span{
    border: 1px solid $clr-gray;
    background: rgba($clr-gray, 0.5);
  }

  &--xl {
    input + span {
      width: 24px;
      height: 24px;
      .svg-icon{
        font-size: 14px;
      }
    }
  }
  &--lg {
    input + span {
      width: 18px;
      height: 18px;
    }
  }
  &--md {
    input + span {
      width: 16px;
      height: 16px;
    }
  }

  &--right {
    label {
      justify-content: flex-end;
    }
  }

  &--inline {
    label {
      display: inline-flex;
    }
  }

  &--yellow {
    @include checkbox-state-color(#F7B721);
  }

  &--orange {
    @include checkbox-state-color(#E95D0C);
  }

  &--red {
    @include checkbox-state-color(#FF0A0A);
  }

  &--gray {
    @include checkbox-state-color(#9199B1);
  }

  &--black {
    @include checkbox-state-color(#1F2931);
  }

  &--violet {
    @include checkbox-state-color(#3B0AFF);
  }
}
.upload{
  input{
    display: none;
  }
  &__box{
    background: $clr-bgc-grey;
    border: 1px dashed $clr-bgc-line;
    border-radius: 8px;
    height: 106px;
    position: relative;
    &--mini{
      width: 112px;
    }
    &--active{
      border: 1px solid transparent;
    }
  }
  &__empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    flex: 1;
    flex-direction: column;
    .svg-icon{
      font-size: 24px;
      color: $clr-text-caption;
    }
  }
  &__formats{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $clr-text-caption;
    margin-top: 12px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
  &__replace{
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clr-bgc-grey;
    border-radius: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    .svg-icon{
      font-size: 18px;
      color: $clr-text-primary;
    }
  }
}
//.checkbox-all{
//  input{
//    opacity: 0;
//    position: absolute;
//    width: 1px;
//    height: 1px;
//    border: 0;
//  }
//
//  span{
//    display: flex;
//    width: 24px;
//    height: 24px;
//    border: 3px dotted $clr-text-primary;
//    border-radius: 3px;
//    position: relative;
//    align-items: center;
//    justify-content: center;
//    cursor: pointer;
//    &:before{
//      content: '';
//      width: 14px;
//      height: 14px;
//      border: 3px solid $clr-text-primary;
//      position: absolute;
//      left: calc(50% - 7px);
//      top: calc(50% - 7px);
//
//    }
//
//    .svg-icon{
//      display: block;
//      font-size: 8px;
//      color: $clr-brand-turquoise;
//      opacity: 0;
//    }
//  }
//
//  input:checked + span{
//    border-color: $clr-brand-turquoise;
//    //background: $clr-brand-turquoise;
//    &:before{
//      display: none;
//    }
//    .svg-icon{
//      opacity: 1;
//    }
//  }
//
//  input:focus + span,
//  input:hover + span{
//    border-color: $clr-brand-turquoise;
//    &:before{
//      border-color: $clr-brand-turquoise;
//    }
//  }
//}
//.participant-email-input:focus{
//  box-shadow: none !important;
//}
.radio {
  display: flex;
  align-items: center;

  & > input {
    margin-right: 9px;
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label:before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 50%;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      transition: .3s;

    }

    &:checked + label::before {
      border-color: #0b76ef;
      background-color: #0b76ef;
      // eslint-disable-next-line no-use-before-define
      background-image: url("/images/radio-button.svg");
      background-size: 120%;
    }
  }

  & > label {
    display: flex;
    align-items: center;
  }

  & > label > div {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 18px;

    .svg-icon {
      font-size: 13px;
      margin-right: 10px;
    }
  }

  &:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
}

