.vm--overlay{
  background: rgba(0, 0, 0, 0.35) !important;
}
.vm--modal{
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.modal__wrapper{
  height: 100%;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: none;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 32px;
  text-align: center;
  border: none;
  max-height: 720px;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 7px;
    border-radius: 8px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 8px;
  }
}
.modal__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}
.modal__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $clr-text-secondary;
  margin-bottom: 24px;
}
.modal__btn{
  &--flex{
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child){
      margin-bottom: 24px;
    }
    .btn{
      &:first-child{
        margin-right: 12px;
      }
      &.btn--white{
        @include button-state-color(#ffffff, $clr-main-secondary, 0%);
        box-shadow: none;
      }
      &.btn--danger{
        border: none;
      }
      &:disabled{
        background: #F1F1F3;
        color: $clr-text-secondary;
        border-color: transparent;
        &:hover{
          //background: #F1F1F3 !important;
          color: $clr-text-secondary !important;
        }
      }
      &.btn--loading{
        &:disabled{
          background-color: $clr-main-secondary;
          &:hover{
            color: transparent !important;
          }
        }
      }
    }
    .radio{
      padding: 8px;
      &:first-child{
        margin-right: 32px;
      }
      & > label > div{
        border-radius: 40px;
      }
      &.radio--expired{
        &> label > div{
          background: rgba(253, 208, 26, 0.1);
          color: $clr-system-warning
        }
      }
      &.radio--posted{
        &> label > div{
          background: rgba(48, 203, 113, 0.1);
          color: $clr-system-success;
          .svg-icon{
            font-size: 13px;
            width: (15 / 13) + em;
          }
        }

      }
    }
    &_end{
      justify-content: flex-end;
    }
  }
}
