.multiselect {
  min-height: 44px;

  .multiselect {
    &__placeholder {
      margin: 0;
      padding: 0;
      background: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      font-size: 14px;
      line-height: 44px;
      color: $clr-text-secondary;
      transition: 0.3s;
      font-family: $font-family;
      opacity: 1;
      font-weight: 400;
    }

    &__tags {
      min-height: 46px;
      padding: 0 36px 0 18px;
      background-color: #fff;
      font-weight: 400;
      font-size: 14px;
      transition: color 0.2s, box-shadow 0.2s, border-color 0.2s;
      line-height: 1.3;
      color: $clr-text-primary;
      border: 1px solid transparent;
      border-radius: 8px !important;
    }

    &__input {
      height: 44px;
      line-height: 1.5;
      padding: 10px 0;
      font-family: $font-family;
      margin: 0;
      font-size: 14px;
      @include placeholder() {
        transition: .3s;
      }
      &:focus {
        @include placeholder() {
          color: transparent;
        }
      }
    }

    &__select {
      height: 100%;
      padding: 0 0 0 5px;
      width: 36px;
      display: flex;
      align-items: center;

      .svg-icon {
        display: block;
        transition: transform 0.2s;
        //transform: rotate(-90deg);
      }

      &:before {
        display: none;
      }
    }

    &__single {
      line-height: 44px;
      margin: 0;
      padding: 0;
      background: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
    }
    &__option {
      padding: 11px 18px;
      min-height: 0;
      position: relative;

      &--highlight {
        color: $clr-text-primary;
        background: none;
      }

      &--selected {
        background: none !important;
        color: $clr-main-secondary !important;
      }
      &:hover{
        background-color: #ECF0FF;
      }
    }

    &__content-wrapper {
      color: $clr-text-primary;
      border: 1px solid transparent;
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.07);
      font-weight: 700;
      border-radius: 12px;
      top: calc(100% + 2px);
      padding: 10px 0;
      font-size: 14px;
      &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F1F1F3;
        border-radius: 16px;
        //border: solid 3px transparent;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 16px;
        //background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #D0CFDC;
        //border: solid 3px transparent;
      }
    }

    &__content {
      position: relative;
    }
  }

  &.multiselect--above {
    .multiselect {
      &__content-wrapper {
        top: auto;
        bottom: calc(100% + 2px);
        border-radius: 12px;
      }
      //&__tags {
      //  border-color: $clr-main-secondary;
      //}
    }
  }

  &.multiselect--active {
    z-index: 6;

    .multiselect {
      &__select {
        transform: none;

        .svg-icon {
          transform: rotate(180deg);
        }
      }
      &__tags {
        border-color: $clr-main-secondary;
      }
      &__placeholder {
        display: block;
      }
    }
  }

  &__clear{
    position: absolute;
    width: 20px;
    height: 20px;
    //background: red;
    right: -5px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: $clr-bgc-grey;
    border-radius: 10px;
    cursor: pointer;
    .svg-icon{
      display: block;
      font-size: 10px;
    }
  }
}

.multiselect.multiselect--base {
  min-height: 44px;

  .multiselect {
    &__single {
      font-size: 14px;
      line-height: 44px;
      font-weight: 500;
    }

    &__spinner {
      top: 7px;

      &:after,
      &:before {
        border-top-color: $clr-main-secondary;
      }
    }

    &__tags {
      height: 46px;
      padding: 0 36px 0 20px;
      background-color: $clr-bgc-grey;
    }

    &__input {
      height: 44px;
      line-height: 1.5;
      padding: 10px 0;
      font-family: $font-family;
      margin: 0;
      background-color: $clr-bgc-grey;
      &:focus {
        @include placeholder() {
          color: transparent;
        }
      }
    }

    &__placeholder {
      line-height: 46px;
    }

    &__tags-wrap {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 0 0;
    }

    &__tag {
      background: #F6F9FB;
      font-weight: 500;
      font-size: 14px;
      color: $clr-text-primary;
      padding: 6px 10px;
      margin: 0 10px 10px 0;
      display: flex;
      align-items: center;

      a {
        margin: 0 0 0 10px;
      }

      a,
      .svg-icon {
        display: block;
      }
    }
  }

  span.multiselect__option.multiselect__option--highlight {
    &:after {
      display: none;
    }
  }

  //&.multiselect--active,
  //&.multiselect-focused {
  //  .multiselect {
  //    &__tags {
  //      border-color: $clr-main-secondary;
  //      //box-shadow: 0 0 6px 0 rgba($clr-main-secondary, 0.51);
  //    }
  //  }
  //}
}
.multiselect.multiselect--docs{
  min-height: 34px;
  min-width: 180px;
  .multiselect {
    &__select{
      padding: 0 0 0 10px;
      &::after{
        content: '';
        position: absolute;
        height: 18px;
        width: 1px;
        background-color: $clr-bgc-icon;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__single {
      font-size: 14px;
      line-height: 34px;
      min-height: 17px;
      font-weight: 500;
      color: $clr-text-primary;
    }

    &__spinner {
      top: 7px;

      &:after,
      &:before {
        border-top-color: $clr-main-secondary;
      }
    }

    &__tags {
      min-height: 34px;
      padding: 0 44px 0 12px;
      background-color: #F1F1F3;
    }

    &__input {
      height: 34px;
      line-height: 1.5;
      padding: 10px 0;
      font-family: $font-family;
      margin: 0;
      background-color: $clr-bgc-grey;
      &:focus {
        @include placeholder() {
          color: transparent;
        }
      }
    }

    &__placeholder {
      line-height: 34px;
      font-size: 14px;
      color: $clr-text-secondary;
    }

    &__tags-wrap {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 0 0;
    }

    &__tag {
      background: #F6F9FB;
      font-weight: 500;
      font-size: 14px;
      color: $clr-text-primary;
      padding: 6px 10px;
      margin: 0 10px 10px 0;
      display: flex;
      align-items: center;

      a {
        margin: 0 0 0 10px;
      }

      a,
      .svg-icon {
        display: block;
      }
    }
    &__content-wrapper {
      top: -55px;
      max-height: 200px !important;
      width: auto;
      box-shadow: 0px 0px 30px rgba(132, 132, 132, 0.25);
      border-radius: 8px;
    }
    &__option {
      padding: 8px 18px;
      font-weight: 500;
      font-size: 14px;
      color: $clr-text-primary;
      &--highlight {
        color: $clr-text-primary;
        background: none;
      }
      &:hover{
        background-color: #ECF0FF;
      }
    }
  }
  &.multiselect--above {
    .multiselect {
      &__content-wrapper {
        top: auto
}
    }
  }
  &.multiselect--active {
    .multiselect {
      &__tags {
        border-color: transparent;
      }
    }
  }
}
.multiselect.multiselect--loads{
  min-width: 150px;
  width: auto;
  .multiselect {
    &__select{
      width: auto;
      .svg-icon{
        font-size: 9px;
        color: $clr-text-primary;
      }
    }
    &__single {
      font-weight: 500;
      font-size: 24px;
      color: $clr-text-primary;
    }
    &__tags {
      padding: 0 32px 0 0;
      background-color: transparent;
    }
    &__content-wrapper {
      padding: 0;
      box-shadow: 0 0 30px rgba(132, 132, 132, 0.25);
      background-color: #fff;
    }
    &__option {
      padding: 8px 18px;
      font-weight: 500;
      font-size: 14px;
      color: $clr-text-primary;
      &--highlight {
        color: $clr-text-primary;
        background: none;
      }
      &:hover{
        background-color: #ECF0FF;
      }
    }
  }
  &.multiselect--active {
    .multiselect {
      &__tags {
        border-color: transparent;
      }
    }
  }
}
.multiselect.multiselect--mini{
  min-height: 28px;
  .multiselect {
    &__single {
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: $clr-text-secondary;
      margin-right: 8px;
    }
    &__spinner {

      &:after,
      &:before {
        border-top-color: transparent;
      }
    }
    &__tags {
      min-height: 28px;
      padding: 0 36px 0 8px;
      background-color: #fff;
      border-color: transparent;
    }
    &__input {
      height: 28px;
    }
    &__placeholder {
      line-height: 28px;
    }
  }
}
.multiselect.multiselect--md{
  min-height: 40px;
  .multiselect {
    &__single {
      font-size: 16px;
      line-height: 40px;
      font-weight: 400;
      color: $clr-text-secondary;
      margin-right: 8px;
    }
    &__spinner {

      &:after,
      &:before {
        border-top-color: transparent;
      }
    }
    &__tags {
      min-height: 40px;
      padding: 0 36px 0 8px;
      background-color: #fff;
      border-color: transparent;
    }
    &__input {
      height: 40px;
    }
    &__placeholder {
      line-height: 40px;
    }
  }
}
.multiselect.multiselect--status--delivered,
.multiselect.multiselect--status--progress,
.multiselect.multiselect--status--failed{
  .multiselect{
    &__select{
      .svg-icon{
        font-size: 9px;
        color: #200E32;
      }
    }
    &__single {
      font-weight: 600;
      top: 0;
      color: $clr-system-warning;
      margin-right: 0;
    }
    &__tags {
      padding: 0 48px 0 16px;
      border-radius: 16px !important;
    }
  }
}
.multiselect.multiselect--status--delivered{
  .multiselect__single {
      color: $clr-system-success
    }
}
.multiselect.multiselect--status--failed{
  .multiselect__single {
    color: $clr-system-error
  }
}
.multiselect--disabled {
  background: #ffffff;

  .multiselect__select {
    background: transparent;
  }
}

.participant-search-type {
  .multiselect__tags {
    width: 120px;
    border: none;
    box-shadow: none !important;
  }
}

.participant-search-field {
  .multiselect__tags {
    box-shadow: none !important;
    border: none;
  }

  .multiselect__select {
    display: none;
  }
}
.multiselect--grey{
  .multiselect{
    &__single{
      font-weight: 500;
    }
    &__tags{
      background-color: $clr-bgc-grey;
    }

  }
}
//
//.multiselect--white{
//  min-height: 44px;
//  background-color: #fff;
//
//  .multiselect {
//    &__single {
//      font-size: 14px;
//      line-height: 44px;
//      font-weight: 500;
//    }
//
//    &__spinner {
//      top: 7px;
//
//      &:after,
//      &:before {
//        border-top-color: $clr-main-secondary;
//      }
//    }
//
//    &__tags {
//      height: 46px;
//      padding: 0 36px 0 20px;
//    }
//
//    &__input {
//      height: 44px;
//      line-height: 1.5;
//      padding: 10px 0;
//      font-family: $font-family;
//      margin: 0;
//      background-color: #fff;
//      &:focus {
//        @include placeholder() {
//          color: transparent;
//        }
//      }
//    }
//
//    &__placeholder {
//      line-height: 46px;
//    }
//
//    &__tags-wrap {
//      display: flex;
//      flex-wrap: wrap;
//      padding: 10px 0 0 0;
//    }
//
//    &__tag {
//      background: #F6F9FB;
//      font-weight: 500;
//      font-size: 14px;
//      color: $clr-text-primary;
//      padding: 6px 10px;
//      margin: 0 10px 10px 0;
//      display: flex;
//      align-items: center;
//
//      a {
//        margin: 0 0 0 10px;
//      }
//
//      a,
//      .svg-icon {
//        display: block;
//      }
//    }
//  }
//
//  span.multiselect__option.multiselect__option--highlight {
//    &:after {
//      display: none;
//    }
//  }
//
//  &.multiselect--active,
//  &.multiselect-focused {
//    .multiselect {
//      &__tags {
//        border-color: $clr-main-secondary;
//        //box-shadow: 0 0 6px 0 rgba($clr-main-secondary, 0.51);
//      }
//    }
//  }
//}
