.vue-notification-group{
  //animation: notify-show 300ms;
  //animation-fill-mode:forwards
  top: 50px !important;
}
// style of the notification itself
.my-notify {
  border-radius: 8px;
  margin: 0 5px 5px;
  border: 1.5px solid transparent;
  padding: 10px 16px;
  //box-shadow: 0 5px 20px rgba(132, 132, 132, 0.2);


  &__flex{
    display: flex;
    align-items: center;
  }
  &__icon{
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    .svg-icon{
      font-size: 12px;
      color: #fff;
    }
  }
  // style for title line
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $clr-text-secondary;
  }

  // style for content
  &__content {
    color: $clr-text-secondary;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 10px;
  }

  // additional styling hook when using`type` parameter, i.e. this.$notify({ type: 'success', message: 'Yay!' })
  &.success {
    background-color: #def7e8;
    border-color: $clr-system-success;
    .my-notify__icon{
      background-color: $clr-system-success;
    }
  }
  &.warning {
    background-color: #fff7da;
    border-color: $clr-system-warning;
    .my-notify__icon{
      background-color: $clr-system-warning;
    }
  }
  &.error {
    background-color: #fcdddd;
    border-color: $clr-system-error;
    .my-notify__icon{
      background-color: $clr-system-error;
    }
  }
}


@keyframes notify-show {
  from {
    top: 0 !important;
  }
  to {
    top: 50px !important;
  }
}
