.svg-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    height: 1em;
    width: 1em;
    pointer-events: none;
}

.svg-fill {
    fill: currentColor;
}
.svg-icon-logo{
  font-size: 55px;
  width: (352 / 307) + em;
  color: #fff;
}
.svg-icon-sign-in{
  font-size: 26px;
  font-weight: 500;
}
.svg-icon-social{
  font-size: 24px;
}
.svg-icon-arrow-right{
  font-size: 31px;
}
.svg-icon-benifits{
  font-size: 72px;
  color: $clr-gray;
}
.svg-icon-world-location{
  font-size: 43px;
  width: (31 / 43) + em;
  color: $clr-main-secondary;
}
.svg-icon-news-more-arrow{
  font-size: 15px;
  width: (74 / 15) + em;
  color: $clr-main-secondary;
}
.svg-icon-slider-arrow{
  font-size: 18px;
  color: $clr-gray;
}
.svg-icon-sign-back{
  font-size: 16px;
  width: (10 / 16) + em;
  color: $clr-text-secondary;
}
.svg-icon-sign-success{
  font-size: 28px;
  color: #fff;
  width: (38 / 28) + em;
}
.svg-icon-line-arrow{
  font-size: 7px;
  color: $clr-text-secondary;
  width: (12 / 7) + em;
}
.svg-icon-logo-long{
  font-size: 48px;
  width: (167 / 48) + em;
  color: #1E1E46;
}
.svg-icon-app-sidebar{
  font-size: 20px;
  color: $clr-text-caption;
}
.svg-icon-app-notification{
  font-size: 21px;
  color: $clr-text-primary;
}
.svg-icon-dots{
  font-size: 18px;
  width: (4 / 18) + em;
  color: $clr-text-secondary;
}
.table-icon-line-arrow{
  font-size: 10px;
  width: (16 / 10) + em;
  color: $clr-bgc-icon;
  transition: .3s;
}
.svg-icon-empty-box{
  font-size: 60px;
  color: $clr-text-secondary;
}
.svg-icon-calendar{
  font-size: 18px;
  color: #200E32;
}
.svg-icon-printer{
  font-size: 24px;
  color: $clr-text-primary;
}
.svg-icon-jafton{
  color: #fff;
  font-size: 15px;
  width: (52 / 18) + em;
}
