.table{
  .toolbar{
    margin-bottom: 16px;
    &__inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__left {
      display: flex;
      align-items: center;
    }
    &__total {
      display: flex;
      align-items: center;
      margin-right: 24px;

      h5 {
        font-weight: 500;
        font-size: 24px;
        margin-left: 16px;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-radius: 12px;
      background-color: #fff;
      font-weight: 600;
      font-size: 14px;
      color: $clr-text-primary;
      cursor: pointer;

      .svg-icon {
        margin-right: 12px;
        color: $clr-text-primary;
        font-size: 21px;
      }
    }
    &__filters{
      @include row-flex();
      justify-content: flex-end;
      margin-top: 0;
      transition: .3s;
      opacity: 0;
      height: 0;
      visibility: hidden;
      &--active{
        height: 71px;
        opacity: 1;
        visibility: visible;
        margin-top: 16px;
      }
    }
    &__filter{
      @include col();
      @include size(2);
      align-items: center;
      justify-content: flex-end;
      & > .checkbox > label{
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        color: $clr-text-primary;
        transform: translateY(50%);
      }
    }
  }
  &__content{
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px 16px;
  }
  &__thead{
    //@include u-row-flex(0px);
    .table__th{
      margin-bottom: 16px;
    }
  }
  .accordion__item{
    &:not(:last-child){
      border-bottom: 1px solid $clr-bgc-line;
      margin-bottom: 16px;
    }
  }
  &__th{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    //&:not(:first-child),
    //&:not(:last-child){
    //  border-bottom: 1px solid $clr-bgc-line;
    //  //cursor: pointer;
    //}
    &--active{
      .table-icon-line-arrow{
        transform: rotate(180deg);
      }
    }
  }
  &__td{
    padding: 8px 12px;
    font-size: 14px;
    color: $clr-text-secondary;
    flex: 1;
    //@include u-col(0px);
    //@include u-size(1, 12, 0px)
    &--1{
      flex: 0;
      min-width: 24px;
      display: flex;
      padding: 8px 0;
      &:last-child{
        justify-content: center;
      }
      &:not(:empty){
        cursor: pointer;
      }
    }
    &--title{
      font-weight: 600;
      color: $clr-text-primary;
    }
    &.expired{
      span{
        padding: 2px 8px;
        background: rgba(253, 208, 26, 0.1);
        border-radius: 40px;
        color: $clr-system-warning;
      }
    }
    &.posted{
      span{
        padding: 2px 8px;
        background: rgba(48, 203, 113, 0.1);;
        border-radius: 40px;
        color: $clr-system-success;
      }
    }
  }
  &__details{
    position: relative;
  }
  &__details{
    padding: 32px;
  }
  .details{
    &__inner{
      @include row-flex()
    }
    &__left{
      @include col();
      @include size(6);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__top{
        @include row-flex();
        margin-bottom: 40px;
        & > div{
          @include col();
          @include size(6);
          p{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $clr-text-secondary;
            &:not(:last-child){
              margin-bottom: 16px;
            }
          }
        }
      }
      &__bottom{
        display: flex;
        align-items: center;
        button{
          &:not(:last-child){
            margin-right: 24px;
          }
        }
      }
    }
    &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 20px;
    }
    &__sub-title{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin: 32px 0 16px 0;
    }
    &__right{
      @include col();
      @include size(6);
      &__inner{
        @include row-flex();
      }
      &__left{
        @include col();
        @include size(3);
        li{
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          &:not(:last-child){
            margin-bottom: 24px;
          }
        }
      }
      &__right{
        @include col();
        @include size(6);
        li{
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $clr-text-secondary;
          margin-bottom: 24px;
        }
      }
    }
  }
}

// table scrolling in dashboard

.table-scrolling-wrapper{
  position: relative;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar-track {
    background: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #D0CFDC;
    border-radius: 16px;
  }
}
.table-scrolling {
  th, td {
    padding: 8px 30px 8px 12px;
    font-weight: 400;
    font-size: 14px;
    color: #6D768A;
    white-space: nowrap;
    height: 49px;
    &.table-scrolling--mini{
      padding: 8px 12px;
      font-weight: 600;
    }
  }
  th{
    text-align: start;
    font-weight: 600;
    color: #030C24;
  }
  thead{
    tr{
      position: sticky;
      top: 0;
      background-color: #fff;
    }
  }
  tbody{
    tr{
      border-bottom: 1px solid #FFFFFF;
      cursor: pointer;
      &.load_status--delivered{
        background: rgba(48, 203, 113, 0.16);
      }
      &.load_status--progress{
        background: rgba(253, 208, 26, 0.16);
      }
      &.load_status--failed{
        background: rgba(239, 44, 45, 0.16);
      }
    }
  }
}
