<template>
  <!--  Все баги исправлены-->
  <client-only>
    <v-date-picker v-bind="$attrs" :locale="{ id: $i18n.locale, firstDayOfWeek: 2, masks: { weekdays: 'WW' }}" trim-weeks v-on="$listeners">
      <template #default="{ inputValue, inputEvents }">
        <div :class="$style['input_wrapper']">
          <input
            type="text"
            :class="['input', ...inputClass]"
            :value="inputValue"
            :placeholder="placeholder"
            :readonly="true"
            v-on="inputEvents"
          >
          <div class="datepicker_icon">
            <svgicon name="app/icon-calendar" class="svg-icon-calendar" />
          </div>
          <div v-if="reset && !!inputValue" :class="$style['reset']" @click="$emit('reset')">
            <svgicon icon="icon-close" />
          </div>
        </div>
      </template>
    </v-date-picker>
  </client-only>
</template>

<script>
import '~/components/svg-icons/icon-close'
export default {
  name: 'InputCalendar',
  inheritAttrs: false,
  props: {
    placeholder: {
      type: String,
      default: 'Select a date'
    },
    inputClass: {
      type: Array,
      default () {
        return []
      }
    },
    reset: {
      type: Boolean,
      default: false
    }
  }
  // data () {
  //   return {
  //     date: ''
  //   }
  // }
  // computed: {
  //   ...mapState(['user']),
  //   attributes() {
  //     return {
  //       firstDayOfWeek: this.user.weekStart + 1,
  //       ...this.$attrs
  //     }
  //   }
  // }
}
</script>

<style module lang="scss">
.input_wrapper {
  position: relative;
  :global(.svg-icon) {
    display: block;
    color: $clr-text-secondary;
  }

  input {
    width: 100%;
  }
}

.reset{
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  right: -5px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  :global(.svg-icon){
    display: block;
    font-size: 10px;
  }
}
</style>
