<template>
  <div :class="$style.heading">
    <h1><slot name="title" /></h1>
    <p><slot name="desc" /></p>
  </div>
</template>

<script>
export default {
  name: 'Heading'
}
</script>

<style module lang="scss">
.heading{
  @include sm-block{
    text-align: center;
  }
  h1{
    color: $clr-text-primary;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 15px;
    @include lg-block{
      font-size: 28px;
      margin-bottom: 10px;
    }
    @include xxs-block{
      font-size: 22px;
    }
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: $clr-text-caption;
    @include sm-block{
      margin: 0 auto;
    }
    @include xxs-block{
      font-size: 14px;
    }
  }
}
</style>
