<template>
  <div :class="$style['toolbar']">
    <div :class="$style['toolbar__inner']">
      <div :class="$style['toolbar__back']">
        <a @click.prevent="goBack">
          <svgicon name="sign/icon-sign-back" class="svg-icon-sign-back" />
          <span>Back</span>
        </a>
      </div>
      <div v-if="step" :class="$style['toolbar__info']">
        <div :class="$style['toolbar__step']">
          step {{ '0' + step }}/05
        </div>
        <div :class="$style['toolbar__desc']">
          <slot name="desc" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/sign/icon-sign-back'
export default {
  name: 'Toolbar',
  props: {
    link: {
      type: String,
      default: ''
    },
    step: {
      type: String,
      default: ''
    }
  },
  methods: {
    goBack () {
      if (this.link.length > 0) {
        this.$router.push(this.link)
        console.log(this.link)
      } else {
        this.$router.go(-1)
      }
    }
  }
}
</script>

<style module lang="scss">
.toolbar{
  margin-bottom: 50px;
  @media(max-width: 1400px){
    margin-bottom: 40px;
  }
  @include lg-block{
    margin-bottom: 30px;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__back{
    a{
      display: flex;
      align-items: center;
      color: $clr-text-secondary;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      @include lg-block{
        font-size: 14px;
      }
      @include sm-block{
        font-size: 16px;
      }
      @include xxs-block{
        font-size: 14px;
        line-height: 1;
      }
      :global(.svg-icon-sign-back){
        margin-right: 15px;
        @include lg-block{
          margin-right: 10px;
          font-size: 12px;
        }
        @include sm-block{
          font-size: 16px;
        }
        @include xxs-block{
          font-size: 12px;
        }
      }
    }
  }
  &__info{
    text-align: right;
  }
  &__step{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $clr-text-caption;
    text-transform: uppercase;
    @include lg-block{
      font-size: 13px;
    }
    @include sm-block{
      font-size: 14px;
    }
    @include xxs-block{
      font-size: 12px;
    }
  }
  &__desc{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: $clr-text-secondary;
    @include lg-block{
      font-size: 16px;
    }
    @include sm-block{
      font-size: 18px;
    }
    @include xxs-block{
      font-size: 16px;
    }
  }
}
</style>
