<template>
  <div ref="block" :class="[$style['block'], {[$style['have_scroll']] : haveScroll}]">
    <div :class="$style['block__inner']">
      <div :class="$style['block__toolbar']">
        <h2>Billing info</h2>
        <button :class="$style['block__btn']">
          <svgicon name="app/icon-print" /> Download PDF
        </button>
      </div>
      <div :class="$style['block__charge']">
        <AppChargePrice />
      </div>
      <div :class="$style['block__items']">
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            Summary
          </h3>
          <div>
            <div :class="$style['item__base-price']">
              Base Price <span>$540.00</span>
            </div>
            <div :class="$style['item__base-price']">
              Accessorials <span>$40.00</span>
            </div>
          </div>
          <div :class="$style['item__total-price']">
            Total Price <span>$580.00</span>
          </div>
        </div>
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            Billing Notes
          </h3>
          <div :class="$style['item__desc']">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
          </div>
        </div>
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            Load Notes
          </h3>
          <div :class="$style['item__desc']" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/app/icon-print'
export default {
  name: 'Billing',
  data: () => ({
    haveScroll: false
  }),
  mounted () {
    this.blockHaveScroll()
  },
  methods: {
    blockHaveScroll () {
      this.haveScroll = this.$refs.block?.clientHeight < this.$refs.block?.scrollHeight
    }
  }
}
</script>

<style module lang="scss">
.block{
  max-height: calc(100vh - 419px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 16px;
  }
  &__inner{

  }
  &__toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 40px 20px 24px;
    border-radius: 16px;
    margin-bottom: 16px;
    h2{
      font-weight: 600;
      font-size: 20px;
    }
  }
  &__charge{
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 16px;
  }
  &__btn{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #EFF3FA;
    font-weight: 600;
    font-size: 14px;
    color: $clr-main-secondary;
    cursor: pointer;
    :global(.svg-icon){
      margin-right: 12px;
      color: $clr-main-secondary;
      font-size: 20px;
    }
  }
  &__items{
    @include u-row-flex(16px)
  }
  &__item{
    @include u-col(16px);
    @include u-size(4, 12, 16px);
  }
}
.item{
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  &__title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
  }
  &__desc{
    flex-grow: 1;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-secondary;
    background-color: $clr-bgc-grey;
    border: 1px solid $clr-bgc-line;
    border-radius: 12px;
  }
  &__base-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $clr-text-secondary;
    margin-bottom: 16px;
    span{
      font-weight: 600;
      font-size: 16px;
    }
    &:last-child{
      padding-bottom: 24px;
      border-bottom: 1px solid $clr-bgc-line;
    }
  }
  &__total-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      font-weight: 600;
      font-size: 16px;
      color: $clr-text-primary
    }
  }
}
.have_scroll{
  padding-right: 12px;
}
</style>
