<template>
  <div ref="block" :class="[$style['block'], {[$style['have_scroll']] : haveScroll}]">
    <div :class="$style['block__inner']">
      <div :class="$style['block__toolbar']">
        <h2>Customer</h2>
        <button :class="$style['block__btn']" class="btn btn--with-icon" @click="showModal">
          <svgicon name="app/icon-upload" /> Upload Document
        </button>
      </div>
      <div v-if="submitFiles" :class="$style['block__cards']">
        <div v-for="(file, i) in files" :key="i" :class="[$style['block__card'], $style['card']]">
          <div :class="$style['card__header']">
            <div :class="$style['card__type']">
              {{ file.type }}
            </div>
            <div :class="$style['card__actions']">
              <UiDropdown
                :caret="false"
                drop-list-class="dropdown_actions"
              >
                <template #toggleLink>
                  <div :class="$style['card__dots']">
                    <svgicon name="app/icon-dots" class="svg-icon-dots" />
                  </div>
                </template>
                <template #default>
                  <ul>
                    <li>
                      <svgicon name="icon-edit" />
                      Change Type
                    </li>
                    <li>
                      <svgicon name="app/icon-printer" />
                      Print
                    </li>
                    <li class="dropdown_actions--delete" @click="deleteFile(i)">
                      <!--                      Пока что удаление по i, с бэком уже сделаем нормально через id в объуекте-->
                      <svgicon name="icon-delete" />
                      Delete
                    </li>
                  </ul>
                </template>
              </UiDropdown>
            </div>
          </div>
          <div :class="$style['card__preview']">
            <img src="/images/preview-file.jpg" alt="file">
          </div>
          <div :class="$style['card__name']">
            {{ file.file.name }}
          </div>
          <div :class="$style['card__data_time']">
            <div>07.23.2022</div>
            <span />
            <div>5:11 am</div>
          </div>
        </div>
      </div>
    </div>
    <client-only>
      <modal
        name="upload-document"
        :adaptive="true"
        :click-to-close="false"
        :width="665"
        height="auto"
      >
        <div ref="modal_wrap" class="modal__wrapper">
          <h3 class="modal__title">
            Upload Document
          </h3>
          <div v-if="!sending">
            <UiDragDrop :types="types" @changeFiles="changeFiles" />
          </div>
          <div v-else :class="$style['progress']">
            <div :class="$style['progress__inner']">
              <div :class="$style['progress__icon']">
                <svgicon name="app/icon-upload" />
              </div>
              <div :class="$style['progress__upload']">
                <div :class="$style['progress__upload__top']">
                  <h4 :class="$style['progress__title']">
                    Upload {{ previewFiles.length }} {{ previewFiles.length === 1 ? 'file' : 'files' }}
                  </h4>
                  <div :class="$style['progress__counter']">
                    {{ uploadPercentage }}%
                  </div>
                </div>
                <progress :class="$style['progress__bar']" max="100" :value.prop="uploadPercentage" />
              </div>
              <!--              <div :class="$style['progress__done']">-->
              <!--                <svgicon name="icon-checked" />-->
              <!--              </div>-->
            </div>
          </div>
          <div class="modal__btn--flex modal__btn--flex_end">
            <button class="btn btn--white btn--md" @click="closeModal">
              Cancel
            </button>
            <button class="btn btn--md" :class="[{ 'btn--loading': sending }]" :disabled="disabled" @click="saveUpload">
              Save
            </button>
          </div>
        </div>
      </modal>
    </client-only>
  </div>
</template>

<script>
// тут короче из за того что еще нет бэка я при изменении масива files в компоненте drag-drop пушу в локальный масив files все данные, но тогда у меня они будут отображаться сразу же пока я буду в модальном окне,
// поэтому я создам переменную submitFiles, и обрну v-ifom карточки котрые должны появится как бы после отправки на бэк, и даю ей true в функции отправки, симулируя логику бэка,
// когда будет бэк надо будет обратить внинманимае на это и подебажить или спросить меня (Артем) (Частично исправленно)

import '@/components/svg-icons/app/icon-upload'
import '@/components/svg-icons/app/icon-dots'
import '@/components/svg-icons/icon-delete'
import '@/components/svg-icons/icon-edit'
import '@/components/svg-icons/icon-checked'
import '@/components/svg-icons/app/icon-printer'
import { mapActions } from 'vuex'
export default {
  name: 'Documents',
  data: () => ({
    haveScroll: false,
    sending: false,
    readyUpload: false,
    submitFiles: false,
    uploadPercentage: 0,
    previewFiles: [],
    files: [],
    types: []
  }),
  computed: {
    disabled () {
      return this.sending || !this.readyUpload
    }
  },
  async created () {
    try {
      this.types = await this.fetchDocTypes()
    } catch (error) {
      this.handleError(error)
    }
  },
  mounted () {
    this.blockHaveScroll()
  },
  methods: {
    ...mapActions('load', ['uploadDocuments', 'fetchDocTypes']),
    changeFiles (val) {
      if (val.length > 0) {
        this.readyUpload = val.every(el => el.type)
      } else {
        this.readyUpload = false
      }
      this.previewFiles = val
    },
    blockHaveScroll () {
      this.haveScroll = this.$refs.block?.clientHeight < this.$refs.block?.scrollHeight
    },
    showModal () {
      this.$modal.show('upload-document')
    },
    async saveUpload () {
      try {
        this.sending = true
        const loaded = setInterval(() => {
          this.uploadPercentage++
          if (this.uploadPercentage === 100) {
            clearInterval(loaded)
          }
        }, 5000 / 100)
        for (const element of this.previewFiles) {
          await this.uploadDocuments({ form: element, id: this.$route.params.id })
        }
        this.files = this.files.concat(this.previewFiles)
        this.$modal.hide('upload-document')
        this.$notify({
          type: 'success',
          title: 'This document has been added'
        })
        this.sending = false
        this.readyUpload = false
        this.submitFiles = true
        this.uploadPercentage = 0
      } catch (error) {
        this.handleError(error)
      }
    },
    closeModal () {
      this.$modal.hide('upload-document')
    },
    deleteFile (id) {
      this.files.splice(id, 1)
    }

    // submitFiles () {
    //   const formData = new FormData()
    //   for (let i = 0; i < this.files.length; i++) {
    //     const file = this.files[i]
    //     formData.append('file                s[' + i + ']', file)
    //   }
    //   this.$axios.post('/нужный эндпоинт',
    //     formData,
    //     {
    //       headers: {
    //         'Content-Type': 'multipart/form-data'
    //       },
    //       onUploadProgress: function(progressEvent) {
    //         this.uploadPercentage = parseInt(Math.round(( progressEvent.loaded / progressEvent.total) * 100);
    //       }.bind(this)
    //     }
    //   ).then(function () {
    //     console.log('SUCCESS!!')
    //   })
    //     .catch(function () {
    //       console.log('FAILURE!!')
    //     })
    // }, как то так нужно правильно отправлять файлы на бэк, но это пока что не точно
  }
}
</script>

<style module lang="scss">
.block{
  max-height: calc(100vh - 419px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 16px;
  }
  &__inner{

  }
  &__toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 40px 20px 24px;
    border-radius: 16px;
    margin-bottom: 16px;
    h2{
      font-weight: 600;
      font-size: 20px;
    }
  }
  &__btn{
    //display: flex;
    //align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    //background-color: #EFF3FA;
    font-weight: 600;
    font-size: 14px;
    //color: $clr-main-secondary;
    //cursor: pointer;
  }
  :global(.modal__btn--flex){
    margin-top: 24px;
  }
  &__cards{
    @include u-row-flex(24px);
    margin-top: -12px;
    margin-bottom: -12px;
  }
  &__card{
    @include u-col(24px);
    @include u-size(3, 12, 24px);
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.have_scroll{
  padding-right: 12px;
}
.card{
  background-color: #fff;
  border-radius: 16px;
  padding: 18px 16px;
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__type{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-primary;
  }
  &__dots{
    width: 24px;
    text-align: center;
    cursor: pointer;
    :global(.svg-icon){
      color: #2C3E50;
      width: 1em;
    }
  }
  &__preview{
    max-width: 100%;
    height: 200px;
    margin-bottom: 16px;
    border: 1px solid $clr-bgc-line;
    border-radius: 8px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-secondary;
    margin-bottom: 12px;
  }
  &__data_time{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-caption;
    display: flex;
    align-items: center;
    span{
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $clr-text-caption;
      margin: 0 4px;
    }
  }
}
.progress{
  text-align: left;
  &__inner{
    padding: 16px 26px;
    border-radius: 8px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
  }
  &__icon{
    margin-right: 18px;
    :global(.svg-icon){
      font-size: 18px;
      color: #200E32;
    }
  }
  &__upload{
    flex: 1;
    &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }
  }
  &__title,
  &__counter{
    font-weight: 600;
    font-size: 14px;
    color: $clr-text-primary;
  }
  &__bar{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    display: block;
    border-radius: 20px;
    overflow-x: hidden;
    &::-webkit-progress-bar{
      border-radius: 20px;
      background-color: $clr-bgc-icon;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    }
    &[value]::-webkit-progress-value {
      background-color: $clr-main-secondary;
      border-radius: 20px;
      //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
  }
  &__done{
    margin-left: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $clr-system-success;
    :global(.svg-icon){
      font-size: 12px;
      color: #fff;
    }
  }
}
</style>
