<template>
  <div ref="block" :class="[$style['block'], {[$style['have_scroll']] : haveScroll}]">
    <div :class="$style['block__inner']">
      <div :class="$style['block__left']">
        <h3 :class="$style['title']">
          Load info
        </h3>
        <div :class="$style['block__left__cards']">
          <div :class="[$style['block__left__card'], $style['card']]">
            <h3 :class="[$style['title'], $style['card__title']]">
              Origin
            </h3>
            <div :class="$style['card__inner']" class="form_load_read-only">
              <div class="form_field field">
                <label>Client</label>
                <UiFormInputIconBefore type="text" value="Leslie Alexander" icon="icon-profile" />
              </div>
              <div class="form_field field">
                <label>Number</label>
                <UiFormInputIconBefore type="text" value="(239) 555-0108" icon="phone" />
              </div>
              <div class="form_field field">
                <label>Address</label>
                <UiFormInputIconBefore type="text" value="2464 Royal Ln. Mesa, New Jersey 45463" icon="icon-location" />
              </div>
            </div>
          </div>
          <div :class="[$style['block__left__card'], $style['card']]">
            <h3 :class="[$style['title'], $style['card__title']]">
              Port
            </h3>
            <div :class="$style['card__inner']" class="form_load_read-only">
              <div class="form_field field">
                <label>Port</label>
                <UiFormInputIconBefore type="text" value="Mahen" icon="icon-profile" />
              </div>
              <div class="form_field field">
                <label>Number</label>
                <UiFormInputIconBefore type="text" value="(239) 555-0108" icon="phone" />
              </div>
              <div class="form_field field">
                <label>Address</label>
                <UiFormInputIconBefore type="text" value="2464 Royal Ln. Mesa, New Jersey 45463" icon="icon-location" />
              </div>
            </div>
          </div>
          <div :class="[$style['block__left__card'], $style['card']]">
            <h3 :class="[$style['title'], $style['card__title']]">
              Destination
            </h3>
            <div :class="$style['card__inner']" class="form_load_read-only">
              <div class="form_field field">
                <label>Client</label>
                <UiFormInputIconBefore type="text" value="Leslie Alexander" icon="icon-profile" />
              </div>
              <div class="form_field field">
                <label>Number</label>
                <UiFormInputIconBefore type="text" value="(239) 555-0108" icon="phone" />
              </div>
              <div class="form_field field">
                <label>Address</label>
                <UiFormInputIconBefore type="text" value="2464 Royal Ln. Mesa, New Jersey 45463" icon="icon-location" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div :class="$style['block__right']">
        <div :class="[$style['block__right__card'], $style['card']]">
          <h3 :class="[$style['title'], $style['card__title']]">
            Dates
          </h3>
          <div :class="$style['card__inner']" class="form_load_read-only triple">
            <div class="form_field field">
              <label>Pick Up</label>
              <input readonly class="input input--white-and-border" type="text" value="05/18/2022">
            </div>
            <div class="form_field field">
              <label>Start Date</label>
              <input readonly class="input input--white-and-border" type="text" value="05/18/2022">
            </div>
            <div class="form_field field">
              <label>End Date</label>
              <input readonly class="input input--white-and-border" type="text" value="05/24/2022">
            </div>
            <div class="form_field field">
              <label>last Free Date</label>
              <input readonly class="input input--white-and-border" type="text" value="05/26/2022">
            </div>
            <div class="form_field field">
              <label>ETA</label>
              <input readonly class="input input--white-and-border" type="text" value="05/18/2022">
            </div>
            <div class="form_field field">
              <label>LTF</label>
              <input readonly class="input input--white-and-border" type="text" value="05/24/2022">
            </div>
          </div>
        </div>
        <div :class="[$style['block__right__card'], $style['card']]">
          <h3 :class="[$style['title'], $style['card__title']]">
            Equipment
          </h3>
          <div :class="$style['card__inner']" class="form_load_read-only triple">
            <div class="form_field field">
              <label>Container Id</label>
              <input readonly class="input input--white-and-border" type="text" value="9675584">
            </div>
            <div class="form_field field">
              <label>Size (ft)</label>
              <input readonly class="input input--white-and-border" type="text" value="53">
            </div>
            <div class="form_field field">
              <label>Type</label>
              <input readonly class="input input--white-and-border" type="text" value="Removable Gooseneck">
            </div>
            <div class="form_field field">
              <label>Weight (lbs)</label>
              <input readonly class="input input--white-and-border" type="text" value="31200">
            </div>
          </div>
        </div>
        <div :class="[$style['block__right__card'], $style['card']]">
          <h3 :class="[$style['title'], $style['card__title']]">
            Reference Numbers
          </h3>
          <div :class="$style['card__inner']" class="form_load_read-only">
            <div class="form_field field">
              <label>Master Bill of Lading</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>House Bill of Lading</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Seal #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Reference #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Vessel Name</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Voyage</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Purchase Order #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Shipment #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Pick Up #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Appointment #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Return #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
            <div class="form_field field">
              <label>Reservation #</label>
              <input readonly class="input input--white-and-border" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/icon-profile'
import '@/components/svg-icons/icon-location'
import '@/components/svg-icons/phone'
export default {
  name: 'Info',
  data: () => ({
    haveScroll: false
  }),
  mounted () {
    this.blockHaveScroll()
  },
  methods: {
    blockHaveScroll () {
      this.haveScroll = this.$refs.block?.clientHeight < this.$refs.block?.scrollHeight
    }
  }
}
</script>

<style module lang="scss">
.block{
  max-height: calc(100vh - 419px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 16px;
  }
  &__inner{
    @include u-row-flex(16px);
    align-items: flex-start;
  }
  &__left{
    @include u-col(16px);
    @include u-size(6, 12, 16px);
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 24px 0 0 0;
    & > .title{
      padding: 0 16px;
      margin-bottom: 16px;
    }
    &__card{
      &:not(:last-child){
        border-bottom: 1px solid $clr-bgc-line;
      }
      :global(.form_load_read-only){
        :global(.form_field):last-child{
          flex-grow: 1;
          margin-bottom: 0;
        }
      }
    }
  }
  &__right{
    @include u-col(16px);
    @include u-size(6, 12, 16px);
    &__card{
      border-radius: 16px;
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
}
.card{
  background-color: #fff;
  padding: 24px 12px;
  &__title{
    margin-bottom: 8px;
  }
}
.have_scroll{
  padding-right: 12px;
}
.title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
</style>
