<template>
  <div ref="block" :class="[$style['block'], {[$style['have_scroll']] : haveScroll}]">
    <div :class="$style['block__inner']">
      <div :class="$style['block__toolbar']">
        <h2>Notes</h2>
        <button :class="$style['block__btn']">
          Add note
        </button>
      </div>
      <div :class="$style['block__items']">
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            <svgicon name="load/icon-truck" /> Carrier
          </h3>
          <div :class="$style['item__desc']">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
        </div>
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            <svgicon name="load/icon-billing" /> Billing
          </h3>
          <div :class="$style['item__desc']">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
        </div>
        <div :class="[$style['block__item'], $style['item']]">
          <h3 :class="$style['item__title']">
            <svgicon name="delivery/box" />  Load
          </h3>
          <div :class="$style['item__desc']">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/load/icon-billing'
import '@/components/svg-icons/load/icon-truck'
import '@/components/svg-icons/delivery/box'
export default {
  name: 'Notes',
  data: () => ({
    haveScroll: false
  }),
  mounted () {
    this.blockHaveScroll()
  },
  methods: {
    blockHaveScroll () {
      this.haveScroll = this.$refs.block?.clientHeight < this.$refs.block?.scrollHeight
    }
  }
}
</script>

<style module lang="scss">
.block{
  max-height: calc(100vh - 419px);
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #F1F1F3;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F1F1F3;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D0CFDC;
    border-radius: 16px;
  }
  &__inner{

  }
  &__toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 40px 20px 24px;
    border-radius: 16px;
    margin-bottom: 16px;
    h2{
      font-weight: 600;
      font-size: 20px;
    }
  }
  &__btn{
    padding: 10px 32px;
    border-radius: 12px;
    background-color: #EFF3FA;
    font-weight: 600;
    font-size: 16px;
    color: $clr-main-secondary;
    cursor: pointer;
  }
}
.item{
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  &:not(:last-child){
    margin-bottom: 16px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    :global(.svg-icon){
      font-size: 18px;
      color: $clr-text-secondary;
      margin-right: 8px;
    }
  }
  &__desc{
    flex-grow: 1;
    padding: 12px 250px 12px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $clr-text-secondary;
    background-color: $clr-bgc-grey;
    border: 1px solid $clr-bgc-line;
    border-radius: 12px;
  }
}
.have_scroll{
  padding-right: 12px;
}
</style>
