<template>
  <div :class="$style['block']">
    <div :class="$style['table']">
      <div :class="$style['table__thead']">
        <div :class="$style['table__tr']">
          <div :class="[$style['table__td'], $style['table__td--2']]">
            Name of Charge
          </div>
          <div :class="$style['table__td']">
            Price
          </div>
          <div :class="[$style['table__td'], $style['table__td--2']]">
            Unit count
          </div>
          <div :class="[$style['table__td'], $style['table__td--2']]">
            Unit of Measure
          </div>
          <div :class="$style['table__td']">
            Free Units
          </div>
          <div :class="$style['table__td']">
            Per Units
          </div>
          <div :class="[$style['table__td'], $style['table__td--mini']]" />
        </div>
      </div>
      <div :class="$style['table__tbody']">
        <div v-for="item of charges" :key="item.id" :class="$style['table__tr']">
          <div :class="[$style['table__td'], $style['table__td--2']]">
            <VueMultiselect
              v-model="item.name_charge"
              :options="name_charge"
              :searchable="false"
              m-style="grey"
            />
          </div>
          <div :class="$style['table__td']">
            <UiFormInputIcon v-model="item.price" icon="app/icon-dollar" :value="item.price" />
          </div>
          <div :class="[$style['table__td'], $style['table__td--2'], $style['table__count']]">
            <button @click="decrement(item.id)">
              <svgicon name="icon-minus" />
            </button>
            <input v-model="item.unit_count" class="input">
            <button @click="increment(item.id)">
              <svgicon name="icon-plus" />
            </button>
          </div>
          <div :class="[$style['table__td'], $style['table__td--2']]">
            <VueMultiselect
              v-model="item.unit_measure"
              :options="unit_measures"
              :searchable="false"
              m-style="grey"
            />
          </div>
          <div :class="$style['table__td']">
            <input v-model="item.free_units" class="input">
          </div>
          <div :class="$style['table__td']">
            <input v-model="item.per_units" class="input">
          </div>
          <div :class="[$style['table__td'], $style['table__td--mini']]">
            <button :class="$style['btn']" @click.prevent="deleteItem(item.id)">
              <svgicon name="icon-close" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div :class="$style['block__actions']">
      <button class="btn btn--with-icon btn--light" @click="addCharge">
        <svgicon name="icon-plus" />
        Add charge
      </button>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-close'
import '~/components/svg-icons/icon-plus'
import '~/components/svg-icons/icon-minus'
import '~/components/svg-icons/app/icon-dollar'
export default {
  name: 'ChargePrice',
  data () {
    return {
      name_charge: ['Base price', 'Waiting time', 'Chassis', 'Over Weight'],
      unit_measures: ['Perday', 'Perhour', 'Fixed'],
      charges: [
        {
          id: 1,
          name_charge: '',
          price: '',
          unit_count: '',
          unit_measure: '',
          free_units: '',
          per_units: '',
          readonly: false
        }
      ]
    }
  },
  methods: {
    addCharge () {
      const id = this.charges[this.charges.length - 1].id
      this.charges.push({
        id: id + 1,
        name_charge: '',
        price: '',
        unit_count: '',
        unit_measure: '',
        free_units: '',
        per_units: '',
        readonly: false
      })
    },
    deleteItem (id) {
      if (this.charges.length > 1) {
        this.charges.splice(this.charges.findIndex(el => el.id === id), 1)
      } else {
        this.$notify({
          type: 'warning',
          title: 'You cannot delete the last surcharge'
        })
      }
    },
    increment (id) {
      const item = this.charges.find(el => el.id === id)
      item.unit_count++
    },
    decrement (id) {
      const item = this.charges.find(el => el.id === id)
      if (item.unit_count > 0) {
        item.unit_count--
      } else {
        this.$notify({
          type: 'error',
          title: 'Unit count cannot be less than 0'
        })
      }
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__actions{
    margin-top: 24px;
  }
}
.table{
  &__thead{
    margin-bottom: 16px;
    .table__td{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $clr-text-secondary;
    }
  }
  &__tbody{
    .table__tr{
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
  &__tr{
    display: flex;
    align-items: center;
  }
  &__td{
    flex: 1;
    &:not(:last-child){
      margin-right: 8px;
    }
    &--2{
      flex: 1.5;
    }
    &--mini{
      flex: 0 0 42px;
    }
  }
  &__count{
    display: flex;
    border: 1px solid $clr-bgc-line;
    overflow: hidden;
    border-radius: 8px;
    button{
      flex: 0 0 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $clr-bgc-line;
      background-color: $clr-bgc-grey;
      cursor: pointer;
      &:first-child{
        border-right: 1px solid $clr-bgc-line;
        border-left: none;
      }
      :global(.svg-icon){
        font-size: 14px;
        color: $clr-text-secondary;
      }
    }
    :global(.input){
      border-radius: 0;
    }
  }
  .btn{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-bgc-grey;
    border-radius: 8px;
    cursor: pointer;
    :global(.svg-icon){
      font-size: 12px;
      color: $clr-text-secondary;
    }
  }
}
:global(.input){
     width: 100%;
     max-width: 100%;
}
</style>
