@mixin button-state-color($color, $font-color, $percent: 5%) {
  color: $font-color;
  border-color: $color;
  background-color: $color;
  &:hover,
  &:focus {
    color: $font-color !important;
    border-color: darken($color, $percent);
    background-color: darken($color, $percent);
    text-decoration: none;
  }
  &:active {
    color: $font-color !important;
    border-color: lighten($color, $percent);
    background-color: lighten($color, $percent);
  }

  &:disabled,
  &.disabled{
    opacity: .65;
  }

  &.btn--bordered {
    color: $color;
    background-color: transparent;
    &:hover,
    &:focus {
      //color: $font-color !important;
      color: $font-color;
      background-color: darken($color, $percent);
    }
    &:active {
      //color: $font-color !important;
      color: $font-color;
      background-color: lighten($color, $percent);
    }
  }
}

@mixin button-base-color($color, $font-color, $percent: 5%) {
  color: $font-color;
  border-color: $color;
  background-color: $color;
  &:disabled,
  &.disabled{
    opacity: .65;
  }
}

@mixin button-hover-color($color, $font-color, $percent: 5%) {
  &:hover,
  &:focus {
    color: $font-color !important;
    border-color: darken($color, $percent);
    background-color: darken($color, $percent);
    text-decoration: none;
  }
}
