@mixin checkbox-state-color($color) {
  input + span {
    border-color: $color;
  }
  input:checked + span{
    border-color: $color;
    background: $color;
  }

  input:focus + span,
  input:hover + span{
    border-color: $color;
  }
}
