@import './button.scss';
@import './checkbox.scss';
@mixin first-last-margin(){
  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
@mixin placeholder{
  &::placeholder                  {@content}
  &::-webkit-input-placeholder    {@content}
  &:-moz-placeholder              {@content}
  &::-moz-placeholder             {@content}
  &:-ms-input-placeholder         {@content}
}
