<template>
  <div :class="$style['avatar']" :style="styles" />
</template>

<script>
export default {
  name: 'AvatarCircle',
  props: {
    size: {
      type: [String, Number],
      default: '48'
    },
    image: {
      type: String,
      // required: true, возможно придется включить, но тогда придутся всегда передавать avatar default
      default: '/images/avatar.svg'
    }
  },
  computed: {
    styles () {
      const css = {
        width: this.size + 'px',
        height: this.size + 'px'
      }

      if (this.image && this.image !== '') {
        css['background-image'] = 'url(' + this.image + ')'
      } else {
        css['background-image'] = 'url("/images/avatar.svg")'
      }

      return css
    }
  }
}
</script>

<style lang="scss" module>
.avatar{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  background-color: #88B0FF;
}
</style>
