<template>
  <div :class="$style['header']">
    <div :class="$style['header__inner']">
      <div :class="$style['header__left']">
        <!--        <div :class="['field',$style['header__search']]">-->
        <!--          <UiFormInputSearch v-model.trim="search" icon="sidebar/search" placeholder="Search" type="text" />-->
        <!--        </div>-->
        <!--        <transition name="fade">-->
        <!--          <button v-if="search.length >= 3" :class="['btn', $style['header__submit']]" @click.prevent="searchBtn">-->
        <!--            Search-->
        <!--          </button>-->
        <!--        </transition>-->
      </div>
      <div :class="$style['header__right']">
        <div :class="$style['header__right__inner']">
          <div :class="$style['header__notification']">
            <svgicon name="app/icon-notification" class="svg-icon-app-notification" />
            <span v-if="notification">{{ notification }}</span>
          </div>
          <div :class="$style['header__user']">
            <UiAvatar size="48" /> <!--image="/images/avatar.png" prop что бы передавать аватар-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/sidebar/search'
import '~/components/svg-icons/app/icon-notification'
export default {
  name: 'AppHeader',
  data () {
    return {
      search: '',
      notification: 6
    }
  },
  methods: {
    searchBtn () {
      console.log('Поиск', this.search)
      this.search = ''
    }
  }
}
</script>

<style module lang="scss">
.header{
  padding-top: 48px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__search{
    width: 400px;
    margin-right: 10px;
  }
  &__right{
    &__inner{
      display: flex;
      align-items: center;
    }
  }
  &__notification{
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 32px;
    cursor: pointer;
    span{
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $clr-main;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
    }
  }
}
:global(.fade-leave-to) {
  opacity: 0;
}

:global(.fade-enter) {
  opacity: 0;
}

:global(.fade-enter-active),
:global(.fade-leave-active){
  transition: opacity 0.3s;

}

:global(.fade-enter-to) {
  opacity: 1;
}
</style>
