<template>
  <multiselect
    v-bind="$attrs"
    ref="select"
    :class="mClasses"
    :show-labels="false"
    v-on="$listeners"
  >
    <template #caret="{toggle}">
      <div class="multiselect__select" @mousedown.prevent.stop="toggle">
        <svgicon icon="icon-line-arrow" class="svg-icon-line-arrow" />
      </div>
    </template>
  </multiselect>
</template>

<script>
import '~/components/svg-icons/icon-line-arrow'

export default {
  name: 'AppMultiselect',
  inheritAttrs: false,
  props: {
    mSize: {
      type: String,
      default: ''
    },
    mStyle: {
      type: String,
      default: ''
    }
  },
  computed: {
    mClasses () {
      const classArr = []

      if (this.mStyle !== '') {
        classArr.push('multiselect--' + this.mStyle)
      }

      if (this.mSize !== '') {
        classArr.push('multiselect--' + this.mSize)
      }

      return classArr
    }
  }
}
</script>

<style lang="scss" module>

</style>
