<template>
  <div :class="$style['block']">
    <div :class="$style['block__inner']">
      <div :class="$style['block__search']">
        <AppSearchLoadsContainersFilters />
      </div>
      <div :class="$style['block__result']">
        <AppSearchLoadsContainersResult />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loads',
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" module>
.block{
  &__search{
    margin-bottom: 40px;
  }
}
</style>
