<template>
  <div :class="[$style['block'], 'table']">
    <div class="toolbar">
      <div class="toolbar__inner">
        <div class="toolbar__left">
          <div class="toolbar__total checkbox checkbox--xl">
            <label>
              <input v-model="selectAll" type="checkbox" @change="selectedAll">
              <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
            </label>
            <h5>{{ result && result.tbody && result.tbody.length }} Total results</h5>
          </div>
          <button class="toolbar__btn">
            <svgicon name="app/icon-print" />
            Print Selected
          </button>
        </div>
        <div class="toolbar__right">
          <button class="toolbar__btn" @click.prevent="showFilters = !showFilters">
            <svgicon name="app/icon-filter" />
            Sort & Filter
          </button>
        </div>
      </div>
      <div :class="['toolbar__filters', {'toolbar__filters--active' : showFilters}]">
        <div :class="['form_app_filter','toolbar__filter']">
          <div class="checkbox">
            <label>
              <input type="checkbox" :checked="filters.check" @input="filters.check = !filters.check">
              <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
              <span>Only power-only load</span>
            </label>
          </div>
        </div>
        <div :class="['form_app_filter','toolbar__filter']">
          <div :class="['form_field field']">
            <label>Location</label>
            <VueMultiselect
              v-model="filters.location"
              :options="getStates"
              label="state_code"
              :allow-empty="false"
              placeholder="Select state"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="table__content">
      <div class="table__thead">
        <div class="table__th">
          <div class="table__td table__td--1" />
          <div v-for="(item, index) of result && result.thead" :key="index" class="table__td table__td--title">
            {{ item }}
          </div>
          <div class="table__td table__td--1">
            <svgicon name="app/icon-dots" class="svg-icon-dots" />
          </div>
        </div>
      </div>
      <div class="table__tbody">
        <UiAccordion>
          <UiAccordionItem v-for="item of result && result.tbody" :key="item.id">
            <template slot="accordion-trigger">
              <div class="table__th">
                <div class="table__td table__td--1 checkbox checkbox--md" @click.stop>
                  <label>
                    <input v-model="item.check" type="checkbox">
                    <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
                  </label>
                </div>
                <div v-for="(el, index) of item.info" :key="index" class="table__td">
                  {{ el }}
                </div>
                <div class="table__td table__td--1">
                  <svgicon name="icon-line-arrow" class="table-icon-line-arrow" />
                </div>
              </div>
            </template>
            <template slot="accordion-content">
              <div class="table__details details">
                <div class="details__inner">
                  <div class="details__left">
                    <div class="details__left__top">
                      <div>
                        <h5 class="details__title">
                          Origin
                        </h5>
                        <p>Pennsauken, NJ 78624</p>
                        <p>05/18/2022</p>
                      </div>
                      <div>
                        <h5 class="details__title">
                          Destination
                        </h5>
                        <p>New Alexandria, OH 54924</p>
                        <p>05/24/2022</p>
                      </div>
                    </div>
                    <div class="details__left__bottom">
                      <button class="btn" @click.prevent="openModal">
                        Send Request
                      </button>
                      <button class="btn btn--icon btn--light">
                        <svgicon name="phone" />
                      </button>
                      <button class="btn btn--icon btn--light">
                        <svgicon name="chat" />
                      </button>
                      <button class="btn btn--icon btn--light">
                        <svgicon name="icon-email" />
                      </button>
                    </div>
                  </div>
                  <div class="details__right">
                    <h5 class="details__title">
                      Details
                    </h5>
                    <div class="details__right__inner">
                      <ul class="details__right__left">
                        <li>Miles</li>
                        <li>Broker Name</li>
                        <li>Contacts</li>
                        <li>Comments</li>
                      </ul>
                      <ul class="details__right__right">
                        <li>{{ item.details && item.details.miles }}</li>
                        <li>{{ item.details && item.details.broker_name }}</li>
                        <li>{{ item.details && item.details.contacts }}</li>
                        <li>{{ item.details && item.details.comments }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </UiAccordionItem>
        </UiAccordion>
      </div>
    </div>
    <client-only>
      <modal
        name="send-request"
        :adaptive="true"
        :scrollable="true"
        :click-to-close="false"
        :width="905"
        height="auto"
      >
        <div class="modal__wrapper" :class="$style['modal']">
          <h3 class="modal__title">
            Write your rate
          </h3>
          <div :class="$style['modal__content']">
            <div :class="$style['modal__to']">
              To <span>Leslie Alexander</span>
            </div>
            <div :class="$style['modal__charge']">
              <AppChargePrice />
            </div>
            <div :class="$style['modal__info']">
              <div :class="[$style['modal__summary'], $style['card']]">
                <h3 :class="$style['card__title']">
                  <svgicon name="load/icon-billing" /> Summary
                </h3>
                <ul :class="$style['card__prices']">
                  <li> Base price  <span>$</span></li>
                  <li> Accessorials  <span>$</span></li>
                </ul>
                <div :class="$style['card__total']">
                  Total Price <span>$</span>
                </div>
              </div>
              <div :class="[$style['modal__notes'], $style['card']]">
                <h3 :class="$style['card__title']">
                  Notes
                </h3>
                <textarea class="textarea textarea--white-and-border" tabindex="-1" />
              </div>
            </div>
          </div>
          <div :class="$style['modal__footer']">
            <div class="field checkbox">
              <label>
                <input type="checkbox" :checked="modalCheck" @input="modalCheck = !modalCheck">
                <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
                <span>Paste from default rates</span></label>
            </div>
            <div class="modal__btn--flex modal__btn--flex_end">
              <button class="btn btn--white" @click="closeModal">
                Cancel
              </button>
              <button class="btn" :class="{ 'btn--loading': sending }" @click="sendRequest">
                Send
              </button>
            </div>
          </div>
        </div>
      </modal>
    </client-only>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-checked'
import '~/components/svg-icons/app/icon-print'
import '~/components/svg-icons/app/icon-filter'
import '~/components/svg-icons/app/icon-dots'
import '~/components/svg-icons/icon-line-arrow'
import '~/components/svg-icons/phone'
import '~/components/svg-icons/chat'
import '~/components/svg-icons/icon-email'
import '~/components/svg-icons/load/icon-billing'
import { mapGetters } from 'vuex'

export default {
  name: 'Result',
  data () {
    return {
      modalCheck: false,
      selectAll: false,
      showFilters: false,
      filters: {
        location: '',
        check: false
      },

      workload: [
        { title: 'Any', id: 1 },
        { title: 'Partial', id: 2 },
        { title: 'Full', id: 3 }
      ],
      result: {
        thead: ['Shipping Line', 'Destination', 'Port', 'Type', 'Size (ft)', 'Weight (lbs)', 'Quantity', 'ETA', 'LFD'],
        tbody: [
          {
            id: 1,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 2,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 3,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 4,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 5,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 6,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 7,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 8,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 9,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 10,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 11,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 12,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 13,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 14,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 15,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 16,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 17,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 18,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 19,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 20,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 21,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 22,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 23,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 24,
            check: false,
            info: ['Maersk', 'New Alexandria, OH', 'Maher', 'Export', '43', '31200', '4', '07/25', '—'],
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              route_type: 'Prepull+Drop&Hook',
              broker_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          }
        ]
      },
      sending: false
    }
  },
  methods: {
    selectedAll () {
      this.result && this.result.tbody.forEach((el) => {
        el.check = this.selectAll
      })
    },
    openModal () {
      this.$modal.show('send-request')
    },
    closeModal () {
      this.$modal.hide('send-request')
    },
    sendRequest () {
      this.sending = true
      setTimeout(() => {
        this.$modal.hide('send-request')
        this.$notify({
          type: 'success',
          title: 'The Rate was successfully sent'
        })
        this.sending = false
      }, 3000)
    }
  },
  computed: {
    ...mapGetters('load', ['getStates'])
  }

}
</script>

<style module lang="scss">
.block{
}
.input_wrapper {
  position: relative;
  :global(.svg-icon) {
    display: block;
    color: $clr-text-secondary;
  }
}
.modal{
  &__content{
    text-align: left;
    margin-bottom: 32px;
  }
  &__to{
    font-weight: 500;
    font-size: 14px;
    color: $clr-text-secondary;
    margin-bottom: 32px;
    span{
      margin-left: 8px;
      font-weight: 600;
      font-size: 16px;
      color: $clr-text-primary;
    }
  }
  &__charge{
    margin-bottom: 32px;
  }
  &__info{
    display: flex;
    align-items: stretch;
  }
  &__summary{
    flex: 0 0 290px;
    margin-right: 20px;
  }
  &__notes{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .card__title{
      margin-bottom: 8px !important;
    }
    :global(.textarea){
      flex-grow: 1;
    }
  }
  .card {
    background-color: $clr-bgc-grey;
    border-radius: 16px;
    padding: 24px 16px;

    &__title {
      font-weight: 600;
      font-size: 18px;
      color: $clr-text-primary;
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      :global(.svg-icon) {
        margin-right: 6px;
        font-size: 16px;
        color: $clr-text-caption;
      }
    }

    &__prices {
      padding-bottom: 24px;
      border-bottom: 1px solid $clr-bgc-line;
      margin-bottom: 16px;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $clr-text-secondary;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
        label{
          min-width: 105px;
        }
        span{
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
    &__total{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $clr-text-secondary;
      span{
        font-weight: 600;
        font-size: 16px;
        color: $clr-text-primary;
      }
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
      margin: 0;
      span + span{
        font-weight: 600;
        margin-left: 16px;
      }
    }
  }
}
</style>
