<template>
  <div class="table">
    <div class="toolbar">
      <div class="toolbar__inner">
        <div class="toolbar__left">
          <div class="toolbar__total checkbox checkbox--xl">
            <label>
              <input v-model="selectAll" type="checkbox" @change="$emit('selectedAll', selectAll)">
              <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
            </label>
            <h5>{{ result && result.tbody && result.tbody.length }} Truck postings Containers</h5>
          </div>
        </div>
        <div class="toolbar__right">
          <button :class="['btn btn--with-icon btn--delete btn--light', {'btn--disabled': !selectedPosts.length}]" @click="deleteAllPosts">
            <svgicon name="icon-delete" />
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="table__content">
      <div class="table__thead">
        <div class="table__th">
          <div class="table__td table__td--1" />
          <div v-for="(item, index) of result && result.thead" :key="index" class="table__td table__td--title">
            {{ item }}
          </div>
          <div class="table__td table__td--1">
            <svgicon name="app/icon-dots" class="svg-icon-dots" />
          </div>
        </div>
      </div>
      <div class="table__tbody">
        <UiAccordion>
          <UiAccordionItem v-for="item of result && result.tbody" :key="item.id">
            <template slot="accordion-trigger">
              <div class="table__th">
                <div class="table__td table__td--1 checkbox checkbox--md" @click.stop>
                  <label>
                    <input v-model="item.check" type="checkbox">
                    <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
                  </label>
                </div>
                <div class="table__td">
                  {{ item && item.origin }}
                </div>
                <div class="table__td">
                  {{ item && item.destination }}
                </div>
                <div class="table__td">
                  {{ item && item.available_time }}
                </div>
                <div class="table__td">
                  {{ item && item.type }}
                </div>
                <div class="table__td">
                  {{ item && item.equipment_type }}
                </div>
                <div class="table__td">
                  {{ item && item.equipment_size }}
                </div>
                <div class="table__td" :class="{'posted': item.status.toLowerCase() === 'posted', 'expired': item.status.toLowerCase() === 'expired'}">
                  <span>{{ item && item.status }}</span>
                </div>
                <div class="table__td table__td--1">
                  <svgicon name="icon-line-arrow" class="table-icon-line-arrow" />
                </div>
              </div>
            </template>
            <template slot="accordion-content">
              <div class="table__details details">
                <div class="details__inner">
                  <div class="details__left">
                    <div class="details__left__top">
                      <div>
                        <h5 class="details__title">
                          Origin
                        </h5>
                        <p>{{ item && item.details && item.details.origin && item.details.origin.address }}</p>
                        <p>{{ item && item.details && item.details.origin && item.details.origin.date }}</p>
                      </div>
                      <div>
                        <h5 class="details__title">
                          Destination
                        </h5>
                        <p>{{ item && item.details && item.details.destination && item.details.destination.address }}</p>
                        <p>{{ item && item.details && item.details.destination && item.details.destination.date }}</p>
                      </div>
                      <div>
                        <h5 class="details__sub-title">
                          Available time
                        </h5>
                        <p>05/18/2022 - 05/23/2022</p>
                      </div>
                    </div>
                    <div class="details__left__bottom">
                      <button class="btn btn--light" @click="$emit('changeStatus', item.id)">
                        Change status
                      </button>
                      <button class="btn btn--icon btn--danger" @click="$emit('deletePost', item.id)">
                        <svgicon name="icon-delete" />
                      </button>
                    </div>
                  </div>
                  <div class="details__right">
                    <h5 class="details__title">
                      Details
                    </h5>
                    <div class="details__right__inner">
                      <ul class="details__right__left">
                        <li>Posted time</li>
                        <li>Owner Name</li>
                        <li>Contacts</li>
                        <li>Comments</li>
                      </ul>
                      <ul class="details__right__right">
                        <li>{{ item.details && item.details.posted_time }}</li>
                        <li>{{ item.details && item.details.owner_name }}</li>
                        <li>{{ item.details && item.details.contacts }}</li>
                        <li>{{ item.details && item.details.comments }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </UiAccordionItem>
        </UiAccordion>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-delete'
import '~/components/svg-icons/app/icon-dots'
export default {
  name: 'Table',
  props: {
    result: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      selectAll: false,
      selectedPosts: []
    }
  },
  watch: {
    result: {
      handler (val) {
        const arr = val && val.tbody
        this.selectedPosts = arr.filter(el => el.check)
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    deleteAllPosts () {
      if (this.selectedPosts.length) {
        const selectedPostId = []
        this.selectedPosts.forEach(el => selectedPostId.push(el.id))
        this.$emit('deleteAllPosts', selectedPostId)
      }
    }
  }
}
</script>
