<template>
  <div :class="$style['empty']">
    <div :class="$style['empty__inner']">
      <div :class="$style['empty__icon']">
        <svgicon name="app/icon-empty-box" class="svg-icon-empty-box" />
      </div>
      <div :class="$style['empty__message']">
        <h2>No post yet</h2>
        <p>You haven't published a single post. Try creating a new post </p>
      </div>
      <button class="btn btn--with-icon btn--light" @click="$emit('newPost', true)">
        <svgicon name="icon-plus" />
        Post Truck
      </button>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/app/icon-empty-box'
export default {
  name: 'Empty'

}
</script>

<style lang="scss" module>
.empty{
  padding-top: 170px;
  &__inner{
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    :global(.btn){
      margin: 0 auto;
    }
  }
  &__icon{
    width: 120px;
    height: 120px;
    margin: 0 auto 16px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__message{
    margin-bottom: 24px;
    h2{
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 8px;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: $clr-text-secondary;
    }
  }
}
</style>
