<template>
  <div :class="$style['block']">
    <div :class="$style['block__details']">
      <div class="form_app_filter">
        <div :class="['form_field field']">
          <label>Origin (city, st / zip)</label>
          <input v-model="filter.origin" class="input input--white" type="text" placeholder="Enter origin">
        </div>
        <div :class="['form_field field']">
          <label>Destination </label>
          <input v-model="filter.destination" class="input input--white" type="text" placeholder="Enter destination">
          <div class="help_desk">
            Select (city, st / state/ zones)
          </div>
        </div>
        <div :class="['form_field field']">
          <label>Available from</label>
          <UiDatapicker
            v-model="filter.date_from"
            :popover="{ visibility: 'focus' }"
            :input-class="['input--white']"
            placeholder="Select date"
          />
        </div>
        <div :class="['form_field field']">
          <label>Available to</label>
          <UiDatapicker
            v-model="filter.date_to"
            :popover="{ visibility: 'focus' }"
            :input-class="['input--white']"
            placeholder="Select date"
          />
        </div>
        <div :class="['form_field field']">
          <label>Container Size</label>
          <VueMultiselect
            v-model="filter.size"
            :options="container_size"
            label="title"
            :allow-empty="false"
            placeholder="Max length"
          />
        </div>
      </div>
    </div>
    <div :class="$style['block__details']">
      <div class="form_app_filter">
        <div :class="['form_field field']">
          <label>Full / Partial</label>
          <VueMultiselect
            v-model="filter.workload"
            :options="workload"
            label="title"
            :allow-empty="false"
            placeholder="Full / Partial"
          />
        </div>
        <div :class="['form_field field']">
          <label>Length (ft)</label>
          <input v-model="filter.length" class="input input--white" type="text" placeholder="Length (ft)">
        </div>
        <div :class="['form_field field']">
          <label>Weight (lbs)</label>
          <input v-model="filter.weight" class="input input--white" type="text" placeholder="Weight (lbs)">
        </div>
        <div :class="['form_field field']">
          <label>Preferred contact</label>
          <VueMultiselect
            v-model="filter.phone"
            :options="preferred_phone"
            label="title"
            :allow-empty="false"
            placeholder="Preferred contact"
          />
        </div>
        <div :class="['form_field field']">
          <!--Нужно чтобы была 1 пустая ячейка (по дизайну)-->
        </div>
      </div>
    </div>
    <div :class="$style['block__details']">
      <div class="form_app_filter">
        <div :class="['form_field field form_field--2']">
          <label>Comments</label>
          <textarea v-model="filter.comment" class="textarea textarea--white" placeholder="Enter your comment" />
          <div class="help_desk help_desk--right">
            {{ (filter && filter.comment && filter.comment.length) || '0' }}/160
          </div>
        </div>
        <div :class="['form_field field form_field--flex']">
          <div class="checkbox">
            <label>
              <input v-model="filter.check" type="checkbox">
              <span> <svgicon name="icon-checked" class="svg-icon-check svg-icon svg-fill" /> </span>
            </label>
          </div>
          <div class="form_field--input">
            <label>Create alarm (radius miles)</label>
            <input v-model="filter.radius" class="input input--white" type="text" placeholder="Enter radius">
            <div class="help_desk">
              Radius limit is 450 miles
            </div>
          </div>
        </div>
        <div :class="['form_field field']" />
        <div :class="['form_field field', $style['block__btn']]">
          <button class="btn btn--light btn--md" @click.prevent="clear">
            Clear
          </button>
          <button class="btn btn--md" @click.prevent="$emit('addPost', false)">
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/app/icon-calendar'
export default {
  name: 'NewPostTruck',
  data () {
    return {
      filter: {
        origin: '',
        destination: '',
        date_from: '',
        date_to: '',
        size: '',
        workload: '',
        length: '',
        weight: '',
        phone: '',
        radius: '',
        comment: '',
        check: false
      },
      container_size: [
        { title: '10 ft', id: 1 },
        { title: '20 ft', id: 2 },
        { title: '30 ft', id: 3 },
        { title: '50 ft', id: 4 },
        { title: '80 ft', id: 5 }
      ],
      workload: [
        { title: 'Full', id: 1 },
        { title: 'Partial', id: 2 }
      ],
      preferred_phone: [
        { title: '(671) 555-0110', id: 1 },
        { title: '(671) 555-0220', id: 2 },
        { title: '(671) 555-0330', id: 3 },
        { title: '(671) 555-0440', id: 4 },
        { title: '(671) 555-0550', id: 5 }
      ]
    }
  },
  methods: {
    clear () {
      this.filter = {
        origin: '',
        destination: '',
        date_from: '',
        date_to: '',
        size: '',
        workload: '',
        length: '',
        weight: '',
        phone: '',
        radius: '',
        comment: '',
        check: false
      }
      this.$notify({
        type: 'success',
        title: 'Search cleared'
      })
    }
  }
}
</script>

<style lang="scss" module>
.block{
  &__details{
    margin-bottom: 24px;
  }
  &__btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button:not(:last-child){
      margin-right: 16px;
    }
  }
  :global(.form_field--2) {
      &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
.input_wrapper {
  position: relative;
  :global(.svg-icon) {
    display: block;
    color: $clr-text-secondary;
  }
}
</style>
