<template>
  <!--  Весь компонент нужно чистить от мусора так как 90% скопировано из примеров-->
  <div id="file-drag-drop" :class="$style['block']">
    <form ref="fileform" :class="$style['block__form']">
      <div :class="$style['block__form__icon']">
        <svgicon name="app/icon-file-upload" />
      </div>
      <div :class="$style['block__form__text']">
        <p>Drag & Drop your files here or</p>
        <input
          v-show="false"
          ref="fileInput"
          type="file"
          :accept="allowedFormats.join(',')"
          @change="handleFileUpload"
        >
        <button class="btn btn--sm btn--light" @click.prevent="chooseFile">
          Choose file
        </button>
      </div>
    </form>
    <!--    <progress max="100" :value.prop="uploadPercentage" /> придумать как сделать эту херню-->
    <div v-for="(file, key) in files" :key="key" :class="[$style['block__file_listing'], $style['listing']]">
      <div :class="$style['listing__preview']" style="min-width: 80px;">
        <img :ref="'preview'+parseInt( key )" class="preview" src="/images/file.jpg"> <!--тут стоит заглушка-->
      </div>
      <div :class="$style['listing__info']">
        <h5>{{ file.file.name }}</h5>
        <p>{{ (file.file.size / 1024).toFixed(1) }} kb</p>
      </div>

      <div :class="$style['listing__actions']">
        <div class="icon_circle icon_circle--sm" @click="removeFile( key )">
          <svgicon name="icon-delete" />
        </div>
        <vue-multiselect
          v-model="file.type"
          :searchable="false"
          :options="types"
          label="name"
          placeholder="Select Doc type"
          m-style="docs"
          @select="onSelect($event, file)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/app/icon-file-upload'
import '@/components/svg-icons/icon-delete'
export default {
  props: {
    types: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      allowedFormats: ['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/x-pdf', '.doc', '.docx'],
      // Это разрешенные форматы отправки, уточнить у бэка. Возможно вынести в глобальную переменную
      dragAndDropCapable: false,
      files: [],
      uploadPercentage: 0,
      doc_types: ['Bill of Lading', 'Quote', 'Proof of Delivery', 'Delivery Order', 'Decks, Specialized', 'Dry Bulk', 'Hazardous Materials']
    }
  },
  watch: {
    files: {
      handler (val) {
        this.$emit('changeFiles', val)
      },
      deep: true
    }
  },
  mounted () {
    this.dragAndDropCapable = this.determineDragAndDropCapable()
    if (this.dragAndDropCapable) {
      ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
        this.$refs.fileform.addEventListener(evt, function (e) {
          e.preventDefault()
          e.stopPropagation()
        }, false)
      }.bind(this))
      this.$refs.fileform.addEventListener('dragenter', function (e) {
        this.$refs.fileform.classList.add('block__form--hover')
      }.bind(this), false);
      ['dragend', 'dragleave', 'drop'].forEach(function (evt) {
        this.$refs.fileform.addEventListener(evt, function (e) {
          if (e.currentTarget.contains(e.relatedTarget)) {
            return
          }
          this.$refs.fileform.classList.remove('block__form--hover')
        }.bind(this))
      }.bind(this))
      this.$refs.fileform.addEventListener('drop', function (e) {
        for (let i = 0; i < e.dataTransfer.files.length; i++) {
          if (this.allowedFormats.includes(e.dataTransfer.files[i].type)) {
            this.files.push(
              {
                file: e.dataTransfer.files[i],
                type: ''
              }
            )
          } else {
            this.$notify({
              type: 'error',
              title: 'This format is not suitable'
            })
          }
        }
        // this.getImagePreviews()
      }.bind(this))
    }
  },
  methods: {
    determineDragAndDropCapable () {
      const div = document.createElement('div')
      return (('draggable' in div) ||
          ('ondragstart' in div && 'ondrop' in div)) &&
        'FormData' in window &&
        'FileReader' in window
    },
    // getImagePreviews () {
    //   for (let i = 0; i < this.files.length; i++) {
    //     if (/\.(jpe?g|png|gif)$/i.test(this.files[i].name)) {
    //       const reader = new FileReader()
    //       reader.addEventListener('load', function () {
    //         this.$refs['preview' + parseInt(i)][0].src = reader.result
    //       }.bind(this), false)
    //       reader.readAsDataURL(this.files[i])
    //     } else {
    //       this.$nextTick(function () {
    //         this.$refs['preview' + parseInt(i)][0].src = '/images/file.jpg'
    //       })
    //     }
    //   }
    // },
    handleFileUpload (e) {
      this.files.push(
        {
          file: this.$refs.fileInput.files[0],
          type: ''
        })
      this.$refs.fileInput.value = '' /* Нужно для того чтобы человек смог повторно загружать один и тот же файл */
    },
    removeFile (key) {
      this.files.splice(key, 1)
    },
    chooseFile () {
      this.$refs.fileInput.click()
    },
    onSelect (e, file) {
      file.docType = e.id
    }
  }
}
</script>

<style lang="scss" module>
.block{
  &__form{
    width: 100%;
    border-radius: 8px;
    padding: 50px 0 50px 60px;
    background-color: $clr-bgc-grey;
    border: 1px dashed $clr-bgc-icon;
    display: flex;
    margin-bottom: 16px;
    transition: .3s;
    //& > *{
    //  pointer-events: none;
    //}
    &:global(.block__form--hover){
      background-color: darken($clr-bgc-grey, 2.5%)
    }
    &__icon{
      margin-right: 80px;
      :global(.svg-icon){
        font-size: 75px;
        color: $clr-text-caption;
      }
    }
    &__text{
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $clr-text-secondary;
      }
      :global(.btn){
        align-self: start;
      }
    }
  }
  &__file_listing{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $clr-bgc-icon;
    padding: 16px 24px 16px 16px;
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
}
.listing{
  display: flex;
  &__preview{
    height: 96px;
    max-width: 100%;
    margin-right: 16px;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__info{
    flex-grow: 1;
    text-align: left;
    h5{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
      color: $clr-text-primary;
    }
    p{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $clr-text-caption;
    }
  }
  &__actions{
    :global(.icon_circle){
      border: 1px solid $clr-bgc-line;
      margin-bottom: 18px;
      margin-left: auto;
      :global(.svg-icon){
        color: $clr-text-primary;
        font-size: 13px;
      }
    }
  }
}
</style>
