<template>
  <div>
    <div :class="$style['copyright']">
      <div class="container">
        <div :class="$style['copyright__inner']">
          <div :class="$style['copyright__copy']">
            Copyright © 2022 Logistics. All rights reserved.
          </div>
          <div :class="$style['copyright__policy']">
            <nuxt-link :to="$getRoutePath('static/terms')" :class="$style['copyright__link']">
              Terms & Conditions
            </nuxt-link>
            <nuxt-link :to="$getRoutePath('static/policy')" :class="$style['copyright__link']">
              Privacy Policy
            </nuxt-link>
            <a href="https://jafton.com/" :class="$style['copyright__link']">
              Powered by  <svgicon name="icon-jafton" class="svg-icon-jafton" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/icon-jafton'
export default {
  name: 'Copyright'
}
</script>

<style module lang="scss">
.copyright{
  color: #fff;
  padding: 48px 0;
  background: linear-gradient(72.96deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 102.49%), #0D2256;
  @include lg-block{
    padding: 32px 0;
  }
  @include sm-block{
    padding: 24px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sm-block{
      display: block;
    }
  }
  &__copy{
    font-size: 18px;
    @include md-block{
      font-size: 15px;
    }
    @include sm-block{
      margin-bottom: 20px;
      text-align: center;
    }
    @include xxs-block{
      font-size: 12px;
    }
  }
  &__policy{
    @include sm-block{
      display: flex;
      justify-content: center;
    }
    @include xxs-block{
      flex-direction: column;
    }
  }
  &__link{
    font-size: 15px;
    white-space: nowrap;
    color: #fff;
    @include md-block{
      font-size: 15px;
      text-align: center;
      display: inline-block;
      &:last-child{
        margin-top: 10px;
      }
    }
    @include sm-block{
      &:last-child{
        margin-top: 0;
      }
    }
    @include xxs-block{
      font-size: 12px;
      &:not(:last-child){
        margin-bottom: 12px;
      }
    }
    &:not(:last-child){
      margin-right: 40px;
      @include lg-block{
        margin-right: 24px;
      }
      @include xxs-block{
        margin-right: 0px;
      }
    }
  }
}
</style>
