<template>
  <div :class="$style['info']">
    <div class="container">
      <div :class="$style['info__inner']">
        <div :class="$style['info__left']">
          <div :class="$style['info__left__inner']">
            <div :class="$style['info__title']">
              Are you ready to improve your business?
            </div>
            <nav :class="$style['info__menu']">
              <ul>
                <li>
                  <nuxt-link to="/">
                    Company
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">
                    News
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">
                    Network map
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">
                    Services
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">
                    Contacts
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">
                    Looking Glass
                  </nuxt-link>
                </li>
              </ul>
            </nav>
          </div>
          <div :class="$style['info__bottom']">
            <ul :class="$style['info__info']">
              <li><span>Email</span><a href="mailto:info@tms.com">info@tms.com</a></li>
              <li><span>Number</span><a href="tel:(808)555-01111">(808) 555-0111</a></li>
            </ul>
            <div>
              <div :class="$style['info__social']">
                <a href="/">
                  <svgicon name="social/icon-instagram" class="svg-icon-social" />
                </a>
                <a href="/">
                  <svgicon name="social/icon-twitter" class="svg-icon-social" />
                </a>
                <a href="/">
                  <svgicon name="social/icon-linkedin" class="svg-icon-social" />
                </a>
                <a href="/">
                  <svgicon name="social/icon-facebook" class="svg-icon-social" />
                </a>
              </div>
              <div :class="$style['info__follow']">
                Follow us
              </div>
            </div>
          </div>
        </div>

        <div :class="$style['info__right']">
          <div :class="$style['info__right__sm_flex']">
            <div :class="$style['info__request']">
              Leave a request to connect or ask questions
            </div>
            <nuxt-link :to="$getRoutePath('static/write-to-us')" :class="$style['info__btn']">
              <span>Write to us</span> <svgicon name="icon-arrow-right" class="svg-icon-arrow-right" />
            </nuxt-link>
          </div>
          <div :class="$style['info__subscribe']">
            <div :class="$style['info__label']">
              Subscribe to news
            </div>
            <form :class="$style['info__form']">
              <input type="email" placeholder="Your e-mail">
              <button>Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '~/components/svg-icons/social/index.js'
import '~/components/svg-icons/icon-arrow-right'
export default {
  name: 'Info'
}
</script>

<style module lang="scss">
.info{
  padding: 70px 0;
  background: linear-gradient(72.96deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 102.49%), #0D2256;
  border-bottom: 1px solid $clr-gray;
  color: #fff;
  @include md-block{
    padding: 60px 0;
  }
  @include xxs-block{
    padding: 40px 0;
  }
  &__inner{
    @include row-flex();
    justify-content: space-between;
  }
  &__left{
    @include col();
    @include size(6.4);
    @include size-lg(5);
    @include size-md(5);
    @include size-sm(12);
    @include size-xs(12);
    @include sm-block{
      margin-bottom: 50px;
    }
    @include xs-block{
      display: block;
      margin-bottom: 0;
    }
    &__inner{
      margin-bottom: 50px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    margin-bottom: 56px;
    @include lg-block{
      font-size: 45px;
      margin-bottom: 45px;
    }
    @include md-block{
      font-size: 35px;
      line-height: 130%;
      margin-bottom: 35px;
    }
    @include sm-block{
      font-size: 32px;
      margin-bottom: 30px;
      text-align: center;
    }
    @include xs-block{
    }
    @include xxs-block{
      font-size: 26px;
    }
  }
  &__menu{
    display: flex;
    margin-bottom: 64px;
    @include lg-block{
      margin-bottom: 60px;
    }
    @include md-block{
      margin-bottom: 40px;
    }
    @include sm-block{
      margin-bottom: 0px;
      justify-content: center;
    }
    @include xs-block{
      margin-bottom: 40px;
    }
    ul{
      column-count: 2;
      column-gap: 80px;
      @include md-block{
        column-gap: 50px;
      }
      @include sm-block{
        column-gap: 50px;
        column-count: 3;
      }
      //@include xs-block{
      //  column-gap: 50px;
      //  column-count: 3;
      //}
      @include xxs-block{
        column-count: 2;
      }
      li{
        &:not(:last-child){
          margin-bottom: 12px;
        }
        a{
          font-size: 18px;
          line-height: 24px;
          @include md-block{
            font-size: 16px;
            line-height: 20px;
          }
          @include sm-block{
            line-height: 18px;
          }
          @include xxs-block{
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    @include lg-block{
      flex-direction: column;
    }
    @include sm-block{
      margin-left: 20px;
      flex-direction: row;
      column-gap: 70px;
      justify-content: center;
    }
    @include xs-block{
      flex-direction: column;
      column-gap: 0;
      margin: 0;
    }
  }
  &__info{
    @include lg-block{
      margin-bottom: 40px;
    }
    @include sm-block{
      //padding-top: 20px;
      margin-bottom: 0;
    }
    @include xs-block{
      padding-top: 0px;
      margin-bottom: 30px;
    }
    li {
      display: flex;
      @include xs-block{
        justify-content: center;
      }
      &:not(:last-child) {
        margin-bottom: 24px;
        @include md-block{
          margin-bottom: 20px;
        }
        @include xxs-block{
          margin-bottom: 15px;
        }
      }

      span {
        color: $clr-light-gray;
        width: 77px;
        margin-right: 24px;
        @include md-block{
          margin-right: 36px;
        }
        @include xs-block{
          width: max-content;
        }
      }

      a,span {
        font-size: 18px;
        line-height: 24px;
        @include md-block{
          font-size: 17px;
          line-height: 22px;
        }
        @include xs-block{
          font-size: 16px;
        }
        @include xxs-block{
          font-size: 15px;
        }
      }
    }
  }
  &__social{
    margin-bottom: 16px;
    display: flex;
    @include xs-block{
      justify-content: center;
    }
    a{
      line-height: 1;
      padding: 12px;
      border-radius: 50%;
      border: 1px solid $clr-gray;
      @include xs-block{
        padding: 10px;
      }
      &:not(:last-child){
        margin-right: 32px;
        @include lg-block{
          margin-right: 24px;
        }
        @include sm-block{
          margin-right: 20px;
        }
      }
    }
    :global(.svg-icon-social){
      @include lg-block{
        font-size: 22px;
      }
      @include md-block{
        font-size: 20px;
      }
      @include sm-block{
        font-size: 18px;
      }
      @include xs-block{
        font-size: 17px;
      }
    }
  }
  &__follow{
    font-size: 18px;
    line-height: 24px;
    color: $clr-light-gray;
    @include md-block{
      font-size: 17px;
      line-height: 22px;
    }
    @include xs-block{
      font-size: 16px;
      text-align: center;
    }
    @include xxs-block{
      font-size: 15px;
    }
  }
  &__right{
    @include col();
    @include size(4.6);
    @include size-lg(5);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);
    @include xs-block{
      margin-top: 40px;
    }
    &__sm_flex{
      @include sm-block{
        display: flex;
        column-gap: 70px;
        justify-content: center;
        margin-bottom: 30px;
      }
      @include xs-block{
        column-gap: 0;
        justify-content: space-between;
      }
      @include xxs-block{
        display: block;
      }
    }
  }
  &__request{
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 40px;
    max-width: 350px;
    @include lg-block{
      font-size: 32px;
    }
    @include md-block{
      font-size: 30px;
    }
    @include sm-block{
      margin-bottom: 0;
      font-size: 22px;
      max-width: 280px;
    }
    @include xs-block{
      font-size: 21px;
    }
    @include xxs-block{
      margin-bottom: 25px;
      max-width: max-content;
      text-align: center;
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    width: max-content;
    background: $clr-main-secondary;
    padding: 24px 16px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 60px;
    @include lg-block{
      padding: 22px 16px;
      font-size: 22px;
    }
    @include md-block{
      font-size: 20px;
      padding: 18px 16px;
    }
    @include sm-block{
      margin-bottom: 0;
      font-size: 16px;
      padding: 16px;
      align-self: center;
    }
    @include xxs-block{
      font-size: 14px;
      padding: 12px 14px;
      margin: 0 auto;
    }
    span{
      margin-right: 18px;
      @include sm-block{
        margin-right: 12px;
      }
    }
    :global(.svg-icon-arrow-right) {
      @include lg-block{
        font-size: 28px;
      }
      @include sm-block{
        font-size: 20px;
      }
      @include xxs-block{
        font-size: 16px;
      }
    }
  }
  &__label{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 32px;
    @include lg-block{
      margin-bottom: 24px;
    }
    @include md-block{
      font-size: 22px;
    }
    @include sm-block{
      font-size: 18px;
      margin-bottom: 15px;
    }
    @include xxs-block{
      font-size: 16px;
    }
  }
  &__subscribe{
    @include sm-block{
      max-width: 400px;
      margin: 0 auto;
    }
  }
  &__form{
    display: flex;
    input, button{
      background-color: transparent;
      outline: none;
      border: 1px solid $clr-gray;
      font-size: 18px;
      line-height: 24px;
      @include lg-block{
        font-size: 17px;
        line-height: 1;
      }
      @include md-block{
        font-size: 16px;
      }
      @include sm-block{
        font-size: 15px;
      }
      @include xxs-block{
        font-size: 13px;
      }
    }
    input{
      color: $clr-light-gray;
      padding: 16px;
      flex: 1 1 auto;
      width: 100%;
      &::placeholder{
        color: $clr-light-gray;
      }
      @include lg-block{
        padding: 14px;
      }
      @include xxs-block{
        padding: 12px;
      }
    }
    button{
      font-weight: 500;
      padding: 16px 24px;
      color: #fff;
      @include lg-block{
        padding: 14px 20px;
      }
      @include xxs-block{
        padding: 12px 16px;
      }
    }
  }
}
</style>
