<template>
  <footer :class="$style['footer']">
    <div :class="$style['footer__inner']">
      <FooterInfo />
      <FooterCopyright />
    </div>
  </footer>
</template>

<script>
export default {
  name: 'LandingFooter'
}
</script>

<style module lang="scss">
.footer{
  &, a{
    color: #fff;
  }
  &__inner{

  }
}
</style>
