<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <UiAvatar size="96" :image="avatar" />
      <div :class="$style['block__actions']">
        <input ref="fileInput" type="file" accept="image/*" style="display: none;" @change="onFileChange">
        <button class="btn btn--md btn--light" @click="triggerUpload">
          Upload
        </button>
        <button class="btn btn--md" :disabled="!avatar" @click="removeAvatar">
          Remove
        </button>
      </div>
    </div>
    <div :class="$style['block__info']">
      <h5 :class="$style['block__title']">
        Account info
      </h5>
      <div class="form_row form_row--triple">
        <div class="form_field field">
          <label>First name</label>
          <input class="input" type="text" value="Alexander" placeholder="First name">
        </div>
        <div class="form_field field">
          <label>Last name</label>
          <input class="input" type="text" value="Leslie" placeholder="Last name">
        </div>
        <div class="form_field field">
          <label>Email address</label>
          <input class="input" type="email" value="bill.sanders@example.com" placeholder="Email">
        </div>
        <div class="form_field field">
          <label>Phone number</label>
          <input class="input" type="phone" value="(239) 555-0108" placeholder="Phone">
        </div>
        <div class="form_field field">
          <label>Company DOT #</label>
          <input class="input" type="text" value="125562" placeholder="Company DOT #">
        </div>
        <div class="form_field field">
          <label>Company name</label>
          <input class="input" type="text" value="-" placeholder="Company name">
        </div>
      </div>
    </div>
    <div :class="$style['block__address']">
      <h5 :class="$style['block__title']">
        Address
      </h5>
      <div class="form_row form_row--triple">
        <div class="form_field field">
          <label>City</label>
          <input class="input" type="text" value="Pembroke Pines" placeholder="City">
        </div>
        <div class="form_field field">
          <label>State</label>
          <input class="input" type="text" value="DC" placeholder="State">
        </div>
        <div class="form_field field">
          <label>Zip code</label>
          <input class="input" type="text" value="1031" placeholder="Zip code">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Account',
  data () {
    return {
      avatar: null
    }
  },
  methods: {
    triggerUpload () {
      this.$refs.fileInput.click()
    },
    onFileChange (event) {
      const file = event.target.files[0]
      const reader = new FileReader()
      if (file) {
        reader.onload = (e) => {
          this.avatar = reader.result
        }
        reader.readAsDataURL(file)
      }
    },
    removeAvatar () {
      this.avatar = null
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__actions{
    display: flex;
    align-items: center;
    margin-left: 24px;
    button{
      margin-right: 8px;
    }
  }
  &__info{
    margin-bottom: 48px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
}
</style>
