<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <h5 :class="$style['block__title']">
        Change Password
      </h5>
    </div>
    <form :class="$style['block__content']">
      <div :class="$style['block__current']">
        <div class="field">
          <label>Current password</label>
          <UiFormInputPassword
            v-model="current_password"
            placeholder="Password"
            name="password"
            :value="current_password"
          />
        </div>
        <div :class="$style['block__forgot']">
          <nuxt-link :to="$getRoutePath('static/forgot')">
            Forgot password?
          </nuxt-link>
        </div>
      </div>
      <div :class="$style['block__new']">
        <div class="form_field field">
          <label>New password</label>
          <UiFormInputPassword
            v-model="new_password"
            placeholder="Password"
            name="password"
            :value="new_password"
          />
        </div>
        <div class="form_field field">
          <label>Confirm password</label>
          <UiFormInputPassword
            v-model="confirm_password"
            placeholder="Password"
            name="password"
            :value="confirm_password"
          />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'ChangePassword',
  data () {
    return {
      current_password: '',
      new_password: '',
      confirm_password: ''
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    margin-bottom: 32px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
  }
  &__content{
    max-width: 460px;
  }
  &__current{
    margin-bottom: 28px;
  }
  &__forgot {
    text-align: right;
    margin-top: 16px;
    font-size: 16px;

    a {
      font-weight: 600;
      color: $clr-main-secondary;
    }
  }
}
</style>
