<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <h5 :class="$style['block__title']">
        Default Rates
      </h5>
    </div>
    <div>
      <AppChargePrice />
    </div>
  </div>
</template>

<script>
export default {
  name: 'DefaultRates'
}
</script>

<style module lang="scss">
.block{
  &__header{
    margin-bottom: 32px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
  }
}
</style>
