<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <h5 :class="$style['block__title']">
        Card details
      </h5>
      <button class="btn btn--light btn--with-icon">
        <svgicon name="app/icon-add" />
        Add Card
      </button>
    </div>
    <div :class="$style['block__cards']">
      <div v-for="card of cards" :key="card.id" :class="[$style['block__card'],$style['card'], {[$style['active']] : card.active}]" @click="activeCard(card.id)">
        <div :class="$style['card__balance']">
          ${{ card.balance }}
        </div>
        <div :class="$style['card__dots']" @click.stop>
          <UiDropdown
            :key="card.id"
            :caret="false"
            drop-list-class="dropdown_actions"
          >
            <template #toggleLink>
              <svgicon name="app/icon-dots" class="svg-icon-dots" />
            </template>
            <template #default>
              <ul>
                <li>
                  <svgicon name="icon-edit" />
                  Make a main card
                </li>
                <li class="dropdown_actions--delete" @click="deleteCard(card.id)">
                  <svgicon name="icon-delete" />
                  Delete
                </li>
              </ul>
            </template>
          </UiDropdown>
        </div>
        <div :class="$style['card__requisites']">
          <img :src="card.url" :alt="card.name">
          <div :class="$style['card__number']">
            <p> **** {{ card.number }}</p>
            <span>{{ card.validity_period }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/app/icon-add'
import '@/components/svg-icons/app/icon-dots'
export default {
  name: 'MyCards',
  data () {
    return {
      cards: [
        { id: 1, name: 'visa', balance: '689.90', url: require('static/images/visa.png'), number: '4543', validity_period: '06/23', active: true },
        { id: 2, name: 'mastercard', balance: '250.20', url: require('static/images/mastercard.png'), number: '2314', validity_period: '09/25', active: false }
      ]
    }
  },
  methods: {
    activeCard (id) {
      // eslint-disable-next-line no-return-assign
      this.cards.forEach(item => item.active = false)
      this.cards.find(item => item.id === id).active = true
    },
    deleteCard (id) {
      this.cards.splice(this.cards.findIndex(el => el.id === id), 1)
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
  }
  &__cards{
    display: flex;
    margin: -8px;
    flex-wrap: wrap;
  }
}
.card{
  border-radius: 16px;
  background-color: $clr-bgc-grey;
  padding: 20px 16px;
  position: relative;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  flex: 0 0 320px;
  margin: 8px;
  border: 3px solid transparent;
  &.active{
    border-color: $clr-main-secondary;
  }
  &__balance{
    font-weight: 600;
    font-size: 24px;
    color: $clr-text-primary;
  }
  &__dots{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
    text-align: center;
  }
  &__requisites{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__number{
    text-align: right;
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 4px;
      color: $clr-text-primary;
    }
    span{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: $clr-text-secondary;
    }
  }
}
</style>
