<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <h5 :class="$style['block__title']">
        Broker reviews
      </h5>
    </div>
    <div :class="[$style['block__rating'], $style['rating']]">
      <div :class="$style['rating__inner']">
        <div :class="$style['rating__left']">
          <div :class="$style['rating__num']">
            {{ rating.num }}
          </div>
          <div :class="$style['rating__stars']">
            <svgicon v-for="(el,num) in rating.rating_stars" :key="num" name="icon-star" :class="{[$style['active']]: el.active}" />
          </div>
          <div :class="$style['rating__text']">
            Based on {{ rating.rating_reviews }} Reviews
          </div>
        </div>
        <ul :class="$style['rating__right']">
          <li v-for="item of rating.progress" :key="item.id">
            <span>{{ item.value }}</span>
            <div :class="$style['rating__progress-container']">
              <div :style="{width: item.width + '%'}" :class="$style['rating__progress-bar']" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div :class="$style['block__reviews']">
      <div v-for="item of rating.reviews" :key="item.id" :class="$style['reviews']">
        <div :class="$style['reviews__header']">
          <div :class="$style['reviews__avatar']">
            <UiAvatar :image="item.avatar" />
          </div>
          <div>
            <h5 :class="$style['reviews__name']">
              {{ item.name }}
            </h5>
            <div :class="$style['reviews__info']">
              <div :class="$style['reviews__stars']">
                <svgicon v-for="(el,num) in item.stars" :key="num" name="icon-star" :class="{[$style['active']]: el.active}" />
              </div>
              <div :class="$style['reviews__time']">
                {{ item.time_hour }} h ago
              </div>
            </div>
          </div>
        </div>
        <div :class="$style['reviews__content']">
          {{ item.content }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/icon-star'
export default {
  name: 'RatingReviews',
  data () {
    return {
      rating: {
        num: '5.0',
        rating_stars: [
          { active: true },
          { active: true },
          { active: true },
          { active: true },
          { active: true }
        ],
        rating_reviews: 154,
        progress: [
          { id: 1, value: 5, width: 100 },
          { id: 2, value: 4, width: 30 },
          { id: 3, value: 3, width: 5 },
          { id: 4, value: 2, width: 10 },
          { id: 5, value: 1, width: 5 }
        ],
        reviews: [
          {
            id: 1,
            avatar: require('static/images/avatar.png'),
            name: 'Wade Warren',
            stars: [
              { active: true },
              { active: true },
              { active: true },
              { active: true },
              { active: true }
            ],
            time_hour: 2,
            content: 'It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures'
          },
          {
            id: 2,
            // eslint-disable-next-line import/no-absolute-path
            avatar: '',
            name: 'Darlene Robertson',
            stars: [
              { active: true },
              { active: true },
              { active: true },
              { active: true },
              { active: false }
            ],
            time_hour: 8,
            content: 'It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures'
          },
          {
            id: 3,
            // eslint-disable-next-line import/no-absolute-path
            avatar: require('static/images/avatar.png'),
            name: 'Darlene Robertson',
            stars: [
              { active: true },
              { active: true },
              { active: true },
              { active: false },
              { active: false }
            ],
            time_hour: 10,
            content: 'It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures'
          },
          {
            id: 4,
            // eslint-disable-next-line import/no-absolute-path
            avatar: null,
            name: 'Darlene Robertson',
            stars: [
              { active: true },
              { active: true },
              { active: false },
              { active: false },
              { active: false }
            ],
            time_hour: 13,
            content: 'It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures'
          }
        ]
      }
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    margin-bottom: 32px;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
  }
}
.rating{
  background-color: #EEF4FE;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  max-width: 500px;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__left{
    margin-right: 60px;
    & > div:not(:last-child){
      margin-bottom: 16px;
    }
  }
  &__num{
    color: $clr-text-primary;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
  }
  &__stars{
    display: flex;
    align-items: center;
    :global(.svg-icon){
      font-size: 20px;
      color: $clr-bgc-icon;
      &.active{
        color: $clr-system-warning;
      }
      &:not(:last-child){
        margin-right: 6px;
      }
    }
  }
  &__text{
    color: $clr-text-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }
  &__right{
    li{
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 5px;
      }
      span{
        color: $clr-text-primary;
        font-weight: 500;
        font-size: 16px;
        width: 10px;
        text-align: center;
      }
    }
  }
  &__progress-container{
    width: 150px;
    background: #FFFFFF;
    border-radius: 5px;
    height: 6px;
    margin-left: 10px;
  }
  &__progress-bar{
    height: 100%;
    border-radius: 6px;
    background-color: $clr-main-secondary;
  }
}
.reviews{
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid $clr-bgc-line;
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &__avatar{
    margin-right: 12px;
  }
  &__name{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__stars{
    display: flex;
    align-items: center;
    margin-right: 12px;
    :global(.svg-icon){
      font-size: 16px;
      color: $clr-bgc-icon;
      &.active{
        color: $clr-system-warning;
      }
      &:not(:last-child){
        margin-right: 5px;
      }
    }
  }
  &__time{
    color: $clr-text-secondary;
    font-size: 14px;
    line-height: 1.2;
  }
  &__content{
    font-size: 16px;
    line-height: 1.2;
    color: $clr-text-primary;
    max-width: 800px;
  }
}
</style>
