<template>
  <div :class="$style['app']">
    <UiLoadingFullPage :active="isLoading" loader="bars" />
    <div v-if="!isLoading" :class="$style['app__inner']">
      <div :class="[$style['app__sidebar'], { [$style['app__sidebar--minify']] : minify}]">
        <AppSidebar :minify="minify" @minify="minifyToggle" />
      </div>
      <div :class="$style['app__main']">
        <div :class="$style['app__header']">
          <AppHeader />
        </div>
        <div :class="$style['app__content']">
          <Nuxt />
        </div>
      </div>
    </div>
    <LazyUiCustomNotify />
  </div>
</template>

<script>
import '~/components/svg-icons/icon-checked'
import '~/components/svg-icons/icon-close'
import '~/components/svg-icons/icon-warning'
export default {
  name: 'App',
  data () {
    return {
      minify: false,
      isLoading: true,
      fullPage: true
    }
  },
  mounted () {
    const minifySidebar = localStorage.getItem('cabinetSidebarMinify')
    if (minifySidebar) {
      this.minify = JSON.parse(minifySidebar)
    } else {
      this.minify = false
    }
    this.$nextTick(() => {
      this.isLoading = false
    })
  },
  methods: {
    minifyToggle (val) {
      this.minify = val
      localStorage.setItem('cabinetSidebarMinify', val)
    }
  }
}
</script>

<style module lang="scss">
.app {
  background-color: $clr-bgc-grey;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  &__inner {
    display: flex;
  }
  &__sidebar{
    flex: 0 0 290px;
    background-color: #fff;
    height: 100vh;
    position: relative;
    margin: 0 32px 0 0;
    &--minify{
      flex: 0 0 90px;
    }
  }
  &__main {
    flex: 1;
    height: 100vh;
    position: relative;
    padding-right: 80px;
    overflow-x: auto;
    padding-bottom: 18px;
    &::-webkit-scrollbar-track {
      border-radius: 16px;
      background-color: #F1F1F3;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #F1F1F3;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #D0CFDC;
      border-radius: 16px;
    }

  }
  &__header{
    margin-bottom: 32px;
  }
}
</style>
