<template>
  <div>
    <UiLoadingFullPage :active="isLoading" background-color="#0C0F20" :opacity="0.9" loader="bars" />
    <div v-if="!isLoading" :class="$style['wrapper']">
      <headersLandingHeader />
      <main :class="$style['main']">
        <Nuxt />
      </main>
      <FooterLandingFooter />
      <LandingMobileMenu />
      <client-only>
        <notifications />
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Landing',
  data: () => ({
    isLoading: true
  }),
  mounted () {
    this.$nextTick(() => {
      this.isLoading = false
    })
  }
}
</script>

<style lang="scss" module>
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //padding-top: ;
}
.header{

}
.main{
  flex: 1 1 auto;
  > div{
    padding-top: 121px;
    @include lg-block{
      padding-top: 93px;
    }
    @include md-block{
      padding-top: 84px;
    }
    @include xs-block{
      padding-top: 70px;
    }
  }
}

.footer{

}

</style>
