<template>
  <div :class="$style['empty']">
    <div :class="$style['empty__bg']">
      <img src="/images/empty.jpg" srcset="/images/empty@2x.jpg 1.5x" alt="">
    </div>
    <div :class="$style['empty__header']">
      <HeadersSignUpHeader />
    </div>
    <div :class="$style['empty__content']">
      <div class="container">
        <div :class="$style['empty__inner']">
          <div :class="$style['empty__left']">
            <div :class="$style['empty__left__inner']">
              <div :class="$style['empty__logo']">
                <nuxt-link to="/">
                  <svgicon name="logo-long" class="svg-icon-logo-long" :original="true" />
                </nuxt-link>
              </div>
              <p :class="$style['empty__desc']">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
              </p>
            </div>
          </div>
          <div :class="$style['empty__right']">
            <Nuxt />
          </div>
        </div>
      </div>
    </div>
    <div :class="$style['empty__footer']">
      <FooterCopyright />
    </div>
    <LandingMobileMenu />
    <client-only>
      <notifications />
    </client-only>
  </div>
</template>

<script>
import '~/components/svg-icons/logo-long'
export default {
  name: 'Empty',
  middleware: 'header/dark'
}
</script>

<style module lang="scss">
.empty {
  min-height: 100vh;
  @include sm-block{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
  }
  @include xs-block{
    padding-top: 90px;
  }
  &__content{
    @include sm-block{
      flex: 1 1 auto;
    }
  }
  &__bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    @include md-block{
      width: 40%;
    }
    @include sm-block{
      display: none;
    }
    img{
      //display: block;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__header{
    display: none;
    @include sm-block{
      display: block;
    }
  }
  &__inner{
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-end;
    @include sm-block{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      min-height: auto;
    }
  }
  &__left{
    flex: 0 0 50%;
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__inner{
      width: calc(1310px / 2);
      padding: 0 60px 0 30px;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include lg-block{
        width: 496px;
        padding: 0 30px;
      }
      @include md-block{
        width: 100%;
        padding: 0 20px;
      }
      @include sm-block{
        display: block;
        padding: 0;
        height: auto;
      }
    }
    @include md-block{
      width: 40%;
      right: 60%;
      flex: 0 0 40%;
    }
    @include sm-block{
      display: none;
    }
  }
  &__logo{
    position: absolute;
    top: 48px;
    left: 30px;
    @media(max-width: 1400px){
      top: 35px;
    }
    @include sm-block{
      position: static;
    }
    a{
      display: block;
      width: max-content;
      :global(.svg-icon-logo-long){
        font-size: 52px;
        color: #fff;
        @include sm-block{
          color: #1E1E46;
        }
      }
    }
  }
  &__desc{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #F8F8F8;
    @media(max-width: 1400px){
      font-size: 22px;
    }
    @include lg-block{
      font-size: 20px;
    }
    @include md-block{
      font-size: 18px;
    }
    @include sm-block{
      display: none;
    }
  }

  &__right {
    flex: 0 0 50%;
    padding: 64px 0 90px 34px;
    align-self: stretch;
    @media(max-width: 1400px){
      padding: 40px 0 60px 34px;
    }
    @include lg-block{
      padding: 40px 0 50px 30px;
    }
    @include md-block{
      flex: 0 0 61%;
    }
    @include sm-block{
      padding: 0;
      flex: 1 1 auto;
    }
  }
  &__footer{
    display: none;
    @include sm-block{
      display: block;
      margin-top: 60px;
    }
    @include xxs-block{
      margin-top: 40px;
    }
  }
}
</style>
