<template>
  <div :class="$style.error">
    <div class="container">
      <h1>4<span>0</span>4</h1>
      <h2>Error: 404 page not found</h2>
      <p>Sorry, the page you're looking for cannot be accessed</p>
      <nuxt-link to="/">
        Home page
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error',
  layout: 'error'
}
</script>

<style module lang="scss">
$bg: #313942;
$ghost: #528cce;
$heading: #e7ebf2;
.error{
  background-color: $bg;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 !important;
  h1 {
    color: $heading;
    font-size: 12.5rem;
    letter-spacing: .10em;
    margin: .025em 0;
    font-weight: 700;
    text-shadow: .05em .05em 0 rgba(0,0,0,.25);
    white-space: nowrap;

    @media(max-width: 30rem) {
      font-size: 8.5rem;
    }

    & > span {
      animation: spooky 2s alternate infinite linear;
      color: $ghost;
      display: inline-block;
    }
  }

  h2 {
    color: $heading;
    margin: 1em 0;
    font-size: 24px;
  }

  p {
    color: #ccc;
    margin-top: 0;
  }
  a{
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 1px solid currentColor;
    padding: 0 0 2px 0;
    display: inline-block;
    transition: .3s;
    &:hover{
      color: white;
    }
  }

  @keyframes spooky {
    from {
      transform: translatey(.15em) scaley(.95);
    }

    to {
      transform: translatey(-.15em);
    }
  }
}
</style>
