<template>
  <div class="container">
    <h1>Company</h1>
  </div>
</template>

<script>
export default {
  name: 'Company',
  middleware: 'header/dark',
  head: {
    title: 'Company'
  }
}
</script>
