<template>
  <div class="container">
    <h1>Contacts</h1>
  </div>
</template>

<script>
export default {
  name: 'Contacts',
  middleware: 'header/white',
  head: {
    title: 'Contacts'
  }
}
</script>
