<template>
  <div class="container">
    <h1>Features</h1>
  </div>
</template>

<script>
export default {
  name: 'Features',
  middleware: 'header/dark',
  head: {
    title: 'Features'
  }
}
</script>
