<template>
  <div>
    <div class="container">
      <h1>load Geoposition tracker</h1>
      <h2>latitude: {{ center.lat }}</h2>
      <h2>longitude: {{ center.lng }}</h2>
      <hr>
      <br>
      <div :class="$style.gMap">
        <client-only>
          <!-- <GmapMap
            :key="center.lng"
            ref="gMap"
            width="100%"
            height="100%"
            language="en"
            :center="center"
            :options="{fullscreenControl: false}"
            :zoom="15"
          >
            <GmapMarker
              :key="center.lng"
              :position="center"
            />
          </GmapMap> -->
          <GmapMap
            ref="gMap"
            :center="center"
            :zoom="3"
            map-type-id="terrain"
            style="width: 100%; height: 100%;"
          >
            <GmapPolyline :path="paths" :options="{ strokeColor:'#FF0000'}" />
          </GmapMap>
          <!-- <GMap
            :key="center.lng"
            ref="gMap"
            width="100%"
            height="100%"
            language="en"
            :center="center"
            :options="{fullscreenControl: false}"
            :zoom="15"
          >
            <GMapMarker
              v-for="location in paths"
              :key="location.ID"
              :position="{lat: location.lat, lng: location.lng}"
            />
          </GMap> -->
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Geoposition',
  middleware: 'header/dark',
  data () {
    return {
      center: { lat: 0, lng: -180 },
      paths: [
        { lat: 37.772, lng: -122.214 },
        { lat: 21.291, lng: -157.821 },
        { lat: -18.142, lng: 178.431 },
        { lat: -27.467, lng: 153.027 }
      ],

      marker: { position: { lat: 10, lng: 10 } },
      // center: { lat: 10, lng: 10 },
      mapOptions: {
        disableDefaultUI: true
      }
    }
  },

  mounted () {
    // navigator.geolocation.getCurrentPosition((val) => {
    //   console.log(val, 'getCurrentPosition')
    //   this.lat = val.coords.latitude
    //   this.lng = val.coords.longitude
    // })
    // navigator.geolocation.watchPosition((val) => {
    //   this.center.lat = val.coords.latitude
    //   this.center.lng = val.coords.longitude
    //   console.table(this.center.lat, this.center.lng)
    // })
  },
  methods: {

  }
}
</script>

<style module lang="scss">
.gMap{
  height: 700px;
  margin-bottom: 50px;
}
:global(.GMap__Wrapper) {
  height: 700px;
}
</style>
