<template>
  <div :class="$style['homepage']">
    <LandingLead />
    <LandingForWho />
    <LandingBenifits />
    <LandingCollaborating />
    <LandingWorld />
    <LandingNews />
  </div>
</template>

<script>
export default {
  middleware: 'header/transparent',
  head: {
    title: 'Главная'
  }
  // mounted () {
  //   this.$nextTick(() => {
  //     this.$notify({
  //       type: 'info',
  //       title: 'Welcome'
  //     })
  //   })
  // }
}
</script>

<style module lang="scss">
.homepage{
  padding-top: 0 !important;
  & > section{
    margin-bottom: 120px;
    @include lg-block{
      margin-bottom: 100px;
    }
    @include md-block{
      margin-bottom: 80px;
    }
    @include xs-block{
      margin-bottom: 60px;
    }
  }
}
</style>
