<template>
  <div :class="$style['block']">
    <SignUpToolbar />
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Log in
          </template>
          <template #desc>
            Welcome back! Please login to your account
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div>
          <div
            :class="[
              'form_field field required',
              { has_error: $v.form.email.$error && validate },
            ]"
          >
            <label for="email">Phone number or e-mail</label>
            <input
              id="email"
              v-model="form.email"
              class="input"
              type="text"
              placeholder="Phone number or e-mail"
            >
            <div v-if="$v.form.email.$error && validate" class="help_block">
              <p v-if="!$v.form.email.required && $v.form.email.$dirty">
                {{ $t("Field is required.") }}
              </p>
            </div>
          </div>
          <div
            :class="[
              'form_field field required',
              { has_error: $v.form.password.$error && validate },
            ]"
          >
            <label for="password">Password</label>
            <UiFormInputPassword
              id="password"
              v-model="form.password"
              placeholder="Password"
              name="password"
              :value="form.password"
            />
            <div v-if="$v.form.password.$error && validate" class="help_block">
              <p v-if="!$v.form.password.required && $v.form.password.$dirty">
                {{ $t("Field is required.") }}
              </p>
              <p v-if="!$v.form.password.minLength && $v.form.password.$dirty">
                The code should consist of 6 digits, now
                {{ form.password.length }}
              </p>
            </div>
          </div>
        </div>
        <div :class="$style['block__forgot']">
          <nuxt-link :to="$getRoutePath('static/forgot')">
            Forgot password
          </nuxt-link>
        </div>
        <button
          :class="[
            $style['block__btn'],
            'btn btn--full',
            { 'btn--loading': sending },
          ]"
          :disabled="sending"
          type="submit"
        >
          Log in
        </button>
      </form>
      <div :class="$style['block__bottom']">
        <div :class="$style['block__or']">
          <span>Or</span>
        </div>
        <button
          :class="[
            $style['block__google'],
            'btn btn--white btn--full btn--with-icon btn--xl btn--with-icon-center',
          ]"
        >
          <svgicon name="sign/icon-google" :original="true" />
          <span> Continue with Google</span>
        </button>
        <div :class="$style['block__login']">
          Don’t have an account?
          <nuxt-link :to="$getRoutePath('static/signup1')">
            Sign up
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import '~/components/svg-icons/sign'
import { mapMutations } from 'vuex'
export default {
  name: 'Login',
  layout: 'empty',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      sending: false,
      validate: false
    }
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  methods: {
    ...mapMutations('login', ['SET_CSRF', 'AUTH_SUCCESS']),
    clearForm () {
      this.form = {
        email: '',
        password: ''
      }
      this.$v.$reset()
    },
    async submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        this.sending = true
        try {
          await this.$auth.loginWith('local', {
            data: this.form
          })
          const csrf = this.$cookies.get('csrf')
          this.SET_CSRF(csrf)
          this.AUTH_SUCCESS()
          this.$axios.setHeader('X-CSRF-TOKEN', csrf)
          this.$notify({
            type: 'success',
            title: 'You have successfully logged in'
          })
          this.$router.push('/app')
        } catch (error) {
          this.handleError(error)
        } finally {
          this.sending = false
        }
      }
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block {
      max-width: 375px;
    }
    @include xxs-block {
      max-width: 100%;
    }
  }
  &__heading {
    margin-bottom: 48px;
    @include lg-block {
      margin-bottom: 35px;
    }
  }
  &__forgot {
    text-align: right;
    margin-top: 16px;
    font-size: 16px;
    a {
      font-weight: 600;
      color: $clr-main-secondary;
    }
    @include lg-block {
      font-size: 14px;
      margin-top: 12px;
    }
  }
  &__btn {
    margin-top: 95px;
    @media (max-width: 1400px) {
      margin-top: 70px;
    }
  }
  &__bottom {
    margin-top: auto;
    button {
      margin-bottom: 48px;
      @include lg-block {
        margin-bottom: 40px;
      }
    }
  }
  &__or {
    margin-top: 50px;
    margin-bottom: 23px;
    text-align: center;
    color: $clr-bgc-icon;
    font-size: 12px;
    position: relative;
    span {
      width: 88px;
      background-color: #fff;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
    &:after {
      content: "";
      width: 100%;
      position: absolute;
      height: 1px;
      background: $clr-bgc-line;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  &__google {
    position: relative;
    :global(.svg-icon) {
      position: absolute;
      top: 50%;
      left: 58px;
      transform: translateY(-50%);
      @include xxs-block {
        left: 20px;
        font-size: 18px;
      }
    }
  }
  &__login {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: $clr-text-primary;
    @include lg-block {
      font-size: 16px;
    }
    @include xxs-block {
      font-size: 14px;
    }
    a {
      color: $clr-main-secondary;
      font-weight: 600;
      margin-left: 8px;
      @include xxs-block {
        margin-left: 4px;
      }
    }
  }
}
</style>
