<template>
  <div class="container">
    <h1>Looking-glass</h1>
  </div>
</template>

<script>
export default {
  name: 'LookingGlass',
  middleware: 'header/dark',
  head: {
    title: 'Looking glass'
  }
}
</script>
