<template>
  <div class="container">
    <h1>Network-map</h1>
  </div>
</template>

<script>
export default {
  name: 'NetworkMap',
  middleware: 'header/dark',
  head: {
    title: 'Network map'
  }
}
</script>
