<template>
  <div class="container">
    <h1>Privaсy policy</h1>
  </div>
</template>

<script>
export default {
  name: 'Policy',
  middleware: 'header/dark',
  head: {
    title: 'Privaсy policy'
  }
}
</script>
