<template>
  <div class="container">
    <h1>Services</h1>
  </div>
</template>

<script>
export default {
  name: 'Services',
  middleware: 'header/dark',
  head: {
    title: 'Services'
  }
}
</script>
