<template>
  <div class="container">
    <h1>Terms & Conditions</h1>
  </div>
</template>

<script>
export default {
  name: 'Terms',
  middleware: 'header/dark',
  head: {
    title: 'Terms & Conditions'
  }
}
</script>
