<template>
  <div class="container">
    <h1>Write-to-us</h1>
  </div>
</template>

<script>
export default {
  name: 'WriteToUs',
  middleware: 'header/dark',
  head: {
    title: 'Write to us'
  }
}
</script>
