<template>
  <div :class="$style['block']">
    <SignUpToolbar />
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Password recovery
          </template>
          <template #desc>
            Please enter the e-mail address you registered your account with. We
            will send you a verification code
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div
          :class="[
            'form_field field required',
            { has_error: $v.email.$error && validate },
          ]"
        >
          <label for="email">Email address</label>
          <input
            id="email"
            v-model.trim="email"
            class="input"
            type="email"
            placeholder="Enter your email"
          >
          <div v-if="$v.email.$error && validate" class="help_block">
            <p v-if="!$v.email.required && $v.email.$dirty">
              {{ $t("Field is required.") }}
            </p>
            <p v-if="!$v.email.email && $v.email.$dirty">
              {{ $t("Email is invalid.") }}
            </p>
          </div>
        </div>
        <button
          :class="[
            $style['block__btn'],
            'btn btn--full',
            { 'btn--loading': sending },
          ]"
          :disabled="sending"
          type="submit"
        >
          Send code
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
export default {
  name: 'ForgotPassword',
  layout: 'empty',
  data () {
    return {
      email: '',
      sending: false,
      validate: false
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    ...mapActions('login', ['recoveryPassword']),
    clearForm () {
      this.email = ''
      this.$v.$reset()
    },
    async submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        this.sending = true
        try {
          await this.recoveryPassword({ email: this.email })
          this.$router.push(this.$getRoutePath('static/guard'))
          this.clearForm()
        } catch (error) {
          console.log(error)
          this.handleError(error)
        } finally {
          this.sending = false
        }
      }
    }
  }
}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block {
      max-width: 375px;
    }
    @include xxs-block {
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block {
      margin-bottom: 35px;
    }
  }

  &__btn {
    margin-top: 95px;
    @media (max-width: 1400px) {
      margin-top: 70px;
    }
  }
}
</style>
