<template>
  <div :class="$style['block']">
    <SignUpToolbar :link="$getRoutePath('static/guard')" />
    <div :class="$style['block__inner']">
      <div :class="$style['block__heading']">
        <SignUpHeading>
          <template #title>
            Create a new password
          </template>
          <template #desc>
            Congratulations! You have verified your e-mail
            Please create a new password
          </template>
        </SignUpHeading>
      </div>
      <form :class="$style['block__form']" @submit.prevent="submitForm">
        <div :class="['form_field field required', {'has_error': $v.form.createPassword.$error && validate}]">
          <label for="create-password">Create password</label>
          <UiFormInputPassword id="create-password" v-model="form.createPassword" placeholder="Create password" name="create_password" :value="form.createPassword" />
          <div v-if="$v.form.createPassword.$error && validate" class="help_block">
            <p v-if="!$v.form.createPassword.required && $v.form.createPassword.$dirty">
              {{ $t('Field is required.') }}
            </p>
            <p v-if="!$v.form.createPassword.minLength && $v.form.createPassword.$dirty ">
              The code should consist of 6 digits, now {{ form.createPassword.length }}
            </p>
          </div>
        </div>
        <div :class="['form_field field required', {'has_error': $v.form.confirmPassword.$error && validate}]">
          <label for="confirm-password">Confirm password</label>
          <UiFormInputPassword id="confirm-password" v-model="form.confirmPassword" placeholder="Confirm password" name="confirm_password" :value="form.confirmPassword" />
          <div v-if="$v.form.confirmPassword.$error && validate" class="help_block">
            <p v-if="!$v.form.confirmPassword.required && $v.form.confirmPassword.$dirty">
              {{ $t('Field is required.') }}
            </p>
            <p v-else-if="!$v.form.confirmPassword.minLength && $v.form.confirmPassword.$dirty ">
              The code should consist of 6 digits, now {{ form.confirmPassword.length }}
            </p>
            <p v-else-if="!$v.form.confirmPassword.sameAs && $v.form.confirmPassword.$dirty ">
              {{ $t('Passwords must match') }}
            </p>
          </div>
        </div>
        <button :class="[$style['block__btn'],'btn btn--full', {'btn--loading': sending}]" :disabled="sending" type="submit">
          Create
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  name: 'NewPassword',
  layout: 'empty',
  data () {
    return {
      form: {
        createPassword: '',
        confirmPassword: ''
      },
      sending: false,
      validate: false
    }
  },
  validations: {
    form: {
      createPassword: {
        required,
        minLength: minLength(6)
      },
      confirmPassword: {
        required,
        sameAs: sameAs('createPassword'),
        minLength: minLength(6)
      }
    }
  },
  computed: {
    ...mapState('login', ['confirmCode'])
  },
  mounted () {
    if (!this.confirmCode) {
      this.SET_CONFIRM_CODE(localStorage.getItem('confirmCode'))
    }
  },
  methods: {
    ...mapActions('login', ['setPassword']),
    ...mapMutations('login', ['SET_CONFIRM_CODE']),
    clearForm () {
      this.form = {
        createPassword: '',
        confirmPassword: ''
      }
      this.$v.$reset()
    },
    async  submitForm () {
      this.$v.$touch()
      this.validate = true
      if (!this.$v.$invalid) {
        this.validate = false
        this.sending = true
        await this.setPassword(this.form.createPassword)
        this.sending = false
        this.$router.push(this.$getRoutePath('static/login'))
      }
    }
  }

}
</script>

<style module lang="scss">
.block {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    max-width: 456px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include lg-block{
      max-width: 375px;
    }
    @include xxs-block{
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 48px;
    @include lg-block{
      margin-bottom: 35px;
    }
  }

  &__btn {
    margin-top: 95px;
    @media(max-width: 1400px){
      margin-top: 70px;
    }
  }
}
</style>
