<template>
  <section :class="$style['benifits']">
    <div class="container">
      <div :class="$style['benifits__inner']">
        <div :class="$style['benifits__top']">
          <h2 class="heading">
            Benifits for users
          </h2>
          <p class="heading heading--desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div :class="$style['benifits__items']">
          <div :class="$style['benifits__items__inner']">
            <div v-for="(item, index) of benifits" :key="index" :class="$style['benifits__item']">
              <div :class="$style['benifits__item--icon']">
                <svgicon :name="item.icon" class="svg-icon-benifits" />
              </div>
              <div :class="$style['benifits__item--content']">
                <h3 :class="$style['benifits__item--content_title']">
                  {{ item.title }}
                </h3>
                <p :class="$style['benifits__item--content_desc']">
                  {{ item.desc }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import '~/components/svg-icons/benifits'
export default {
  name: 'Benifits',
  data () {
    return {
      benifits: [
        {
          title: 'Satisfied Cost',
          desc: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
          icon: 'benifits/icon-headphones'
        },
        {
          title: 'Satisfied Cost',
          desc: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
          icon: 'benifits/icon-dollar'
        },
        {
          title: 'Road Freight',
          desc: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
          icon: 'benifits/icon-truck'
        },
        {
          title: 'Sea Freight',
          desc: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
          icon: 'benifits/icon-ship'
        }
      ]
    }
  }
}
</script>

<style module lang="scss">
.benifits{
  padding: 64px 0 95px 0;
  background-image: url("~/static/images/landing/benifits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $clr-light-gray;
  @include xs-block{
    padding: 60px 0;
  }
  @include xxs-block{
    padding: 50px 0;
  }
  &__top{
    margin-left: auto;
    max-width: 620px;
    margin-bottom: 96px;
    @include md-block{
      max-width: 500px;
      margin-bottom: 70px;
    }
    @include xs-block{
      max-width: 430px;
      margin-bottom: 50px;
      text-align: center;
    }
    @include xs-block{
      max-width: 100%;
      margin-bottom: 40px;
    }
    //&--title{
    //  font-weight: 500;
    //  font-size: 72px;
    //  line-height: 110%;
    //  color: #fff;
    //  margin-bottom: 47px;
    //  @include md-block{
    //    font-size: 50px;
    //    margin-bottom: 20px;
    //  }
    //  @include sm-block{
    //    font-size: 45px;
    //    margin-bottom: 15px;
    //  }
    //  @include xxs-block{
    //    font-size: 32px;
    //    margin-bottom: 10px;
    //  }
    //}
    //&--desc{
    //  font-size: 18px;
    //  line-height: 1.3;
    //  @include md-block{
    //    font-size: 16px;
    //  }
    //  @include sm-block{
    //    font-size: 14px;
    //    line-height: 1.5;
    //  }
    //  @include xxs-block{
    //    font-size: 13px;
    //    line-height: 1.5;
    //  }
    //}
  }
  &__items{
    &__inner{
      @include row-flex();
      margin-top: -55px;
      margin-bottom: -55px;
      @include md-block{
        margin-top: -35px;
        margin-bottom: -35px;
      }
      @include sm-block{
        justify-content: center;
        margin-top: -25px;
        margin-bottom: -25px;
      }
      @include xs-block{
        margin-top: -15px;
        margin-bottom: -15px;
      }
    }
  }
  &__item{
    @include col();
    @include size(4.3);
    @include size-lg(5.5);
    @include size-md(6);
    @include size-sm(6);
    @include size-xs(12);
    margin: 55px 65px 55px 0;
    display: flex;
    @include md-block{
      margin-top: 35px;
      margin-bottom: 35px;
    }
    @include sm-block{
      margin-top: 25px;
      margin-bottom: 25px;
    }
    @include xs-block{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &--icon{
      border: 2px solid $clr-main-secondary;
      border-radius: 50%;
      margin-right: 20px;
      width: 112px;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      @include md-block{
        width: 95px;
        height: 95px;
        :global(.svg-icon-benifits){
          font-size: 55px;
        }
      }
      @include sm-block{
        margin-right: 15px;
      }
      @include xs-block{
        width: 85px;
        height: 85px;
        :global(.svg-icon-benifits){
          font-size: 45px;
        }
      }
    }
    &--content{
      max-width: 290px;
      &_title{
        font-weight: 600;
        font-size: 24px;
        color: $clr-light-gray;
        margin-bottom: 16px;
        @include md-block{
          font-size: 22px;
        }
        @include sm-block{
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      @include md-block{
        max-width: 100%;
      }
      &_desc{
        font-size: 18px;
        line-height: 130%;
        @include lg-block{
          font-size: 17px;
        }
        @include md-block{
          font-size: 14px;
        }
        @include sm-block{
          font-size: 13px
        }
        @include xs-block(){
          font-size: 14px;
        }
        @include xxs-block{
          font-size: 13px;
        }
      }
    }
  }
}
@include xxs-block(){
  .benifits {

    &__top {
      &--title {
        font-size: 32px;
        margin-bottom: 10px;
      }

      &--desc {
        font-size: 13px;
        line-height: 1.5;
      }
    }
    &__item {
      @include size-xxs(12);
      &--content{
        //max-width: 220px;
        &_desc{
          font-size: 13px;
        }
      }
    }
  }
}
</style>
