<template>
  <section :class="$style['collaborating']">
    <div class="container">
      <div :class="$style['collaborating__inner']">
        <div :class="$style['collaborating__top']">
          <h2 class="heading heading--primary">
            Collaborating with leading companies
          </h2>
          <p class="heading heading--desc heading--primary" :class="$style['collaborating__desc']">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div :class="$style['collaborating__items']">
          <div :class="$style['collaborating__items__inner']">
            <div v-for="(partner,index) of partners" :key="index" :class="$style['collaborating__item']">
              <img :src="partner.src" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Collaborating',
  data () {
    return {
      partners: [
        { src: require('~/static/images/landing/collaborating/contentful.svg') },
        { src: require('~/static/images/landing/collaborating/dataminr.svg') },
        { src: require('~/static/images/landing/collaborating/mambu.svg') },
        { src: require('~/static/images/landing/collaborating/contentful.svg') },
        { src: require('~/static/images/landing/collaborating/dataminr.svg') },
        { src: require('~/static/images/landing/collaborating/mambu.svg') }
      ]
    }
  }

}
</script>

<style module lang="scss">
.collaborating{
  &__top{
    color: $clr-text-primary;
    margin-bottom: 56px;
    max-width: 720px;
    @include md-block{
      margin-bottom: 40px;
    }
    @include xs-block{
      text-align: center;
    }
  }
  //&__title{
  //  font-weight: 500;
  //  font-size: 72px;
  //  line-height: 110%;
  //  margin-bottom: 45px;
  //  @include md-block{
  //    font-size: 55px;
  //    margin-bottom: 30px;
  //  }
  //  @include sm-block{
  //    font-size: 45px;
  //    margin-bottom: 20px;
  //  }
  //  @include xs-block{
  //    font-size: 38px;
  //  }
  //  @include xxs-block{
  //    font-size: 28px;
  //    margin-bottom: 15px;
  //  }
  //}
  &__desc{
    //font-size: 18px;
    //line-height: 130%;
    max-width: 560px;
    @include sm-block{
      //font-size: 16px;
      max-width: 100%;
    }
    //@include xs-block{
    //  font-size: 14px;
    //}
    //@include xxs-block{
    //  font-size: 13px;
    //}
  }
  &__items{
    &__inner{
      @include row-flex();
      justify-content: space-evenly;
      margin-top: -40px;
      margin-bottom: -40px;
      @include md-block{
        margin-top: -30px;
        margin-bottom: -30px;
      }
      @include sm-block{
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }
  }
  &__item{
    @include col();
    text-align: center;
    @include size(4);
    @include size-lg(4);
    @include size-md(4);
    @include size-sm(4);
    @include size-xs(6);
    @include size-xxs(12);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 45px;
    img{
      height: 100%;
    }
    @include md-block{
      height: 40px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include sm-block{
      height: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include xxs-block{
      height: 30px;
    }
  }
}
</style>
