<template>
  <section :class="$style['for-who']">
    <div class="container">
      <div :class="$style['for-who__inner']">
        <div :class="$style['for-who__items']">
          <div :class="$style['for-who__items__inner']">
            <div v-for="(item, index ) of forWho" :key="index" :class="$style['for-who__item']">
              <img :src="item.scr" :srcset="`${item.srcset} 1.5x`" :class="$style['for-who__img']">
              <h1 :class="$style['for-who__title']">
                {{ item.title }}
              </h1>
              <p :class="$style['for-who__desc']">
                {{ item.desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ForWho',
  data () {
    return {
      forWho: [
        {
          title: 'For individuals',
          desc: 'Best solutions for your home: fast internet connection, affordable cable TV, convenient home telephone SME',
          scr: require('~/static/images/landing/forWhy/individuals.jpg'),
          srcset: require('~/static/images/landing/forWhy/individuals@2x.jpg')
        },
        {
          title: 'SME',
          desc: 'We help companies to deal with their business needs promptly and efficiently',
          scr: require('~/static/images/landing/forWhy/sme.jpg'),
          srcset: require('~/static/images/landing/forWhy/sme@2x.jpg')
        },
        {
          title: 'For Carriers',
          desc: 'Best solutions for your home: fast internet connection, affordable cable TV, convenient home telephone SME',
          scr: require('~/static/images/landing/forWhy/carriers.jpg'),
          srcset: require('~/static/images/landing/forWhy/carriers@2x.jpg')
        },
        {
          title: 'Telecom operators',
          desc: 'We offer broadband internet and comprehensive solutions based on the technology of the Industrial Internet of Things (IIoT)',
          scr: require('~/static/images/landing/forWhy/telecom.jpg'),
          srcset: require('~/static/images/landing/forWhy/telecom@2x.jpg')
        }
      ]
    }
  }
}
</script>

<style module lang="scss">
.for-who{
  &__items{
    &__inner{
      @include row-flex();
      margin-top: -20px;
      margin-bottom: -20px;
      @include lg-block(){
        margin-bottom: -15px;
        margin-top: -15px;
      }
      @include sm-block(){
        justify-content: center;
        margin-top: -10px;
        margin-bottom: -10px;
      }
    }
  }
  &__item{
    @include col();
    @include size(5);
    &:first-child,
    &:last-child{
      @include size(7)
    }
    padding: 48px;
    position: relative;
    border: 1px solid $clr-bgc-grey;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 1400px){
      padding: 40px;
    }
    @include lg-block(){
      margin-top: 15px;
      margin-bottom: 15px;
      @include size-lg(5.5);
      &:first-child,
      &:last-child{
        @include size-lg(6.5)
      }
      padding: 32px;
    }
    @include md-block(){
      padding: 25px;
    }
    @include sm-block() {
      @include size-sm(12);
      &:first-child,
      &:last-child {
        @include size-sm(12)
      }
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @include xxs-block{
      padding: 20px;
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(7, 17, 42, 0.7);
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      transition: .5s all ease-in-out;
    }
    @include from(768px){
      &:hover{
        &::after{
          opacity: 1;
          visibility: visible;
        }
        //cursor: pointer;
        .for-who__img{
          opacity: 1;
          visibility: visible;
        }
        .for-who__title,
        .for-who__desc{
          color: #fff;
        }
      }
    }
  }
  &__img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .5s all ease-in-out;
  }
  &__title,
  &__desc{
    position: relative;
    z-index: 15;
    line-height: 130%;
    transition: .5s all ease;
  }
  &__title{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 144px;
    @media screen and (max-width: 1400px){
      font-size: 42px;
      margin-bottom: 120px;
    }
    @include lg-block{
      font-size: 38px;
      margin-bottom: 120px;
    }
    @include md-block{
      font-size: 32px;
      margin-bottom: 60px;
    }
    @include sm-block{
      margin-bottom: 40px;
    }
    @include xs-block{
      font-size: 28px;
    }
    @include xxs-block{
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  &__desc{
    font-size: 32px;
    @media screen and (max-width: 1400px){
      font-size: 28px;
    }
    @include lg-block{
      font-size: 26px;
    }
    @include md-block{
      font-size: 18px;
    }
    @include xs-block{
      font-size: 16px;
    }
    @include xxs-block{
      font-size: 14px;
    }
  }
}
</style>
