<template>
  <section :class="$style['lead']">
    <div class="container">
      <div :class="$style['lead__inner']">
        <div :class="$style['lead__topSlide']">
          <client-only>
            <swiper ref="topSwiper" :options="swiperTop">
              <swiper-slide v-for="slide of slides" :key="slide.id">
                <h2 :class="$style['lead__title']" class="heading heading--xxl heading--no_margin">
                  {{ slide && slide.title }}
                </h2>
              </swiper-slide>
            </swiper>
          </client-only>
        </div>
        <div :class="$style['lead__bottom']">
          <div :class="$style['lead__num']">
            <span>{{ '0' + numSlide }}</span> — {{ '0' + slides.length }}
          </div>
          <div :class="$style['lead__bottom__flex']">
            <div :class="$style['lead__bottom__left']">
              <client-only>
                <swiper ref="bottomSwiper" :options="swiperBottom">
                  <swiper-slide v-for="(slide, index) of slides" :key="index">
                    <p :class="$style['lead__desc']">
                      {{ slide && slide.desc }}
                    </p>
                  </swiper-slide>
                  <div slot="pagination" class="swiper-pagination" />
                </swiper>
              </client-only>
            </div>
            <div
              ref="sliderBtn"
              class="carousel-navigation"
              :class="$style['lead__navigation']"
            >
              <button slot="button-prev" :class="$style['lead-prev']" class="lead-pre">
                <svgicon name="slider/icon-left" class="svg-icon-slider-arrow" />
              </button>
              <button
                slot="button-next"
                ref="nextBtn"
                :class="$style['lead-next']"
                class="lead-nex"
              >
                <svgicon name="slider/icon-right" class="svg-icon-slider-arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import '~/components/svg-icons/slider'
export default {
  name: 'Lead',
  data () {
    return {
      currentIndex: null,
      numSlide: 1,
      slides: [
        { title: 'Truck brokerage system has arrived', desc: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.' },
        { title: 'Transportation Management System', desc: 'Sell, ship, and track with ease by choosing multiple courier partners through one single shipping platform' },
        { title: 'Optimize Supply Chain Logistics', desc: 'The TMS suite is specifically engineered to help lower freight costs, reduce logistics risk and strengthen overall customer experience. All through the power of connecting digitally with carriers and other key logistics partners.' },
        { title: 'TMS Platform - Digital Shipping Platform', desc: 'Create an order and post  loads about your shipment for free and accept offers from the best carriers right away. Free! Add your cargo and thousands of verified carriers...' }
      ],
      swiperTop: {
        slidesPerView: 1,
        allowTouchMove: false,
        loop: true
        // autoplay: true
      },
      swiperBottom: {
        slidesPerView: 1,
        speed: 700,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar'
        },
        allowTouchMove: false,
        navigation: {
          nextEl: '.lead-nex',
          prevEl: '.lead-pre'
        },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        }
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      setTimeout(() => {
        const topSwiper = this.$refs.topSwiper.$swiper
        const bottomSwiper = this.$refs.bottomSwiper.$swiper
        bottomSwiper.controller.control = topSwiper
        bottomSwiper.on('slideChangeTransitionEnd', () => {
          console.log(2)
          this.numSlide = ++bottomSwiper.realIndex
          // ++bottomSwiper.realIndex
        })
      }, 0)
    })
  }
}
</script>

<style module lang="scss">
.lead{
  background-image: url('~/static/images/landing/slide.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 300px 0 50px 0;
    min-height: 100vh;
    @media screen and (max-width: 1500px){
      padding: 190px 0 50px 0;
    }
    @include md-block{
      padding: 165px 0 50px 0;
    }
    @include sm-block{
      padding: 180px 0 50px 0;
    }
    @include xs-block() {
      padding: 150px 0 50px 0;
    }
    @include xxs-block() {
      padding: 180px 0 30px 0;
    }
  }
  &__title{
    //font-weight: 500;
    //font-size: 100px;
    //line-height: 1.1;
    //color: #fff;
    max-width: 1165px;
    padding-bottom: 5px;
    @media screen and (max-width: 1500px){
      //font-size: 70px;
      max-width: 1000px;
      //line-height: 1.2;
    }
    //@include lg-block{
    //  font-size: 65px;
    //}
    @include md-block{
      //font-size: 60px;
      max-width: 100%;
    }
    //@include sm-block {
    //  font-size: 45px;
    //}
    //@include xs-block() {
    //  font-size: 40px;
    //}
    //@include xxs-block() {
    //  font-size: 32px;
    //}
  }
  &__desc{
    font-size: 18px;
    line-height: 130%;
    color: $clr-light-gray;
    @media screen and (max-width: 1500px) {
      line-height: 150%;
    }
    @include lg-block{
      font-size: 15px;
      line-height: 170%;
    }
    @include md-block{
      font-size: 14px;
      line-height: 150%;
    }
    @include sm-block() {
      margin-bottom: 20px;
    }
    @include xxs-block() {
      font-size: 12px;
      line-height: 160%;
    }
  }
  &__num{
    color: $clr-gray;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
    @media screen and (max-width: 1500px) {
      margin-bottom: 30px;
      font-size: 16px;
    }
    @include md-block{
      font-size: 14px;
    }
    @include sm-block{
      font-size: 13px;
      margin-bottom: 15px;
    }
    span{
      color: #fff;
    }
  }
  &__bottom{
    max-width: 965px;
    margin-left: auto;
    @media screen and (max-width: 1500px){
      max-width: 1100px;
    }
    @include lg-block(){
      max-width: 780px;
    }
    @include sm-block(){
      max-width: 100%;
    }
    &__flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-top: 60px;
      @media screen and (max-width: 1500px) {
        padding-top: 40px;
      }
      @include lg-block(){
        padding-top: 50px
      }
      @include sm-block() {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 30px;
      }
    }
    &__left{
      max-width: 720px;
      margin-right: 30px;
      @include lg-block(){
        max-width: 570px;
      }
      @include sm-block(){
        max-width: 100%;
      }
    }
  }
  :global(.swiper-pagination-progressbar){
    background: $clr-gray;
    height: 3px;
  }
  :global(.swiper-pagination-progressbar .swiper-pagination-progressbar-fill){
    background: $clr-main-secondary;
    transition: all .5s ease-in !important;
  }
  :global(.swiper-container),
  :global(.swiper-wrapper){
    position: static;
  }
  :global(.swiper-slide-active){
    opacity: 1;
  }
  :global(.swiper-slide-next){
    opacity: 0;
    transition: .5s;
  }
  &__navigation{
    display: flex;
    align-items: center;
    :global(.svg-icon-slider-arrow){
      flex: 0 0 auto;
    }
  }
  .lead-prev,
  .lead-next{
    border: 1px solid $clr-gray;
    border-radius: 50%;
    background: transparent;
    outline: none;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    //margin-left: 20px;
  }
  .lead-prev{
    margin-right: 60px;
    @media screen and (max-width: 1500px) {
      margin-right: 30px;
    }
    @include lg-block(){
      margin-right: 40px;
    }
    @include md-block() {
      margin-right: 30px;
    }
  }
}

@include md-block(){
  :global(.svg-icon-slider-arrow){
    font-size: 16px;
  }
}
</style>
