<template>
  <div :class="mobileMenuClasses">
    <div :class="$style['mobile_menu__inner']">
      <div class="container">
        <div :class="$style['mobile_menu__wrapper']">
          <div :class="$style['mobile_menu__phone']">
            <a href="tel:+18085550111">+1 (808) 555-0111</a>
          </div>
          <div :class="$style['mobile_menu__list']">
            <ul>
              <li v-for="(item, index) in menu" :key="index" @click="handleMobileMenu">
                <nuxt-link :to="$getRoutePath(item.link)" no-prefetch>
                  {{ item.name }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <!--            <div v-if="!isLoggedIn" :class="$style['mobile_menu__actions']">-->
          <!--              <nuxt-link :to="$getRoutePath('static/sign-in')" class="btn btn&#45;&#45;primary" no-prefetch>-->
          <!--                Sign In/Sign Up-->
          <!--              </nuxt-link>-->
          <!--            </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'AppMobileMenu',
  data () {
    return {
      menu: [
        { name: 'About', link: 'static/about' },
        { name: 'Features', link: 'static/features' },
        { name: 'Services', link: 'static/services' },
        { name: 'Career', link: 'static/career' },
        { name: 'Contacts', link: 'static/contacts' }
      ]
    }
  },
  computed: {
    ...mapState(['mobileMenu', 'theHeader']),
    mobileMenuClasses () {
      return [
        this.$style.mobile_menu,
        {
          [this.$style['mobile_menu--open']]: this.mobileMenu.open,
          [this.$style['mobile_menu--white']]: this.theHeader.white
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      toggleMenu: 'mobileMenu/toggleMenu'
    }),
    handleMobileMenu () {
      this.toggleMenu()
    }
  }
}
</script>

<style lang="scss" module>
.mobile_menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #060F26;
  /*color: #ffffff;*/
  overflow-y: auto;
  z-index: 95;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  text-align: center;
  &__inner{
    padding-top: 120px;
  }
  &__wrapper{
    max-width: 280px;
    margin: 0 auto;
  }
  &__actions{
    margin: 30px 0;
  }
  &__phone{
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 0 0 20px 0;
    a{
      color: #fff;
    }
  }
  &__list{
    margin: 30px 0;
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-weight: 700;
    }
    li{
      margin: 10px 0;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      @include sm-block{
        font-size: 16px;
      }
    }
    a{
      color: #fff;
    }

  }
  &--open{
    @include sm-block(){
      opacity: 1;
      visibility: visible;
    }
  }
  &--white{
    background-color: #fff;
    a{
      color: $clr-text-primary;
    }
  }
  //&--mobile-app-message{
  //  .mobile_menu__inner{
  //    padding-top: 195px;
  //  }
  //}
}
</style>
