<template>
  <section :class="$style['world']">
    <div class="container">
      <div :class="$style['world__inner']">
        <div :class="$style['world__percent']">
          <div :class="$style['world__num']">
            80%
          </div>
          <p :class="$style['world__desc']">
            Amet minim mollit non deserunt ullamco
          </p>
        </div>
        <h2 :class="$style['world__title']" class="heading heading--xs_center">
          One of the largest brokerage platforms in the USA
        </h2>
        <div :class="$style['world__link']">
          <nuxt-link :to="$getRoutePath('static/contacts')">
            <svgicon name="icon-world-location" class="svg-icon-world-location" />
            Go to communication operators
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import '~/components/svg-icons/icon-world-location'
export default {
  name: 'World'
}
</script>

<style module lang="scss">
.world{
  padding: 180px 0 100px 0;
  color: #fff;
  background-image: url("~/static/images/landing/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include lg-block{
    padding: 120px 0 100px 0;
  }
  @include md-block{
    padding: 100px 0 80px 0;
  }
  @include sm-block{
    padding: 80px 0;
  }
  @include xxs-block{
    padding: 80px 0;
  }
  &__percent{
    display: flex;
    align-items: center;
    margin-bottom: 125px;
    @include lg-block{
      margin-bottom: 90px;
    }
    @include sm-block{
      margin-bottom: 90px;
    }
    @include xxs-block{
      margin-bottom: 90px;
    }
  }
  &__num{
    font-size: 64px;
    line-height: 130%;
    margin-right: 14px;
    @include lg-block{
      font-size: 50px;
    }
    @include md-block{
      font-size: 40px;
    }
    @include sm-block{
      font-size: 38px;
    }
    @include xxs-block {
      font-size: 35px;
    }
  }
  &__desc{
    font-size: 24px;
    line-height: 130%;
    @include lg-block{
      font-size: 22px;
    }
    @include md-block{
      font-size: 20px;
    }
    @include sm-block{
      font-size: 16px;
    }
    @include xxs-block {
      font-size: 15px;
    }
  }
  &__title{
    //font-weight: 500;
    //font-size: 72px;
    //line-height: 130%;
    margin-bottom: 185px;
    //color: #fff;
    @include lg-block(){
      //font-size: 60px;
      margin-bottom: 140px;
    }
    //@include md-block{
    //  font-size: 46px;
    //}
    //@include sm-block{
    //  font-size: 40px;
    //}
    //@include xs-block{
    //  text-align: center;
    //}
    @include xxs-block {
      //font-size: 32px;
      margin-bottom: 110px;
    }
  }
  &__link{
    a{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      color: $clr-light-gray;
      text-decoration: underline;
      @include lg-block(){
        font-size: 22px;
      }
      @include md-block{
        font-size: 20px;
      }
      @include sm-block{
        font-size: 18px;
      }
      @include xxs-block {
        font-size: 16px;
      }
    }
    :global(.svg-icon-world-location){
      margin-right: 18px;
      @include lg-block(){
        font-size: 36px;
      }
      @include md-block{
        font-size: 32px;
      }
      @include sm-block{
        font-size: 28px;
        margin-right: 12px;
      }
      @include xxs-block {
        font-size: 26px;
      }
    }
  }
}
</style>
