<template>
  <div :class="[$style['sidebar'], { [$style['sidebar--minify']] : minify}]">
    <div :class="$style['sidebar__inner']">
      <div :class="$style['sidebar__logo']">
        <nuxt-link :to="$getRoutePath('carrier/dashboard')">
          <svgicon v-if="minify" name="logo" class="svg-icon-logo" :original="true" />
          <svgicon v-else name="logo-long" class="svg-icon-logo-long" :original="true" />
        </nuxt-link>
      </div>
      <nav :class="$style['sidebar__nav']">
        <ul>
          <li v-for="(item, i) in menu" :key="i">
            <nuxt-link :to="$getRoutePath(item && item.path)">
              <svgicon :name="`sidebar/${item && item.icon}`" class="svg-icon-app-sidebar" /> <span v-if="!minify">{{ item && item.name }}</span>
            </nuxt-link>
          </li>
        </ul>
        <div :class="$style['sidebar__minify_toggle']" @click="minifyToggle(!minify)">
          <svgicon name="sidebar/icon-minify-toggle" />
        </div>
      </nav>
      <nav :class="$style['sidebar__nav']">
        <ul>
          <li>
            <nuxt-link :to="$getRoutePath('carrier/support')">
              <svgicon name="sidebar/support" class="svg-icon-app-sidebar" /> <span v-if="!minify">Help & Support</span>
            </nuxt-link>
          </li>
          <li>
            <a @click.prevent="logout">
              <svgicon name="sidebar/logout" class="svg-icon-app-sidebar" /> <span v-if="!minify">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import '@/components/svg-icons/logo'
import '@/components/svg-icons/logo-long'
import '@/components/svg-icons/sidebar'
export default {
  name: 'Sidebar',
  props: ['minify'],
  data () {
    return {
      menu: [
        {
          name: 'Dashboard',
          path: 'carrier/dashboard',
          icon: 'home'
        },
        {
          name: 'Search loads',
          path: 'carrier/search-loads',
          icon: 'search'
        },
        {
          name: 'Post Truck',
          path: 'carrier/post-truck',
          icon: 'truck-tick'
        },
        {
          name: 'Messages',
          path: 'carrier/messages',
          icon: 'chat'
        },
        {
          name: 'Quote & Bid',
          path: 'carrier/quote',
          icon: 'quote'
        },
        {
          name: 'Settings',
          path: 'carrier/settings',
          icon: 'setting'
        }
      ]
    }
  },
  methods: {
    logout () {
      console.log('выйти')
      this.$notify({
        type: 'success',
        title: 'You have been logged out'
      })
      setTimeout(() => {
        this.$router.push('/')
      }, 2000)
    },
    minifyToggle (val) {
      this.$emit('minify', val)
    }
  }
}
</script>

<style lang="scss" module>
.sidebar{
  &__inner{
  }
  &__logo{
    padding: 40px 24px;
    a{
      display: block;
    }
  }
  &__minify_toggle{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    :global(.svg-icon){
      font-size: 20px;
      color: $clr-bgc-icon;
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
  &__nav {
    position: relative;
    border-top: 1px solid $clr-bgc-line;
    padding-top: 40px;

    &:not(:last-child) {
      margin-bottom: 64px;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        color: $clr-text-caption;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        a {
          display: flex;
          align-items: center;
          padding: 10px 35px;
          flex-grow: 1;
          color: $clr-text-caption;
          //transition: .3s;
          position: relative;

          &:hover {
            background: rgba(44, 110, 239, 0.04);
            cursor: pointer;
          }

          &:after {
            content: '';
            width: 3px;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: transparent;
            transition: .3s;
            border-radius: 25px;
          }

          &:global(.nuxt-link-active) {
            color: $clr-main-secondary;
            background: rgba(44, 110, 239, 0.04);

            svg {
              color: $clr-main-secondary;
            }

            &:after {
              background-color: $clr-main-secondary;
            }
          }
        }
        svg {
          margin-right: 12px;
        }
      }
    }
  }
  &--minify{
    .sidebar__minify_toggle{
      :global(.svg-icon){
        transform: rotate(0);
      }
    }
    .sidebar__logo{
      padding: 40px 10px 40px 24px;
      :global(.svg-icon-logo){
        color: #1E1E46;
        font-size: 48px;
      }
    }
    .sidebar__nav{
      ul li{
        justify-content: center;
        a{
          width: 50px;
          height: 50px;
          padding: 15px;
          flex-grow: 0;
          border-radius: 8px;
          &:after{
            content: none
          }
          &:global(.nuxt-link-exact-active) {
            background: rgba(44, 110, 239, 0.1);
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        svg{
          margin: 0;
        }
      }
    }
  }
}
</style>
