<!--      ИДЕЯ! Зачем делать 2 одинаковых компонента, когда мы можем просто передавать разный объект result в компонент table? тогда и все методы так же будут прописаны тут, и все будет работать для каждого отдельного комопнента, Нужно дождаться бэк и уже когда будет интерграция решать что и как делать, изначально не было разделения на containers и lodas поэтому комеонент выглядит недоработаным-->
<!-- мы можем или оставить всю логику тут и передавать по props или все таки вынести в каждый комонент (модалки, методы, в приницпе из за изменения дизайна может потребоваться полная передалка страницы, раньше табов не было), уже решистя когда будет бэк-->
<template>
  <div :class="$style['block']">
    <div :class="$style['block__header']">
      <h2>Post Truck</h2>
      <button v-if="newPost" class="btn btn--with-icon btn--light" @click.prevent="newPost = false">
        <svgicon name="icon-close" class="svg-icon-plus" />
        Close
      </button>
      <button v-else class="btn btn--with-icon" @click.prevent="newPost = true">
        <svgicon name="icon-plus" class="svg-icon-plus" />
        Post Truck
      </button>
    </div>
    <div :class="$style['block__tabs']">
      <button :class="{[$style['active']] : activeTab === 'containers'}" @click.prevent="changeTab('containers')">
        Containers
      </button>
      <button :class="{[$style['active']] : activeTab === 'loads'}" @click.prevent="changeTab('loads')">
        Other loads
      </button>
    </div>
    <template v-if="newPost">
      <!--      так же и логика в new post: Или выности табы туда, или опираться на табы которые тут, и менять там контент, все решится на этапе интеграции-->
      <AppPostTruckNew @addPost="newPost = $event" />
    </template>
    <template v-else-if="result && result.tbody.length > 0">
      <!--      <AppPostTruckContainers-->
      <!--        v-if="activeTab === 'containers'"-->
      <!--        :result="result"-->
      <!--        @deletePost="deletePostOpen"-->
      <!--        @selectedAll="selectAll"-->
      <!--        @deleteAllPosts="deleteAllPostsOpen"-->
      <!--        @changeStatus="changeStatusOpen"-->
      <!--      />-->
      <!--      <AppPostTruckLoads-->
      <!--        v-else-if="activeTab === 'loads'"-->
      <!--        :result="result"-->
      <!--        @deletePost="deletePostOpen"-->
      <!--        @selectedAll="selectAll"-->
      <!--        @deleteAllPosts="deleteAllPostsOpen"-->
      <!--        @changeStatus="changeStatusOpen"-->
      <!--      />-->
      <AppPostTruckTable
        :result="result"
        @deletePost="deletePostOpen"
        @selectedAll="selectAll"
        @deleteAllPosts="deleteAllPostsOpen"
        @changeStatus="changeStatusOpen"
      />
    </template>
    <template v-else-if="(!newPost && !result) || result.tbody.length == 0">
      <AppPostTruckEmpty @newPost="newPost = $event" />
    </template>
    <client-only>
      <modal
        name="delete-post"
        :adaptive="true"
        :focus-trap="true"
        :click-to-close="false"
        :width="460"
        height="auto"
      >
        <div class="modal__wrapper">
          <h3 class="modal__title">
            Are you sure you want to delete this post?
          </h3>
          <p class="modal__text">
            This post will be deleted permanently and will not be  visible for other users
          </p>
          <div class="modal__btn--flex">
            <button class="btn btn--white" @click="closeModal">
              Cancel
            </button>
            <button class="btn btn--with-icon btn--danger" :class="{ 'btn--loading': sending }" @click="deletePost">
              <svgicon name="icon-delete" />
              Delete
            </button>
          </div>
        </div>
      </modal>
    </client-only>
    <client-only>
      <modal
        name="delete-all-posts"
        :adaptive="true"
        :focus-trap="true"
        :click-to-close="false"
        :width="460"
        height="auto"
      >
        <div class="modal__wrapper">
          <h3 class="modal__title">
            Are you sure you want to delete all these posts?
          </h3>
          <p class="modal__text">
            All these posts will be permanently deleted and will not be visible to other users.
          </p>
          <div class="modal__btn--flex">
            <button class="btn btn--white" @click="closeModal">
              Cancel
            </button>
            <button class="btn btn--with-icon btn--danger" :class="{ 'btn--loading': sending }" @click="deleteAllPosts">
              <svgicon name="icon-delete" />
              Delete
            </button>
          </div>
        </div>
      </modal>
    </client-only>
    <client-only>
      <modal
        name="change-status"
        :adaptive="true"
        :focus-trap="true"
        :click-to-close="false"
        :width="460"
        height="auto"
      >
        <div class="modal__wrapper">
          <h3 class="modal__title">
            Change status
          </h3>
          <p class="modal__text">
            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor
          </p>
          <div class="modal__btn--flex">
            <div class="radio radio--posted">
              <input
                id="posted"
                v-model="statusPost"
                type="radio"
                name="status"
                value="Posted"
              >
              <label for="posted">
                <div>
                  <svgicon name="icon-checked" />
                  Posted
                </div>
              </label>
            </div>
            <div class="radio radio--expired">
              <input
                id="expired"
                v-model="statusPost"
                type="radio"
                name="status"
                value="Expired"
              >
              <label for="expired">
                <div>
                  <svgicon name="icon-close" />
                  Expired
                </div>
              </label>
            </div>
          </div>
          <div class="modal__btn--flex">
            <button class="btn btn--white" @click="closeModal">
              Cancel
            </button>
            <button class="btn btn--light" :class="{ 'btn--loading': sending }" @click="saveChangeStatus(statusPost, changeStatusId)">
              Save
            </button>
          </div>
        </div>
      </modal>
    </client-only>
  </div>
</template>

<script>
import '@/components/svg-icons/icon-plus'
import '@/components/svg-icons/icon-close'
import '@/components/svg-icons/icon-checked'
import '@/components/svg-icons/icon-delete'

export default {
  name: 'PostTruck',
  layout: 'app',
  data () {
    return {
      activeTab: 'loads',
      newPost: false,
      deletePostId: null,
      deleteAllPostsId: null,
      changeStatusId: null,
      statusPost: '',
      sending: false,
      result: {
        thead: ['Origin', 'Destination', 'Available time', 'Type', 'Equipment Type', 'Equipment Size(ft)', 'Status'],
        tbody: [
          {
            id: 1,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Posted',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 2,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Expired',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 3,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Posted',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 4,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Posted',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 5,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Expired',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          },
          {
            id: 6,
            check: false,
            origin: 'Pennsauken, NJ',
            destination: 'New Alexandria, OH',
            available_time: '05/18/2022 - 05/23/2022',
            type: 'Container',
            equipment_type: 'Removable Gooseneck',
            equipment_size: '53',
            status: 'Posted',
            details: {
              origin: {
                address: 'Pennsauken, NJ 78624',
                date: '05/18/2022'
              },
              destination: {
                address: 'New Alexandria, OH 54924',
                date: '05/24/2022'
              },
              available_time: '05/18/2022 - 05/23/2022',
              posted_time: '05/16/2022',
              owner_name: 'Leslie Alexander',
              contacts: '(671) 555-0110',
              comments: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.'
            }
          }
        ]
      }
    }
  },
  methods: {
    // open modal
    deletePostOpen (id) {
      this.deletePostId = id
      this.$modal.show('delete-post')
    },
    deleteAllPostsOpen (ids) {
      this.deleteAllPostsId = ids
      this.$modal.show('delete-all-posts')
    },
    changeStatusOpen (id) {
      this.changeStatusId = id
      const currentPost = this.result && this.result.tbody.find(el => el.id === id)
      this.statusPost = currentPost.status
      this.$modal.show('change-status')
    },
    // close modal
    closeModal () {
      this.$modal.hide('delete-post')
      this.$modal.hide('delete-all-posts')
      this.$modal.hide('change-status')
    },
    // logic modal
    deletePost () {
      console.log(`delete post номер ${this.deletePostId}`)
      this.sending = true
      setTimeout(() => {
        const currentPost = this.result && this.result.tbody.findIndex(el => el.id === this.deletePostId)
        console.log(currentPost)
        this.result && this.result.tbody.splice(currentPost, 1)
        this.$modal.hide('delete-post')
        this.$notify({
          type: 'success',
          title: 'Post Delete'
        })
        this.sending = false
      }, 3000)
    },
    deleteAllPosts () {
      console.log(`delete все posts с id: ${this.deleteAllPostsId}`)
      this.sending = true
      setTimeout(() => {
        this.$modal.hide('delete-all-posts')
        this.$notify({
          type: 'success',
          title: 'Selected posts have been deleted'
        })
        this.sending = false
      }, 3000)
    },
    saveChangeStatus (val, id) {
      console.log(`Сменить статус на ${val}, в посте с id: ${id}`)
      this.sending = true
      setTimeout(() => {
        const currentPost = this.result && this.result.tbody.find(el => el.id === id)
        currentPost.status = val
        this.$modal.hide('change-status')
        this.$notify({
          type: 'success',
          title: 'Selected posts have been deleted'
        })
        this.sending = false
      }, 3000)
    },
    // selectAll checkbox - надо чуть доработать
    selectAll (val) {
      this.result && this.result.tbody.forEach((el) => {
        el.check = val
      })
    },
    changeTab (val) {
      this.activeTab = val
    }
  }
}
</script>
<style lang="scss" module>
.block{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    h2{
      font-size: 32px;
      line-height: 1;
    }
    :global(.btn){
      font-size: 16px;
      padding: 12px 28px;
    }
  }
  &__tabs{
    display: flex;
    justify-content: space-between;
    background: rgba(241, 241, 243, 0.6);
    padding: 4px;
    border-radius: 12px;
    max-width: 80%;
    margin: 0 auto 36px;
    button{
      flex-grow: 1;
      text-align: center;
      border-radius: 12px;
      padding: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      color: $clr-text-secondary;
      transition: .3s;
      cursor: pointer;
      &.active{
        background-color: #fff;
        color: $clr-text-primary;
        cursor: default;
      }
    }
  }
}
</style>
