<template>
  <div>
    <h1>Quote & bid</h1>
  </div>
</template>

<script>
export default {
  name: 'Quote',
  layout: 'app',
  data: () => ({
    isLoading: true,
    fullPage: true
  }),
  methods: {

    onCancel () {
      console.log('User cancelled the loader.')
    }
  }
}
</script>
