<template>
  <div :class="$style.block">
    <div :class="$style['block__inner']">
      <div :class="$style['block__tabs']">
        <button :class="{[$style['active']] : activeTab === 'containers'}" @click.prevent="changeTab('containers')">
          Search Containers
        </button>
        <button :class="{[$style['active']] : activeTab === 'loads'}" @click.prevent="changeTab('loads')">
          Search loads
        </button>
      </div>
      <div v-if="activeTab ==='loads'" :class="$style['block__loads']">
        <AppSearchLoadsLoad />
      </div>
      <div v-if="activeTab ==='containers'" :class="$style['block__containers']">
        <AppSearchLoadsContainers />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'SearchLoads',
  layout: 'app',
  data () {
    return {
      activeTab: 'loads'

    }
  },
  async created () {
    try {
      await this.fetchState()
      await this.fetchEquipments()
    } catch ({ message }) {
      this.$notify({
        group: 'notify',
        type: 'error',
        text: message
      })
    }
  },
  methods: {
    ...mapActions('load', ['fetchState', 'fetchEquipments']),
    changeTab (val) {
      this.activeTab = val
    }
  }
}
</script>

<style lang="scss" module>
.block{
  &__tabs{
    display: flex;
    justify-content: space-between;
    background: rgba(241, 241, 243, 0.6);
    padding: 4px;
    border-radius: 12px;
    max-width: 80%;
    margin: 0 auto 36px;
    button{
      flex-grow: 1;
      text-align: center;
      border-radius: 12px;
      padding: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      color: $clr-text-secondary;
      transition: .3s;
      cursor: pointer;
      &.active{
        background-color: #fff;
        color: $clr-text-primary;
        cursor: default;
      }
    }
  }
}
</style>
