<!--Решатть проблему со всеми скролами, выглядят и работают парашно-->
<template>
  <div :class="$style['block']">
    <div :class="$style['block__inner']">
      <div :class="$style['block__header']">
        <h3>Settings</h3>
        <div :class="$style['block__actions']">
          <button class="btn btn--md btn--light">
            Cancel
          </button>
          <button class="btn btn--md" :disabled="true">
            Save
          </button>
        </div>
      </div>
      <div :class="$style['block__content']">
        <nav :class="$style['block__sidebar']">
          <ul>
            <li v-for="(item, i) in menu" :key="i">
              <nuxt-link :to="item && item.path">
                {{ item && item.name }}
              </nuxt-link>
            </li>
          </ul>
        </nav>
        <div :class="$style['block__main']">
          <div :class="$style['block__main__inner']">
            <nuxt-child />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Settings',
  layout: 'app',
  data () {
    return {
      haveScroll: false,
      menu: [
        { name: 'Account', path: this.$getRoutePath('carrier/settingsAccount') },
        { name: 'My cards', path: this.$getRoutePath('carrier/settingsMyCards') },
        { name: 'Change password', path: this.$getRoutePath('carrier/settingsChangePassword') },
        { name: 'Rating & Reviews', path: this.$getRoutePath('carrier/settingsRating') },
        { name: 'Default Rates', path: this.$getRoutePath('carrier/settingsRates') }
      ]
    }
  }
}
</script>

<style module lang="scss">
.block{
  &__header{
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__actions{
    display: flex;
    align-items: center;
    button:not(:last-child){
      margin-right: 16px;
    }
  }
  &__content{
    display: flex;
    align-items: flex-start;
  }
  &__sidebar{
    min-height: 400px;
    flex: 0 0 280px;
    padding: 24px 0;
    background-color: #fff;
    border-radius: 16px;
    margin-right: 16px;
    ul {
      li {
        display: block;
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        a {
          display: block;
          padding: 10px 24px;
          flex-grow: 1;
          color: $clr-text-secondary;
          position: relative;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.25;

          &:hover {
            background: rgba(44, 110, 239, 0.04);
            cursor: pointer;
          }

          &:after {
            content: '';
            width: 3px;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: transparent;
            transition: .3s;
            border-radius: 25px;
          }

          &:global(.nuxt-link-active) {
            color: $clr-main-secondary;
            background: rgba(44, 110, 239, 0.04);
            &:after {
              background-color: $clr-main-secondary;
            }
          }
        }
      }
    }
  }
  &__main{
    flex: 1;
    margin-right: 188px;
    max-height: calc(100vh - 225px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 12px;
    &__inner{
      background: #FFFFFF;
      border-radius: 16px;
      padding: 32px 40px 56px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 16px;
      background-color: #F1F1F3;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #F1F1F3;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #D0CFDC;
      border-radius: 16px;
    }
  }
}
</style>
